﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MateriaBancoDTO

@{
    Layout = null;
}

<dl class="dl-horizontal">
    <dt>
        <label asp-for="Codigo" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="Codigo" class="form-control" readonly />
    </dd>
    <dt>
        <label asp-for="Descripcion" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="Descripcion" class="form-control" readonly />
    </dd>
    <dt>
        <label asp-for="MateriaPadreDescripcion" style="font-size:15px;">Materia Padre</label>
    </dt>
    <dd>
        <input asp-for="MateriaPadreDescripcion" class="form-control" readonly />
    </dd>
</dl>


<script type="text/javascript">
    $(function (e) {
        $('#Codigo').val($('#Codigo').val().trim());
        $('#Descripcion').val($('#Descripcion').val().trim());
        $('#MateriaPadreDescripcion').val($('#MateriaPadreDescripcion').val().trim());
    });
</script>


