﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MateriaBancoDTO

@{
    ViewData["Title"] = "Materias de Banco";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID Materias</th>
            <th>Descripción</th>
            <th>Materia Padre</th>
            <th class="col-acciones">Acciones</th>
        </tr>
    </thead>
</table>
<hr />
<p class="text-right">
    <a class="btn btn-danger" href=@Url.Action("Create", "MateriaBanco")>Ingresar Nuevo Registro</a>
</p>
@section Scripts{
    <script type="text/javascript">

        $(function () {

            var exito = '@TempData["Exito"]';

            if( exito == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }            

            $('#modal-detalle').on('hidden.bs.modal', function (e) {

                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');

                // and empty the modal-content element
                $('#modal-detalle .modal-body').empty();
                $('#modal-detalle .modal-body').html('<img src="../images/loading.gif"/>');
            });

            $(document).on('click', '#example #btnDetalle', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal-detalle').html('Detalle Registro Materia de Banco');

                console.log(url);
                url = url.replace(/\s/g, '%20');
                console.log(url);
                $('#modal-detalle .modal-body').load(url, function(data){
                    setTimeout(function(){
                        $('#modal-loading').modal('hide');
                        $('#modal-detalle').modal('show');
                    }, 500);
                });
            });
            //%20

            $('#example').DataTable({
                'ajax': '@Url.Action("List")',
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type':'GET',
                'columns': [
                    {
                        'data': 'codigo',
                        'visible': false
                    },
                    { 'data': 'descripcion' },
                    { 'data': 'materiaPadreDescripcion' }
                ],
                'columnDefs': [
                    {
                        'width': "130px",
                        'targets': [3],
                        'render': function (data, type, row) {
                            return '<a style="padding:0px;margin-left:10px;" class="btn btn-default" id="btnEditar" href="@Url.Action("Edit", "MateriaBanco")/' + row.codigo + '"><div class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></div></a>'
                                + '<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnDetalle" href="@Url.Action("Details", "MateriaBanco")/' + row.codigo + '?nombre=' + row.materiaPadreDescripcion +'"><div class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Detalle"></div></a>'
                                    +'<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnEliminar" href="@Url.Action("Delete", "MateriaBanco")/' + row.codigo + '"><div class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></div></a>';
                        }
                    }
                ]
            });

            $('[data-toggle="tooltip"]').tooltip();

        });

    </script>
}



