﻿    <div class="modal-header">
        <h5 class="modal-title" id="titulo-modal-mandatorios"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="cuerpo-modal-mandatorios" style="margin: auto; text-align:center;">
        <table id="tabla-mandatorios" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Fecha Vigencia</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button id="btn-cancelar-modal-mandatorios" type="button" class="btn btn-secondary">Imprimir</button>
        <button id="btn-aceptar-modal-mandatorios" type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>

