﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.BuscarClienteDTO

@{
    ViewData["Title"] = "Búsqueda de Clientes";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Buscar" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Nombre" class="form-control" id="nombrebusqueda" minlength="4" required />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btn-buscar" class="btn btn-primario">
                        <i class="fa fa-plus"></i> Buscar
                    </button>
                </div>
            </form>
            <div class="row">
                <label class="col-md-2">Buscar Por: </label>

                <!-- NombreLegal  Default-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="NombreLegal" name="defaultExampleRadios" checked>
                    <label class="custom-control-label" for="NombreLegal">Nombre Legal </label>
                </div>

                <!-- Nombre Anterior -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="NombreLegalAnterior" name="defaultExampleRadios">
                    <label class="custom-control-label" for="NombreLegalAnterior">Nombre Anterior </label>
                </div>

                <!-- Nombre de Fantasia-->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="NombreFantasia" name="defaultExampleRadios">
                    <label class="custom-control-label" for="NombreFantasia">Nombre de Fantasía </label>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Ver</th>
            </tr>
        </thead>
    </table>
    <hr />

</div>

<!-- Modal Tabla Mandatorios -->
<div class="modal fade" id="modal-mandatorios" tabindex="-1" role="dialog" aria-labelledby="modal-mandatorios" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-mandatorios"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cuerpo-modal-mandatorios" style="margin: auto; text-align:center;">
                <table id="tabla-mandatorios" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Rut Usuario</th>
                            <th>Digito Verificador</th>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Fecha Vigencia</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btn-aceptar-modal-mandatorios" type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#example').DataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [2],
                        "visible": false
                    }
                ]
            });
           
            $('#btn-buscar').on("click", function (e) {
                e.preventDefault();
                var formulario = $('#formulario');

                if (formulario.valid()) {
                    var nombreBusqueda = $("#nombrebusqueda").val();

                    $('#example').DataTable().clear();
                    $('#example').DataTable().destroy();

                    if ($('#NombreLegal').is(':checked')) {
                        var url = '@Url.Action("ListNombreLegal", "BuscarClientes")';
                    } else {
                        if ($('#NombreLegalAnterior').is(':checked')) {
                            var url = '@Url.Action("ListNombreLegalAnterior", "BuscarClientes")';
                        } else {
                            if ($('#NombreFantasia').is(':checked')) {
                                var url = '@Url.Action("ListNombreFantasia", "BuscarClientes")';
                            }
                        }
                    }

                    $('#example').DataTable({
                        'ajax': url + '?nombre=' + nombreBusqueda,
                        'language': languageGrid,
                        "processing": true,
                        "serverSide": false,
                        'type':'GET',
                        'columns': [
                            {
                                'data': 'codigoPersona',
                                'visible': false
                            },
                            {
                                'data': 'rut',
                                'visible': false
                            },
                            {
                                'data': 'digitoVereficador',
                                'visible': false
                            },
                            {
                            },
                            {
                                'data': 'nombre'
                            }

                        ],
                        'columnDefs': [
                            {
                                'width': "130px",
                                'targets': [5],
                                'render': function (data, type, row)
                                { 
                                    return '<a style="padding:0px;margin-left:10px;" class="btn btn-default" id="btnMandatarios" href="@Url.Action("ListMandatorios", "BuscarClientes")/?idSociedad=' + row.codigoPersona + '&IdSGL=' + 3 +'"><div class="fas fa-user-tie" data-toggle="tooltip" data-placement="top" title="Mandatarios"></div></a>'
                                        + '<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnSucursales" href="@Url.Action("GetSucursales", "BuscarClientes")/?rut=' + row.rut + '&idPersona=' + row.codigoPersona + '"><div class="fas fa-store-alt" data-toggle="tooltip" data-placement="top" title="Sucursales"></div></a>';
                                }
                            },
                            {
                                'width': "130px",
                                'targets': [3],
                                'render': function (data, type, row)
                                {
                                    return row.rut + "-" + row.digitoVereficador;
                                }
                            }
                        ]
                    });
                }
            });

            $(document).on('click', '#example #btnMandatarios', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                tablaMandatorio(url);
                $('#titulo-modal-mandatorios').html('Consulta Mandatarios');

                setTimeout(function () {
                    $('#modal-loading').modal('hide');
                    $('#modal-mandatorios').modal('show');
                }, 500);

            });

            $('#modal-mandatorios').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#tabla-mandatorios').DataTable().clear();
                $('#tabla-mandatorios').DataTable().destroy();
            });

            function tablaMandatorio(url) { 

                $('#tabla-mandatorios').DataTable({
                    'ajax': url,
                    'language': languageGrid,
                    dom: "<'row'<'col-sm-2'B><'col-sm-5'l><'col-sm-5'f>>" +
                        "<'row'<'col-md-12't>>"+
                        "<'row'<'col-md-6'i><'col-md-6'p>>",
                    buttons: [
                        {
                            text: 'Imprimir',
                            extend: 'print',
                            className: 'btn btn-primary btn-sm assets-select-btn export-print'
                        }
                    ],
                    "processing": true,
                    "serverSide": false,                    
                    'type': 'GET',
                    'columns': [
                        {
                            'data': 'rut',
                            'visible': false
                        },
                        {
                            'data': 'digitoVereficador',
                            'visible': false
                        },
                        {

                        },
                        {
                            'data': 'nombre'
                        },
                        {
                            'data': 'estado'
                        },
                        {
                            'data': 'fechaFinal'
                        }
                    ],
                    'columnDefs': [
                        {
                            'width': "130px",
                            'targets': [2],
                            'render': function (data, type, row) {
                                return row.rut + "-" + row.digitoVereficador;
                            }
                        }
                    ]
                });
            };

            $(document).on('click', '#example #btnSucursales', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                tablaSucursal(url);
                $('#titulo-modal-mandatorios').html('Sucursales');


                setTimeout(function () {
                    $('#modal-loading').modal('hide');
                    $('#modal-mandatorios').modal('show');
                }, 500);

            });

            function tablaSucursal(url) {

                $('#tabla-mandatorios').DataTable({
                    'ajax': url,
                    'language': languageGrid,
                    "processing": true,
                    "serverSide": false,
                    'type': 'GET',
                    'columns': [
                        {
                            'data': 'sglId',
                            sTitle: "SGL"
                        },
                        {
                            'data': 'fechaInicio',
                            sTitle: "Fecha"
                        },
                        {
                            'data': 'nombrePersona',
                            sTitle: "Nombre"
                        },
                        {
                            'data': 'descripcionMateria',
                            sTitle: "Tipo Materia"
                        },
                        {
                            'data': 'descripcionEstadoSGL',
                            sTitle: "Estado"
                        },
                        {
                            'data': 'sucursal',
                            sTitle: "Sucursal"
                        }
                    ]
                });
            };
        });

        //traducirMensajes();
    </script>
}