﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-md-12">
            <form asp-action="EditarMandatario" class="col-xl-12" id="formularioEditarMandatario">
                @Html.HiddenFor(model => model.CodigoParticipante)
                @Html.HiddenFor(model => model.CodigoTipoPersona)
                @Html.HiddenFor(model => model.CodigoPersona)
                @Html.HiddenFor(model => model.CodigoTipoParticipante)
                @Html.HiddenFor(model => model.Monto)
                @Html.HiddenFor(model => model.Porcentaje)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <label asp-for="Rut" class="control-label col-md-8"  style="font-size: 15px;" > Rut Mandatario</label>
                    <input asp-for="Rut" id="inputEditarRutMandatario" class="form-control" value="@string.Format("{0:#,0}", Convert.ToInt32(@Model.Rut)) - @Model.DvPersona" style="text-align:center;" readonly/>
                    <span asp-validation-for="Rut" id="validacionEditarRutPersona" class="text-danger"></span>

                    <label asp-for="DvPersona" class="control-label col-md-8" style="font-size: 15px; display: none;"></label>
                    <input asp-for="DvPersona" id="inputEditarDvPersona" class="form-control" style="text-align:center; display: none;" />
                    <span asp-validation-for="DvPersona" id="validacionEditarDvPersona" class="text-danger" style="display: none;"></span> 

                    <label asp-for="Nombre" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Nombre </label>
                    <input asp-for="Nombre" id="inputEditarNombre" class="form-control" maxlength="70"/>
                    <span asp-validation-for="Nombre" id="validacionEditarNombre" class="text-danger"></span>

                    <label asp-for="ApellidoPaterno" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Apellido Paterno</label>
                    <input asp-for="ApellidoPaterno" id="inputEditarApellidoPaterno" class="form-control" maxlength="40"/>
                    <span asp-validation-for="ApellidoPaterno" id="validacionEditarApellidoPaterno" class="text-danger"></span>

                    <label asp-for="ApellidoMaterno" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Apellido Materno</label>
                    <input asp-for="ApellidoMaterno" id="inputEditarApellidoMaterno" class="form-control" maxlength="40"/>
                    <span asp-validation-for="ApellidoMaterno" id="validacionEditarApellidoMaterno" class="text-danger"></span>

                    <label asp-for="Limite" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Observaciones</label>                   
                    <textarea asp-for="Limite" id="inputEditarLimite" class="form-control" maxlength="255"></textarea>
                    <span asp-validation-for="Limite" id="validacionEditarLimite" class="text-danger"></span>

                </div>
            </form>
        </div>
    </div>
</div>