﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-md-12">
            <form asp-action="EliminarMandatario" class="col-xl-12" id="formularioEliminarMandatario">
                @Html.HiddenFor(model => model.CodigoPersona)
                @Html.HiddenFor(model => model.CodigoParticipante)
                @Html.HiddenFor(model => model.CodigoTipo)

                <label class="control-label col-md-12" style="font-size: 15px;"> ¿Esta seguro que desea eliminar al Mandatario?'</label>
            </form>
        </div>
    </div>
</div>