﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-xl-12">
            <form asp-action="EliminarGrupo" class="col-xl-12" id="formularioEliminar">
                @Html.HiddenFor(model => model.CodigoGrupo)            
                  <label class="control-label col-md-12" style="font-size: 15px;"> Eliminación de grupo seleccionado'</label>
             </form>
        </div>
    </div>
</div>