﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    ViewData["Title"] = "Mandatarios/Grupos";
}

@{
    Layout = null;
}
<style>
    #modal {
        position: absolute;
        padding-top: 100px;
        padding-bottom: 100%;
    }

    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-footer {
        border-top: none;
    }

    table {
        overflow-x: auto;
    }

        table td {
            word-wrap: break-word;
            max-width: 400px;
        }

    #exampleGrupo td {
        white-space: inherit;
    }

    #exampleMandatario td {
        white-space: inherit;
    }

    #titulo-modal {
        white-space: inherit;
        word-wrap: break-word;
        max-width: 95%;
    }
</style>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row" style="width:100%">
    <div class="form-group col-md-6">
        <div class="col-md-12" style="width:100%">
            <table id="exampleMandatario" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
            </table>
            <hr />
        </div>

        <div class="btn-group float-right">
            <a style="font-size:20px;">Mandatarios:</a>
            <button href='@Url.Action("IngresarMandatario")' id="btnIngresarMandatario" class="btn btn-primario" style="margin-left: 10px;">
                <i class="fa fa-plus"></i> Agregar
            </button>
            <button href='@Url.Action("EditarMandatario")' id="btnEditarMandatario" class="btn btn-light">
                <i class="fa fa-edit"></i> Editar
            </button>
            <button id="btnEliminarMandatario" class="btn btn-secondary">
                <i class="fa fa-trash-alt" style="margin-right: 5px;"></i> Borrar
            </button>
            <button id="btnObservacionesMandatario" class="btn btn-light">
                <i class="fa fa-info-circle"></i> Ver Observación
            </button>
        </div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-12">
            <table id="exampleGrupo" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Codigo Grupo</th>
                        <th>Grupos</th>
                        <th>Codigo TipoGrupo</th>
                    </tr>
                </thead>
            </table>
            <hr />
        </div>
        <div class="btn-group float-right">
            <a style="font-size:20px;">Grupos:</a>

            <button href='@Url.Action("IngresarGrupo","MandatarioGrupo")' id="btnIngresar" class="btn btn-primario" style="margin-left: 10px;">
                <i class="fa fa-plus"></i> Agregar
            </button>
            <button id="btnEditar" class="btn btn-light">
                <i class="fa fa-edit"></i> Editar
            </button>
            <button id="btnEliminar" class="btn btn-secondary">
                <i class="fa fa-ban" style="margin-right: 5px;"></i> Borrar
            </button>
        </div>

        <div class="btn-group float-right" style="margin-top: 10px;">
            <a style="font-size:20px;">Mandatarios/Grupos:</a>

            <button href='@Url.Action("IngresarAsociacion","MandatarioGrupo")' id="btnIngresarAsociacion" class="btn btn-primario" style="margin-left: 10px;">
                <i class="fa fa-plus"></i> Agregar
            </button>
            <button href='@Url.Action("VerAsociacion","MandatarioGrupo")' id="btnVerAsociacion" class="btn btn-light">
                <i class="fa fa-info-circle" style="width:35px; "></i> Ver
            </button>
            <button href='@Url.Action("RetirarAsociacion","MandatarioGrupo")' id="btnRetirarAsociacion" class="btn btn-secondary">
                <i class="fa fa-ban"></i> Retirar
            </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-detalle" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" id="document" role="document">
        <div class="modal-content">
            <div class="modal-header" id="contenedor-titulo">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" id="btn-cerrarModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-xl-12" id="cuerpo-modal" style="margin: auto; text-align:center; max-width:100%">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer" id="modal-footer" style="margin: auto; text-align:center;">
                <div class="btn-group">
                    <!-- Mandatario-->
                    <!-- Insertar Mandatario-->
                    <button id="btn-registrarModalMandatario" class="ocultar btn btn-primario">
                        <i class="fa fa-plus"></i> Registrar
                    </button>
                    <!-- Editar Mandatario-->
                    <button id="btn-editarModalMandatario" class="ocultar btn btn-primario">
                        <i class="fa fa-brush"></i> Editar
                    </button>
                    <!-- Eliminar mandatario-->
                    <button id="btn-borrarModalMandatario" class="ocultar btn btn-primario">
                        <i class="fa fa-ban"></i> Eliminar
                    </button>
                    <!-- Limpiar Insertar Mandatario-->
                    <button id="btn-limpiarRegistrarMandatario" class="ocultar btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <!-- Limpiar Editar Mandatario-->
                    <button id="btn-limpiarEditarMandatario" class="ocultar btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <!-- Cerrar Ver Observacion Mandatario-->
                    <button id="btn-cerrarVerObservacionMandatario" class="ocultar btn btn-default">
                        <i class="fa fa-info-circle"></i> Cerrar
                    </button>
                    <!-- GRUPO-->
                    <!-- Boton para insertar Grupo-->
                    <button id="btn-registrarModalGrupo" class="ocultar btn btn-primario">
                        <i class="fa fa-plus"></i> Agregar
                    </button>
                    <!-- Boton para Editar Grupo-->
                    <button id="btn-editarModalGrupo" class="ocultar btn btn-primario">
                        <i class="fa fa-brush"></i> Editar
                    </button>
                    <!-- Boton para Eliminar Grupo-->
                    <button id="btn-borrarModalGrupo" class="ocultar btn btn-primario">
                        <i class="fa fa-ban"></i> Eliminar
                    </button>
                    <button id="btn-limpiarRegistrarGrupo" class="ocultar btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <button id="btn-limpiarEditarGrupo" class="ocultar btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <!-- ASOCIACION-->
                    <!-- Boton para insertar Asociacion-->
                    <button id="btn-registrarModalAsociacion" class="ocultar btn btn-primario">
                        <i class="fa fa-plus"></i> Agregar
                    </button>
                    <!-- Boton para Ver Asociacion-->
                    <button id="btn-verModalAsociacion" class="ocultar btn btn-primario">
                        <i class="fa fa-info-circle"></i> Ver
                    </button>
                    <!-- Boton para Retirar Asociacion-->
                    <button id="btn-retirarModalAsociacion" class="ocultar btn btn-primario">
                        <i class="fa fa-ban"></i> Retirar
                    </button>

                    <button id="btn-cerrarModal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(function (e) {

            $('#modal').modal({
                backdrop: false,
                show: false,
                backdrop: 'static'
            });

            $('#modal-mensaje').modal("hide");
            $('#modal-confirmar').modal("hide");
            $('#modal').css("z-index", "200001");
            $('#modal-mensaje').css("z-index", "200001");
            $('#modal-confirmar').css("z-index", "200001");

            $('#modal .ocultar').css("display", "none");

            $('#modal #btn-cerrarModal').on("click", function (e) {
                $('#modal .ocultar').css("display", "none");
            });

            $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                $("#modal-mensaje").modal('hide');
                 $('#modal .ocultar').css("display", "none");
            });

            $('#modal-mensaje').on('hidden.bs.modal', function (e) {

                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');

                // and empty the modal-content element
                $('#modal-mensaje .modal-body').empty();
                $('#modal-mensaje .modal-body').html('<img src="../images/loading.gif"/>');
            });

            var exito = '@TempData["Exito"]';

            if (exito == 'True') {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            var error = '@TempData["Error"]';

            if (error == 'True') {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            //MANDATARIO*************************************************************************************
            //LISTAR_________________________________________________________________________________________
            //Carga grilla con los mandatarios
            var codigoPersona = 0;
            var codigoTipo = "0";
            $('#exampleMandatario').DataTable({
                'ajax': '/PoderesYRevocaciones/MandatarioGrupo/ListaMandatario?codigoPersona=' + codigoPersona + "&codigoTipo=" + codigoTipo,
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type': 'GET',
                'columns': [
                    {
                        'data': 'nombre'
                    },
                    {
                        'data': 'limite',
                        'visible': false
                    },
                    {
                        'data': 'codigoParticipante',
                        'visible': false
                    },
                    {
                        'data': 'codigoDocumento',
                        'visible': false
                    },
                    {
                        'data': 'codigoPersona',
                        'visible': false
                    },
                    {
                        'data': 'codigoTipoParticipante',
                        'visible': false
                    },
                    {
                        'data': 'rut',
                        'visible': false
                    },
                    {
                        'data': 'dv',
                        'visible': false
                    },
                    {
                        'data': 'nombres',
                        'visible': false
                    },
                    {
                        'data': 'descripcionTipoParticipante',
                        'visible': false
                    },
                    {
                        'data': 'apellidoPaterno',
                        'visible': false
                    },
                    {
                        'data': 'apellidoMaterno',
                        'visible': false
                    },
                    {
                        'data': 'montoAporte',
                        'visible': false
                    },
                    {
                        'data': 'porcentajeAporte',
                        'visible': false
                    },
                    {
                        'data': 'fechaInicio',
                        'visible': false
                    },
                    {
                        'data': 'fechaFinal',
                        'visible': false
                    },
                    {
                        'data': 'codigoRevocacion',
                        'visible': false
                    },
                    {
                        'data': 'estadoConsulta',
                        'visible': false
                    },
                    {
                        'data': 'estadoConsultaDocumento',
                        'visible': false
                    }
                ],
                'columnDefs':
                [
                    {
                        // función para añadir un asterisco a los nombres (nombre), si tiene una observación (limite).
                        'targets': [0],
                        'visible': true,
                        'render': function (data, type, row) {
                            return row.limite.trim() !== "" ? "*" + row.nombre : row.nombre;
                        }
                    }
                ]
            });

            //SELECCIONAR una FILA de la grilla Mandatario___________________________________________________
            $(document).ready(function () {
                var table = $('#exampleMandatario').DataTable();

                $('#exampleMandatario tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });

                var filaGrupo = $('#button').click(function () {
                    table.row('.selected').data().draw(false);
                });
            });

            //BOTONES LIMPIAR_________________________________________________________________________________________________
            //Botones limpiar modal Ingresar Mandatario
            $('#btn-limpiarRegistrarMandatario').on("click", function () {
                $('#inputRutMandatario').val('');
                $('#inputNombre').val('');
                $('#inputApellidoPaterno').val('');
                $('#inputApellidoMaterno').val('');
                $('#inputObservaciones').val('');
            });
            //Botones limpiar modal Editar Mandatario
            $('#btn-limpiarEditarMandatario').on("click", function () {               
                $('#inputEditarNombre').val('');
                $('#inputEditarApellidoPaterno').val('');
                $('#inputEditarApellidoMaterno').val('');
                $('#inputEditarLimite').val('');
            });
            //INGRESAR________________________________________________________________________________________________________
            //Ingresar Mandatario
            //Llamar a ventana modal, muestra botones correspondientes.
            $(document).on('click', '#btnIngresarMandatario', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
                $('#titulo-modal').html('Ingresar Mandatario');
                $('#modal .modal-body').load(url, function (data) {

                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                        $('#modal').modal('show');
                        $('#modal #btn-registrarModalMandatario').css("display", "block");
                        $('#modal #btn-limpiarRegistrarMandatario').css("display", "block");
                    }, 500);
                });
            });
            //Guarda los datos del Mandatario
            $('#btn-registrarModalMandatario').click(function (e) {
                e.preventDefault();
                var reg = /[^A-Za-z ]$/;
                //Obtengo el dv y lo guardo en inputDvpersona invisible
                var rutCompleto = $('#inputRutMandatario').val();
                var valorInput = rutCompleto.replace('-', '');
                valorInput = valorInput.replace('.', '');
                valorInput = valorInput.replace('.', '');
                valorInput = valorInput.replace(',', '');
                numero = valorInput.slice(0, -1);
                dv = valorInput.slice(-1).toUpperCase();
                $('#inputDvPersona').val(dv);                

                //Validaciones de campos
                if ($("#inputRutMandatario").val().trim() === "") {

                    $('#validacionRutPersona').text('Debe ingresar un rut.');
                }//Nombre
                else if ($("#inputNombre").val().trim() === "") {

                    $('#validacionNombre').text('Debe ingresar nombre.');
                    $('#validacionRutPersona').text('');
                    $('#validacionApellidoPaterno').text('');
                    $('#validacionApellidoMaterno').text('');
                }
                else if (reg.test($("#inputNombre").val())) {

                    $('#validacionNombre').text('Debe ingresar nombre válido.');
                    $('#validacionRutPersona').text('');
                    $('#validacionApellidoPaterno').text('');
                    $('#validacionApellidoMaterno').text('');
                }//Apellido paterno
                else if ($("#inputApellidoPaterno").val().trim() === "") {

                    $('#validacionApellidoPaterno').text('Debe ingresar el apellido paterno.');
                    $('#validacionRutPersona').text('');
                    $('#validacionNombre').text('');
                    $('#validacionApellidoMaterno').text('');
                }
                else if (reg.test($("#inputApellidoPaterno").val())) {

                    $('#validacionApellidoPaterno').text('Debe ingresar un apellido paterno válido.');
                    $('#validacionRutPersona').text('');
                    $('#validacionNombre').text('');
                    $('#validacionApellidoMaterno').text('');
                }//Apellido materno
                else if ($("#inputApellidoMaterno").val().trim() === "") {

                    $('#validacionApellidoMaterno').text('Debe ingresar el apellido materno.');
                    $('#validacionRutPersona').text('');
                    $('#validacionNombre').text('');
                    $('#validacionApellidoPaterno').text('');
                }
                else if (reg.test($("#inputApellidoMaterno").val())) {

                    $('#validacionApellidoMaterno').text('Debe ingresar un apellido materno válido.');
                    $('#validacionRutPersona').text('');
                    $('#validacionNombre').text('');
                    $('#validacionApellidoPaterno').text('');
                }
                else {

                    //Número sin puntos y guiones
                    $('#inputRutMandatario').val(rutCompleto);
                    $('#validacionApellidoMaterno').text('');
                    //Se guarda propiamente tal los input del formulario a BD
                    var formulario = $('#formularioRegistrarMandatario');

                    if (formulario.val) {
                        $('#titulo-modal-confirmar').html('Confirmar Creación');
                        $('#cuerpo-modal-confirmar').html('¿ Esta seguro que desea crear el Mandatario ?');
                        $('#modal-confirmar').modal('show');
                    }
                }
            });
            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formularioRegistrarMandatario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });0
            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });            

            //EDITAR_________________________________________________________________________________________________________
            //Función del botón EDITAR Mandatario
            $('#btnEditarMandatario').click(function () {
                window.scrollTo(0, 0);
                if ($('#exampleMandatario').DataTable().row('.selected').data() == null) {

                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Mandatario');
                    $('#modal-mensaje').modal('show');
                    var url = '@Url.Action("Index","MandatarioGrupo")';
                    $('#btn-cerrar-modal-mensaje').attr('href', url);
                }
                else if ($('#exampleMandatario').DataTable().row('.selected').data() != null) {
                                        
                    var objetoEditarModal = {

                       CodParticipante : $('#exampleMandatario').DataTable().row('.selected').data().codigoParticipante,//Codigo dado por sistema al ingresar 41434545
                       TipoPersona : 0, //$('#exampleMandatario').DataTable().row('.selected').data().codigoTipoPersona, //0 por regla de negocio
                       Nombre : $('#exampleMandatario').DataTable().row('.selected').data().nombres,
                       ApellPaterno : $('#exampleMandatario').DataTable().row('.selected').data().apellidoPaterno,
                       ApellMaterno : $('#exampleMandatario').DataTable().row('.selected').data().apellidoMaterno,
                       CodPersona : $('#exampleMandatario').DataTable().row('.selected').data().codigoPersona, //Parámetro en siete por sistema 7
                       Rut : $('#exampleMandatario').DataTable().row('.selected').data().rut,
                       Dv : $('#exampleMandatario').DataTable().row('.selected').data().dv,
                       Observaciones : $('#exampleMandatario').DataTable().row('.selected').data().limite,
                       TipoParticipante : $('#exampleMandatario').DataTable().row('.selected').data().codigoTipoParticipante,//3
                       Monto : $('#exampleMandatario').DataTable().row('.selected').data().montoAporte,
                       Porcentaje : $('#exampleMandatario').DataTable().row('.selected').data().porcentajeAporte
                    };

                    //Convertir JSON
                    var objeto = JSON.stringify(objetoEditarModal);

                    $.ajax({
                        //Llama al método que cponvierte en json el objeto
                        url: "@Url.Action("EnviarEditarMandatario", "MandatarioGrupo")",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: objeto,
                        success: function (data) {

                            $('#titulo-modal').html('Editar Mandatario');

                            $('#modal .modal-body').load('@Url.Action("EditaMandatario", "MandatarioGrupo")', data, function (response) {

                                setTimeout(function () {
                                    $('#modal-loading').modal('hide');
                                    $('#modal').modal('show');
                                    $('#modal #btn-editarModalMandatario').css("display", "block");
                                    $('#modal #btn-limpiarEditarMandatario').css("display", "block");
                                }, 500);
                            })
                        }
                    });
                }
            });

            //Función para MODAL Boton EDITAR Mandatario
            $('#btn-editarModalMandatario').click(function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                var reg = /[^A-Za-z ]$/;
                //Rut
                if ($("#inputEditarRutMandatario").val() == "") {

                    $('#validacionEditarRutPersona').text('Debe ingresar un rut');
                }
                //Nombre
                else if ($("#inputEditarNombre").val().trim() === "") {

                    $('#validacionEditarNombre').text('Debe ingresar nombre.');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarApellidoPaterno').text('');
                    $('#validacionEditarApellidoMaterno').text('');
                }
                else if (reg.test($("#inputEditarNombre").val())) {

                    $('#validacionEditarNombre').text('Debe ingresar un nombre válido.');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarApellidoPaterno').text('');
                    $('#validacionEditarApellidoMaterno').text('');
                }                
                    //Apellido paterno
                else if ($("#inputEditarApellidoPaterno").val().trim() === "") {

                    $('#validacionEditarApellidoPaterno').text('Debe ingresar el apellido paterno.');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarNombre').text('');
                    $('#validacionEditarApellidoMaterno').text('');
                }
                else if (reg.test($("#inputEditarApellidoPaterno").val())) {

                    $('#validacionEditarApellidoPaterno').text('Debe ingresar un apellido paterno válido.');
                    $('#validacionRutPersona').text('');
                    $('#validacionEditarNombre').text('');
                    $('#validacionEditarApellidoMaterno').text('');
                }
                    //Apellido materno
                else if ($("#inputEditarApellidoMaterno").val().trim() === "") {

                    $('#validacionEditarApellidoMaterno').text('Debe ingresar el apellido materno.');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarNombre').text('');
                    $('#validacionEditarApellidoPaterno').text('');
                }
                else if (reg.test($("#inputEditarApellidoMaterno").val())) {

                    $('#validacionEditarApellidoMaterno').text('Debe ingresar un apellido materno válido.');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarNombre').text('');
                    $('#validacionEditarApellidoPaterno').text('');
                }
                    //Limpia validaciones
                else {
                    $('#validacionEditarApellidoPaterno').text('');
                    $('#validacionEditarRutPersona').text('');
                    $('#validacionEditarNombre').text('');
                    $('#validacionEditarApellidoMaterno').text('');

                    var formulario = $('#formularioEditarMandatario');

                    if (formulario.val) {
                        $('#titulo-modal-confirmar').html('Confirmar Edición');
                        $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea editar el Mandatario ?');
                        $('#modal-confirmar').modal('show');
                    }
                }
            });
            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formularioEditarMandatario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            });

            //ELMINAR________________________________________________________________________________________
            //Función del boton ELIMINAR Mandatario
            $('#btnEliminarMandatario').click(function () {
                window.scrollTo(0, 0);
                if ($('#exampleMandatario').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje de Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Mandatario');
                    $('#modal-mensaje').modal('show');
                }
                else if ($('#exampleMandatario').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });
                    //valor dado por sistema
                    var codigoPersona = 0;
                    var codigoTIpo = 0;
                    var codiParticipante = $('#exampleMandatario').DataTable().row('.selected').data().codigoParticipante;

                    var url = '@Url.Action("EliminarMandatario", "MandatarioGrupo")?codigoPersona=' + codigoPersona + '&codigoParticipante=' + codiParticipante + '&codigoTipo=' + codigoTIpo;

                    $('#titulo-modal').html('Eliminar Mandatario');

                    $('#modal .modal-body').load(url, function (response) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');                            
                            $('#modal').modal('show');
                            $('#modal #btn-borrarModalMandatario').css("display", "block");
                        }, 500);
                    });
                }
            });

            //Funcion para MODAL Boton ELIMINAR Mandatario            
            $('#btn-borrarModalMandatario').on("click", function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);               

                $('#formularioEliminarMandatario').submit();                                           
            });

            //OBSERVACIONES_____________________________________________________________________________________________

            //Función del botón VER OBSERVACIONES Mandatario.
            $('#btnObservacionesMandatario').click(function () {
                window.scrollTo(0, 0);
                if ($('#exampleMandatario').DataTable().row('.selected').data() == null) {

                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Mandatario para ver su observación');
                    $('#modal-mensaje').modal('show');
                    var url = '@Url.Action("Index","MandatarioGrupo")';
                    $('#btn-cerrar-modal-mensaje').attr('href', url);
                }
                else if ($('#exampleMandatario').DataTable().row('.selected').data() != null) {

                    //Objeto con parámetros del Mandatario seleccionado.
                    var objetoObservacionMandatario = {

                       Rut: $('#exampleMandatario').DataTable().row('.selected').data().rut,
                       DvPersona: $('#exampleMandatario').DataTable().row('.selected').data().dv,
                       Nombre: $('#exampleMandatario').DataTable().row('.selected').data().nombre,
                       Limite : $('#exampleMandatario').DataTable().row('.selected').data().limite,
                    };

                    //Convertir JSON
                    var objeto = JSON.stringify(objetoObservacionMandatario);

                    $.ajax({
                        //Llama al método que convierte en json el objeto
                        url: "@Url.Action("EnviarObservacionesMandatario", "MandatarioGrupo")",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: objeto,
                        success: function (data) {
                            console.log(data);
                            $('#titulo-modal').html('Observación Mandatario');

                            $('#modal .modal-body').load('@Url.Action("VerObservacionMandatario", "MandatarioGrupo")', data, function (response) {

                                setTimeout(function () {
                                    $('#modal-loading').modal('hide');
                                    $('#modal').modal('show');
                                }, 500);
                            })
                        }
                    });
                };
            });

            //GRUPO **********************************************************************************
            $('#btn-limpiarRegistrarGrupo').on("click", function () {
                $('#formularioRegistar input[type="text"]').val('');
            });

            $('#btn-limpiarEditarGrupo').on("click", function () {
                $('#formularioEditar input[type="text"]').val('');
            });

            //Seleccionar una FILA de la grilla Grupo
            $(document).ready(function () {
                var table = $('#exampleGrupo').DataTable();

                $('#exampleGrupo tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');

                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });

                var filaGrupo = $('#button').click(function () {
                    table.row('.selected').data().draw(false);
                });
            });

            //LISTAR GRUPO
            $('#exampleGrupo').DataTable({
                'ajax': '@Url.Action("ListarGrupo")',
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type': 'GET',
                'columns': [
                    {
                        'data': 'codigo',
                        'visible': false
                    },
                    {
                        'data': 'nombre',
                        'visible': true
                    },
                    {
                        'data': 'tipo',
                        'visible': false
                    }
                ]
            });

            //INGRESAR GRUPO
            /*Funcion que envia la url para que el modal body se llene y muestre la vista parcial
           para Ingresar Grupo*/
            $(document).on('click', '#btnIngresar', function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                $('#modal').removeClass("bd-example-modal-lg");
                $('#document').removeClass("modal-lg");
                
                $('#modal #btn-registrarModalAsociacion').css("display", "none");

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal').html('Mensaje: Ingresar Grupo');
          
                $('#modal .modal-body').load(url, function (data) {

                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                        $('#modal').modal('show');
                        $('#modal #btn-registrarModalGrupo').css("display", "block");
                        $('#modal #btn-limpiarRegistrarGrupo').css("display", "block");
                    }, 500);
                });
            });

            /*Modal de confirmacion registro de GRUPO*/
            $('#btn-registrarModalGrupo').click(function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                var reg = /^[0-9a-zA-Z ]+$/;

                if ($("#nombreGrupo").val().trim() == "" || !$("#nombreGrupo").val().trim()) {

                    $('#GrupoValidacion').text('Debe Ingresar nombre de grupo');

                } else if (!reg.test($("#nombreGrupo").val())) {

                    $('#GrupoValidacion').text('Debe ingresar un Nombre válido sin carácteres especiales');


                } else if ($('#nombreGrupo').val().length < 5) {

                    $('#GrupoValidacion').text('Debe ingresar un mínimo de 5 carácteres');

                }else if ($('#nombreGrupo').val().length > 80) {

                    $('#GrupoValidacion').text('Debe ingresar un máximo de 80 carácteres');

                } else {
                    $('#GrupoValidacion').text('');
               
                    var formulario = $('#formularioRegistar');

                    if (formulario.val) {
                        $('#titulo-modal-confirmar').html('Mensaje: Confirmar Creación');
                        $('#cuerpo-modal-confirmar').html('¿ Esta seguro que desea crear el grupo ?');
                        $('#modal-confirmar').modal('show');
                    }
                }
            });
            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formularioRegistar').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });
            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

            //Funcion del boton EDITAR GRUPO
            $('#btnEditar').click(function () {
                window.scrollTo(0, 0);
                $('#modal').removeClass("bd-example-modal-lg");
                $('#document').removeClass("modal-lg");
                $('#modal #btn-registrarModalAsociacion').css("display", "none");

                if ($('#exampleGrupo').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un grupo');
                    $('#modal-mensaje').modal('show');
                    var url = '@Url.Action("Index","MandatarioGrupo")';
                    $('#btn-cerrar-modal-mensaje').attr('href', url);
                }
                else if ($('#exampleGrupo').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    var data = $('#exampleGrupo').DataTable().row('.selected').data();

                    var codigoGrupo = $('#exampleGrupo').DataTable().row('.selected').data().codigo;
                    var nombreGrupo = $('#exampleGrupo').DataTable().row('.selected').data().nombre;
                    var tipoGrupo   = $('#exampleGrupo').DataTable().row('.selected').data().tipo;

                    var url = '@Url.Action("EditarGrupo","MandatarioGrupo")?codigoGrupo=' + codigoGrupo + '&nombreGrupo=' + nombreGrupo + '&tipoGrupo=' + tipoGrupo;

                    $('#titulo-modal').html('Mensaje: Editar Grupo');

                    $('#modal .modal-body').load(url, function (response) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal').modal('show');
                            $('#modal #btn-editarModalGrupo').css("display", "block");
                            $('#modal #btn-limpiarEditarGrupo').css("display", "block");
                        }, 500);
                    });
                }
            });
            //funcion para MODAL Boton EDITAR GRUPO
            $('#btn-editarModalGrupo').click(function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                var reg = /^[0-9a-zA-Z ]+$/;

                if ($("#nombreGrupo").val() == "" || !$("#nombreGrupo").val().trim()) {

                    $('#validacionEditarGrupo').text('Debe ingresar nombre de Grupo');

                } else if (!reg.test($("#nombreGrupo").val())) {

                    $('#validacionEditarGrupo').text('Debe ingresar un Nombre válido sin carácteres especiales');

                } else if ($('#nombreGrupo').val().length < 5) {

                    $('#validacionEditarGrupo').text('Debe ingresar un mínimo de 5 letras');

                } else if ($('#nombreGrupo').val().length > 80) {

                    $('#validacionEditarGrupo').text('Debe ingresar un máximo de 80 carácteres');

                } else {
                    $('#GrupoValidacion').text('');
                    
                    var formulario = $('#formularioEditar');

                    if (formulario.val) {
                        $('#titulo-modal-confirmar').html('Mensaje: Confirmar Edición');
                        $('#cuerpo-modal-confirmar').html('¿ Esta seguro que desea editar el grupo ?');
                        $('#modal-confirmar').modal('show');
                    }
                }
            });
            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formularioEditar').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            });

            //Funcion del boton ELIMINAR GRUPO*****************************************
            $('#btnEliminar').click(function () {
                window.scrollTo(0, 0);
                $('#modal').removeClass("bd-example-modal-lg");
                $('#document').removeClass("modal-lg");
                $('#modal #btn-retirarModalAsociacion').css("display", "none");

                if ($('#exampleGrupo').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Grupo');
                    $('#modal-mensaje').modal('show');
                    var url = '@Url.Action("Index","MandatarioGrupo")';
                    $('#btn-cerrar-modal-mensaje').attr('href', url);

                }
                else if ($('#exampleGrupo').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    var data = $('#exampleGrupo').DataTable().row('.selected').data();

                    var codigoGrupo = $('#exampleGrupo').DataTable().row('.selected').data().codigo;

                    var url = '@Url.Action("EliminarGrupo","MandatarioGrupo")?codigoGrupo=' + codigoGrupo;

                    $('#titulo-modal').html('Mensaje: Eliminar Grupo');

                    $('#modal .modal-body').load(url, function (response) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#titulo-modal').html('Mensaje: Eliminar Grupo');
                            $('#modal').modal('show');
                            $('#modal #btn-borrarModalGrupo').css("display", "block");

                        }, 500);
                    });
                }
            });

            //funcion para MODAL Boton ELIMINAR GRUPO
            $('#btn-borrarModalGrupo').click(function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                var formulario = $('#formularioEliminar');

                if (formulario.val) {
                    $('#titulo-modal-confirmar').html('Mensaje: Confirmar Eliminación');
                    $('#cuerpo-modal-confirmar').html('¿Esta seguro que desea eliminar el grupo?');
                    $('#modal-confirmar').modal('show');
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formularioEliminar').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            });

            //Asociacion GRUPO**********************************************************************************

            //INGRESAR Asociacion
            /*Funcion que envia la url para que el modal body se llene y muestre la vista parcial
           para Ingresar Asociacion*/
            $(document).on('click', '#btnIngresarAsociacion', function (e) {
                window.scrollTo(0, 0);
                e.preventDefault();
                $('#modal #btn-retirarModalAsociacion').css("display", "none");
                $('#modal').addClass("modal fade bd-example-modal-lg");
                $('#document').addClass("modal-dialog modal-lg modal-dialog-centered");

                if ($('#exampleGrupo').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Grupo');
                    $('#modal-mensaje').modal('show');
                    $('#modal #btn-retirarModalAsociacion').css("display", "none")

                    $('#btn-cerrar-modal-mensaje').click(function () {


                        $('#modal #btn-registrarModalAsociacion').css("display", "block");
                    });


                }
                else if ($('#exampleGrupo').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    var nombreGrupo = $('#exampleGrupo').DataTable().row('.selected').data().nombre;

                    $('#titulo-modal').html('Seleccione Mandatario(os) para Asociar al grupo ' + nombreGrupo);

                    var url = '@Url.Action("ListarMandatariosPorAsignar", "MandatarioGrupo")';

                    $('#modal .modal-body').load(url, function (data) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');

                            $('#modal').modal('show');
                            $('#modal #btn-registrarModalAsociacion').css("display", "block");
                            $('#modal #btn-registrarModalAsociacion').attr("disabled", false);

                            var id = $('#exampleGrupo').DataTable().row('.selected').data().codigo;

                            //LISTAR Masndatarios de una Sociedad
                            $('#exampleAsociacion').DataTable({
                                'select': true,
                                'ajax': {
                                    'url': '@Url.Action("ListarMandatariosSociedad", "MandatarioGrupo")?id=' + id,

                                    'dataSrc': function (json) {

                                        if (json.data.length < 1) {
                                            $('#modal #btn-registrarModalAsociacion').attr("disabled", true);
                                        }

                                        return json.data;
                                    }
                                },
                                'language': languageGrid,
                                "processing": true,
                                "serverSide": false,
                                'type': 'GET',
                                'columns': [
                                    {
                                        'data': 'codigoParticipante',
                                        'visible': false
                                    },
                                    {
                                        'data': 'nombre',
                                        'visible': true
                                    },
                                    {
                                        'data': 'codigoRevocacion',
                                        'visible': false
                                    },
                                    {
                                        'data': 'codigoDocumento',
                                        'visible': false
                                    },
                                    {
                                        'data': 'fechaInicio',
                                        'visible': false
                                    },
                                    {
                                        'data': 'fechaFinal',
                                        'visible': false
                                    }
                                ]
                            });

                        }, 500);
                    });
                }
            });

            //Funcion para selecciona un tr de la grilla de Asociacion dentro del Modal
            $(document).on('click', '.modal #exampleAsociacion tbody tr', function () {
                $(this).toggleClass('selected');
                $('#exampleAsociacion').DataTable().rows('.selected').data().each(function (value, index) {

                });
            });


            $(document).on('click', '.modal #btn-registrarModalAsociacion', function () {

                if ($('#exampleAsociacion').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Mandatario');
                    $('#modal-mensaje').modal('show');

                    $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                        $('#modal #btn-registrarModalAsociacion').css("display", "block");
                    });


                } else {

                var arreglo = [];
                var MandatariosSeleccionados = null;
                var CodigoRevocacion = 0;
                var CodigoParticipante = 0;
                var CodigoDocumento = 0;
                var FechaInicio = "";
                var FechaFinal = "";
                var CodigoGrupo = $('#exampleGrupo').DataTable().row('.selected').data().codigo;
                var cont = 0;


                $('#exampleAsociacion').DataTable().rows('.selected').data().each(function (value, index) {

                    var MandatariosSeleccionados = {
                        CodigoParticipante: value.codigoParticipante,
                        CodigoRevocacion: value.codigoRevocacion,
                        CodigoDocumento: value.codigoDocumento,
                        FechaInicio: value.fechaInicio,
                        FechaFinal: value.fechaFinal,
                        CodigoGrupo: CodigoGrupo
                    };

                    arreglo.push(MandatariosSeleccionados);
                    cont++;
                    console.log(arreglo);
                });

                var objeto = JSON.stringify(arreglo);
                console.log(objeto);

                    $.ajax({
                        url: "@Url.Action("IngresarAsociacion", "MandatarioGrupo")",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: objeto,
                        success: function (data) {
                            $('#modal').modal('hide');

                            $('#titulo-modal-mensaje').html('Mensaje: Asociación Exitosa');
                            $('#cuerpo-modal-mensaje').html('Se ha Asociado el(los) Mandatario(os) satisfactoriamente');
                            $('#modal-mensaje').modal('show');


                        }


                });

                }

            });



            //VER Asociacion*******
            $(document).on('click', '#btnVerAsociacion', function (e) {
                //centra el modal
                window.scrollTo(0, 0);
                e.preventDefault();
                $('#modal #btn-retirarModalAsociacion').css("display", "none");
                $('#modal #btn-registrarModalAsociacion').css("display", "none");
                $('#modal').addClass("modal fade bd-example-modal-lg");
                $('#document').addClass("modal-dialog modal-lg modal-dialog-centered");

                if ($('#exampleGrupo').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un Grupo');
                    $('#modal-mensaje').modal('show');


                }
                else if ($('#exampleGrupo').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    var nombreGrupo = $('#exampleGrupo').DataTable().row('.selected').data().nombre;

                    $('#titulo-modal').html('Mandatarios del grupo ' + nombreGrupo).attr("word-wrap","break-word");

                    var url = '@Url.Action("ListarMandatariosAsociados", "MandatarioGrupo")';

                    $('#modal .modal-body').load(url, function (data) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal').modal('show');

                            var id = $('#exampleGrupo').DataTable().row('.selected').data().codigo;

                            //LISTAR Mandatarios Asociados a un Grupo de la Sociedad
                            $('#exampleMandatariosAsociados').DataTable({
                                'select': true,
                                'ajax': '@Url.Action("ListarMandatariosDeGrupo", "MandatarioGrupo")?id=' + id,
                                'language': languageGrid,
                                "processing": true,
                                "serverSide": false,
                                'type': 'GET',
                                'columns': [
                                    {
                                        'data': 'nombreCompleto',
                                        'visible': true
                                    }
                                ]
                            });

                        }, 500);
                    });
                }
            });

            //RETIRAR Asociacion*******

            $(document).on('click', '#btnRetirarAsociacion', function (e) {
                //centra el modal
                window.scrollTo(0, 0);
                e.preventDefault();
                $('#modal #btn-registrarModalAsociacion').css("display", "none");
                $('#modal').addClass("modal fade bd-example-modal-lg");
                $('#document').addClass("modal-dialog modal-lg modal-dialog-centered");

                if ($('#exampleGrupo').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un grupo');
                    $('#modal-mensaje').modal('show');

                }
                else if ($('#exampleGrupo').DataTable().row('.selected').data() != null) {

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    var nombreGrupo = $('#exampleGrupo').DataTable().row('.selected').data().nombre;

                    $('#titulo-modal').html('Seleccione Mandatario para retirar del grupo ' + nombreGrupo).css("text-align", "center");

                    var url = '@Url.Action("ListarMandatariosAsociadosParaRetirar", "MandatarioGrupo")';

                    $('#modal .modal-body').load(url, function (data) {

                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal').modal('show');
                            $('#modal #btn-retirarModalAsociacion').css("display", "block");
                            $('#modal #btn-retirarModalAsociacion').attr("disabled", false);


                            var id = $('#exampleGrupo').DataTable().row('.selected').data().codigo;

                            //LISTAR Mandatarios Asociados a un Grupo de la Sociedad
                            $('#exampleMandatariosAsociadosParaRetiro').DataTable({
                                'select': true,
                                'ajax': {
                                    'url': '@Url.Action("ListarMandatariosRetiroAsociacion", "MandatarioGrupo")?id=' + id,

                                    'dataSrc': function (json) {

                                      if (json.data.length < 1) {
                                            $('#modal #btn-retirarModalAsociacion').attr("disabled", true);
                                      }
                                        return json.data;
                                    }
                                },
                                'language': languageGrid,
                                "processing": true,
                                "serverSide": false,
                                'type': 'GET',
                                'columns': [
                                    {
                                        'data': 'nombreCompleto',
                                        'visible': true
                                    }
                                ]
                            });

                        }, 500);
                    });
                }
            });


             //Funcion para selecciona un tr de la grilla de Asociacion dentro del Modal
            $(document).on('click', '.modal #exampleMandatariosAsociadosParaRetiro tbody tr', function () {
                var table = $('.modal  #exampleMandatariosAsociadosParaRetiro').DataTable();

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');

                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $(document).on('click', '.modal #btn-retirarModalAsociacion', function () {
                if ($('#exampleMandatariosAsociadosParaRetiro').DataTable().row('.selected').data() == null) {

                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Debe seleccionar un mandatario');
                    $('#modal-mensaje').modal('show');
                    $('#modal #btn-registrarModalAsociacion').css("display", "none");

                    $('#btn-cerrar-modal-mensaje').click(function () {

                        $('#modal #btn-retirarModalAsociacion').css("display", "block")
                        $('#modal #btn-registrarModalAsociacion').css("display", "none");
                    });

                }else {

                var CodigoGrupo = $('#exampleGrupo').DataTable().row('.selected').data().codigo;

                var data = $('#exampleMandatariosAsociadosParaRetiro').DataTable().row('.selected').data();
                data.codigoGrupo = CodigoGrupo;

                var objeto = JSON.stringify(data);

                    $.ajax({
                        url: "@Url.Action("EliminarAsociacion", "MandatarioGrupo")",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: objeto,
                        success: function (data) {
                            $('#modal').modal('hide');
                            $('#titulo-modal-mensaje').html('Mensaje: Retiro Exitoso');
                            $('#cuerpo-modal-mensaje').html('Se ha Retirado el mandatario satisfactoriamente');
                            $('#modal-mensaje').modal('show');
                        }
                    });

                }

            });

        $('[data-toggle="tooltip"]').tooltip();

        });

    </script>
}