﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center;">
    <hr />
    <div class="input-group ">
        <div class="col-lg-12">
            <form asp-action="IngresarMandatario" class="col-xl-12" id="formularioRegistrarMandatario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Rut" class="control-label col-md-8" style="font-size: 15px;"> Rut </label>
                    <input asp-for="Rut" id="inputRutMandatario" class="form-control" style="text-align:center;" maxlength="12"/>
                    <span asp-validation-for="Rut" id="validacionRutPersona" class="text-danger"></span>

                    <label asp-for="DvPersona" class="control-label col-md-8" style="font-size: 15px; display: none;"></label>
                    <input asp-for="DvPersona" id="inputDvPersona" class="form-control" style="text-align:center; display: none;" />
                    <span asp-validation-for="DvPersona" id="validacionDvPersona" class="text-danger" style="display: none;"></span> 

                    <label asp-for="Nombre" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Nombres</label>
                    <input asp-for="Nombre" id="inputNombre" class="form-control" maxlength="70"/>
                    <span asp-validation-for="Nombre" id="validacionNombre" class="text-danger"></span>

                    <label asp-for="ApellidoPaterno" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Apellido Paterno</label>
                    <input asp-for="ApellidoPaterno" id="inputApellidoPaterno" class="form-control" maxlength="40"/>
                    <span asp-validation-for="ApellidoPaterno" id="validacionApellidoPaterno" class="text-danger"></span>

                    <label asp-for="ApellidoMaterno" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Apellido Materno</label>
                    <input asp-for="ApellidoMaterno" id="inputApellidoMaterno" class="form-control" maxlength="40" />
                    <span asp-validation-for="ApellidoMaterno" id="validacionApellidoMaterno" class="text-danger"></span>

                    <label asp-for="Limitacion" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Observaciones</label>
                    <textarea asp-for="Limitacion" id="inputObservaciones" class="form-control" maxlength="255" ></textarea>
                    <span asp-validation-for="Limitacion"  id="validacionLimitacion" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div> 

<script type="text/javascript">

    $(function () {
        $('#btn-registrarModalMandatario').prop('disabled', false);
        $('#btn-limpiarRegistrarMandatario').prop('disabled', false);
        $('#inputRutMandatario').FormatearRut();
        $('#inputRutMandatario').CampoTipoRut();
        $('#inputRutMandatario').ValidarRut();

        $('#inputRutMandatario').on('blur', function (e) {            

            if ($('#inputRutMandatario').val() == "") {
                $('#validacionRutPersona').text('Debe ingresar un rut');                
            }
            else {
                var valorInput = $('#inputRutMandatario').val();                
                valorInput = valorInput.replace('-', ''); 
                valorInput = valorInput.replace('.', '');
                valorInput = valorInput.replace('.', ''); 
                valorInput = valorInput.replace(',', '');

                var objetoIngresarModal = {

                    Rut: valorInput.slice(0, -1),
                    Nombre: '',
                    ApellidoPaterno: '',
                    ApellidoMaterno: '',
                    CantidadRegistros: 0,
                };
                //Convertir JSON
                var objeto = JSON.stringify(objetoIngresarModal);

                $.ajax({
                    //Llama al método que convierte en json el objeto
                    url: "@Url.Action("ConsultaMandatario", "MandatarioGrupo")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: objeto,
                    success: function (data) {                      

                        if (data != null) {
                            $('#validacionRutPersona').text('');
                            $('#inputNombre').val(data.nombre);
                            $('#inputApellidoPaterno').val(data.apellidoPaterno);
                            $('#inputApellidoMaterno').val(data.apellidoMaterno);
                            //Deshabilitar inputs
                            $('#inputRutMandatario').prop('readonly', true);
                            $('#inputNombre').prop('readonly', true);
                            $('#inputApellidoPaterno').prop('readonly', true);
                            $('#inputApellidoMaterno').prop('readonly', true);
                            $('#inputObservaciones').prop('readonly', true);                            
                            //Deshabilitar botón
                            $('#btn-registrarModalMandatario').prop('disabled', true);
                            $('#btn-limpiarRegistrarMandatario').prop('disabled', true);                            
                        }
                        else {
                            $('#validacionRutPersona').text('');
                        }
                    }
                });
            }
        });
        //Reaparecer botones -.-
        $('#btn-cerrar-modal-mensaje').on("click", function () {            
            $('#btn-registrarModalMandatario').css("display", "inline");
            $('#btn-limpiarRegistrarMandatario').css("display", "inline");
        });
    });

</script>
