﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}


<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-md-12">
            <form asp-action="IngresarAsociacion" class="col-xl-12" >
                @Html.HiddenFor(model => model.CodigoGrupo)

               <label class="control-label col-md-12" style="font-size: 15px;"> ¿Desea Agregar mandatarios seleccionados al grupo?</label>
            </form>
        </div>
    </div>
</div>