﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">     
    <hr />
    <div class="input-group">
        <div class="col-xl-12">         
            <form asp-action="IngresarGrupo" class="col-xl-12" id="formularioRegistar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" >
                    <label asp-for="NombreGrupo" class="control-label col-md-8" style="font-size: 15px;"></label>
                    <input asp-for="NombreGrupo" id="nombreGrupo" class="form-control col-xl-12 " required/>
                    <span asp-validation-for="NombreGrupo" id="GrupoValidacion" class="text-danger"></span>                   
                </div>          
             </form>
        </div>
              
    </div>
</div>
