﻿@{
    Layout = null;
}


<div class="row" style="width:100%">
    <div class="col-md-12" style="width:100%">
        <table id="exampleMandatariosAsociadosParaRetiro" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Mandatarios</th>
                </tr>
            </thead>
        </table>
        <hr />
    </div>
</div>