﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioGrupoDTO

@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-md-12">
            <form asp-action="VerObservacionMandatario" class="col-xl-12" id="formularioVerObservacionMandatario">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <label asp-for="Rut" class="control-label col-md-8" style="font-size: 15px;"> Rut Mandatario</label>
                    <input asp-for="Rut" id="inputVerObservacionMandatarioRut" class="form-control" style="text-align:center;" value="@string.Format("{0:#,0}", Convert.ToInt32(@Model.Rut)) - @Model.DvPersona" readonly />
                    <span asp-validation-for="Rut" id="validacionVerObservacionMandatarioRut" class="text-danger"></span>

                    <label asp-for="Nombre" class="control-label col-md-8" style="font-size: 15px; padding-top: 5px;"> Nombre Completo</label>
                    <input asp-for="Nombre" id="inputVerObservacionMandatarioNombre" class="form-control" readonly />
                    <span asp-validation-for="Nombre" id="validacionVerObservacionMandatarioNombre" class="text-danger"></span>

                    <label asp-for="Limite" class="control-label col-md-8" style="font-size: 15px;"> Observaciones</label>
                    <textarea asp-for="Limite" id="inputVerObservacionMandatarioLimite" class="form-control" readonly ></textarea>
                    <span asp-validation-for="Limite" id="validacionVerObservacionMandatarioLimite" class="text-danger" style="display: none;"></span>

                </div>
            </form>
        </div>

    </div>
</div>