﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioRutResponderDTO
@{
    Layout = null;
}
<div>
    <div id="areaImprimir" class="col-md-12 text-left">
        <div class="form-group">
            <label asp-for="NombreSociedad" style="font-size: 15px;">Nombre/Razón Social:</label>
            <input asp-for="NombreSociedad" value="@Model.NombreSociedad" id="nombre" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="RutSoc" style="font-size: 15px;">Rut:</label>
            <input asp-for="RutSoc" value="@Model.RutSoc" id="rut" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Fecha" style="font-size: 15px;">Fecha Consultada:</label>
            <input asp-for="Fecha" value="@Model.Fecha" id="fecha" class="form-control" readonly />
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Rut</td>
                            <td>Mandatario</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ArrNombres.Length; i++)
                        {
                            <tr>
                                <td>@string.Format("{0:#,0}", Convert.ToInt32(@Model.ArrRuts[i]))-@Model.ArrDvs[i]</td>
                                <td>@Model.ArrNombres[i]</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (!ViewBag.cadenaHTML.Equals(string.Empty))
                {
                    <h3>
                        <label style="color:green; display: block; text-align: center;">                            
                            @ViewBag.strTxtResp @ViewBag.strTexto
                        </label>
                    </h3>
                }
                else
                {
                    <h3>
                        <label style="color:red; display: block; text-align: center;">
                            @ViewBag.strMandatarioNoEjerce ninguna facultad
                        </label>
                    </h3>
                }
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <div class="col-md-12 text-center">
                    <button id="imprimir" type="button" class="btn btn-secondary">Imprimir</button>
                    @if (!ViewBag.cadenaHTML.Equals(string.Empty))
                    {
                        <button id="verDatos" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseVerDatos" aria-expanded="false" aria-controls="collapseVerDatos">Ver Datos</button>
                    }
                </div>
            </p>
        </div>

        <div class="collapse" id="collapseVerDatos">
            <div class="card card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    @Html.Raw(ViewBag.cadenaHTML)
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <div class="col-md-12 text-center">
                    @if (!ViewBag.cadenaHTML.Equals(string.Empty))
                    {
                        <button id="verDatos" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseVerDatos" aria-expanded="false" aria-controls="collapseVerDatos">Ocultar Datos</button>
                    }
                </div>
            </p>
        </div>
    </div>
</div>

