﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioRutResponderDTO
@{
    Layout = null;
}

<div id="areaImprimir" class="col-md-12">
    <div class="col-md-12 text-left">
        <div class="form-group">
            <label asp-for="NombreSociedad" style="font-size: 15px;">Nombre/Razón Social:</label>
            <input asp-for="NombreSociedad" value="@Model.NombreSociedad" id="nombre" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="RutSoc" style="font-size: 15px;">Rut:</label>
            <input asp-for="RutSoc" value="@Model.RutSoc" id="rut" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Fecha" style="font-size: 15px;">Fecha Consultada:</label>
            <input asp-for="Fecha" value="@Model.Fecha" id="fecha" class="form-control" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @if (ViewBag.TipoPregunta == "MandatarioYfacu")
            {
                <div class="col-md-4" style="text-align:left">
                    <h4>Facultad:</h4>
                </div>
                <div class="col-md-8" style="text-align:right">
                    <h5>@Model.NombreFacultad</h5>
                </div>
                <div class="col-md-8" style="text-align:left">
                    <h5>@ViewBag.strCampo</h5>
                </div>
            }

            @if (Model.CantidadManda != 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Rut</td>
                            <td>Mandatario</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ArrNombres.Length; i++)
                        {
                            <tr>
                                <td>@string.Format("{0:#,0}", Convert.ToInt32(@Model.ArrRuts[i]))-@Model.ArrDvs[i]</td>
                                <td>@Model.ArrNombres[i]</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (ViewBag.respuesta != string.Empty)
                {
                    <h2>
                        <label style="color:green; display: block; text-align: center;">
                            @ViewBag.strTxtResp @ViewBag.strTexto
                        </label>
                    </h2>
                }
                else
                {
                    <h2>
                        <label style="color:red; display: block; text-align: center;">
                            @ViewBag.strMandatarioNoEjerce la facultad seleccionada
                        </label>
                    </h2>
                }

            }
        </div>
    </div>
    <p>
        <div class="col-md-12 text-center">
            <button id="imprimir" type="button" class="btn btn-secondary">Imprimir</button>
            @if (ViewBag.respuesta != string.Empty)
            {
                <button id="verDatos" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseVerDatos" aria-expanded="false" aria-controls="collapseVerDatos">Ver Datos</button>
            }


        </div>
    </p>

    @*Desplegar ver datos*@
    <div class="collapse" id="collapseVerDatos">
        <div class="card card-body">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Raw(ViewBag.respuesta)
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function printData() {

        $("#areaImprimir").printThis({
            importCSS: true,
            importStyle: true,//thrown in for extra measure
            loadCSS: "~/lib/bootstrap/dist/css/bootstrap.css"
        });
    }

    $('#imprimir').on('click', function () {
        printData();
    })

</script>
