﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.PatrimonioDTO
@{
    Layout = null;
}
<div class="row">
    <div id="areaImprimir" class="col-md-12">
        <div class="col-md-12 text-left">
            @if (Model.CodigoTipo.Equals("0"))
            {
                <div class="form-group">
                    <label asp-for="Monto" style="font-size: 15px;">Monto:</label>
                    <input asp-for="Monto" value="@string.Format("{0:#,0}", @Model.Monto)" id="monto" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Moneda" style="font-size: 15px;">Moneda:</label>
                    <input asp-for="Moneda" value="@Model.Moneda" id="moneda" class="form-control" readonly />
                </div>

                <table id="tablaTipo0" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Rut Socio</th>
                            <th>Nombre</th>
                            <th>Aporte</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                </table>
            }
            else if (Model.CodigoTipo.Equals("1"))
            {
                <div class="form-group">
                    <label asp-for="Monto" style="font-size: 15px;">Monto:</label>
                    <input asp-for="Monto" value="@string.Format("{0:#,0}", @Model.Monto)" id="monto" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Moneda" style="font-size: 15px;">Moneda:</label>
                    <input asp-for="Moneda" value="@Model.Moneda" id="moneda" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CantidadTotalAcciones" style="font-size: 15px;">Cantidad Total Acciones:</label>
                    <input asp-for="CantidadTotalAcciones" value="@string.Format("{0:#,0}", @Model.CantidadTotalAcciones)" id="cantidadTotalAcciones" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="ValorNominalAccion" style="font-size: 15px;">Valor Nominal Acciones:</label>
                    <input asp-for="ValorNominalAccion" value="@string.Format("{0:#,0}", @Model.ValorNominalAccion)" id="valorNominalAccion" class="form-control" readonly />
                </div>
            }
            else if (Model.CodigoTipo.Equals("2"))
            {
                <table id="tablaTipo2" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Rut Comunero</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                </table>
            }
            else if (Model.CodigoTipo.Equals("3"))
            {
                <div class="form-group">
                    <label asp-for="Monto" style="font-size: 15px;">Monto:</label>
                    <input asp-for="Monto" value="@string.Format("{0:#,0}", @Model.Monto)" id="monto" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Moneda" style="font-size: 15px;">Moneda:</label>
                    <input asp-for="Moneda" value="@Model.Moneda" id="moneda" class="form-control" readonly />
                </div>
            }

            <div class="form-group">
                <label asp-for="Descripcion" style="font-size: 15px;">Observaciones:</label>
                <textarea id="descripcion" class="form-control" readonly >@Model.Descripcion</textarea>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $('#tablaTipo0').DataTable({
        'ajax': '/Consultas/ConsultaPoderes/CargaTablaComuneroModal?codigoPersona=' + @Model.Id + '&codigoTipo=' + @Model.CodigoTipo,
        'type': 'GET',
        'destroy': true,
        'language': languageGrid,
        "processing": true,
        "serverSide": false,
        'columns': [
            {
                'render': function (data, type, row) {
                    var rut = row.rut;
                    rut = rut.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
                    return rut + '-' + row.dv;
                }
            },
            { 'data': 'nombre' },
            { 'data': 'montoAporte' },
            { 'data': 'porcentajeAporte'}
        ]
    });

    $('#tablaTipo2').DataTable({
        'ajax': '/Consultas/ConsultaPoderes/CargaTablaComuneroModal?codigoPersona=' + @Model.Id + '&codigoTipo=' + @Model.CodigoTipo,
        'type': 'GET',
        'destroy': true,
        'language': languageGrid,
        "processing": true,
        "serverSide": false,
        'columns': [
            {
                'render': function (data, type, row) {
                    var rut = row.rut;
                    rut = rut.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
                    return rut + '-' + row.dv;
                }
            },
            { 'data': 'nombre' }
        ]
    });
</script>