﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioConsultaDTO
@{
    ViewData["Title"] = "Consulta Poderes";
    string[] flujo2 = { "14", "22", "9", "3", "13", "23" };
    string[] flujo4 = { "7", "10","21" };
    string[] flujo7 = { "16", "12", "11" };
    string[] flujo9 = { "4", "2" };
}

<style>
    #modal-detalle {
        position: absolute;
        padding-top: 100px;
        padding-bottom: 100%;
    }

    #modal-Responder {
        position: absolute;
        padding-top: 8%;
        padding-bottom: 100%;
    }

    tr {
        font-size: 12px;
    }

    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        overflow-y: auto;
    }
</style>
<h2 class="text-center">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right">
                <form method="post" id="formulario">
                    <input asp-for="Rut" id="rutH" class="d-none form-control" readonly />
                    <input asp-for="IdSgl" value="@ViewBag.IdSgl" class="d-none form-control" readonly />
                    <button id="menu" type="button" class="btn btn-secondary">Menú Principal</button>
                    <button id="btn-EntradaCompleta" class="btn btn-secondary" asp-area="CabeceraSGL" asp-controller="AsociarSociedadSGL" asp-action="Index">
                        Volver
                    </button>
                    @*<button id="volver" type="button" class="btn btn-secondary">Volver</button>*@
                    <button id="cerrar" type="button" class="btn btn-primary">Cerrar Sesion</button>
                </form>
            </div>
        </div>
        <hr />
        @*@Html.HiddenFor(model => model.Rut)*@
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Rut" style="font-size: 15px;">Rut:</label>
                    <input asp-for="Rut"  id="rut" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EstadoLegalDescripcion" class="control-label" style="font-size: 15px;">Estado:</label>
                    <input asp-for="EstadoLegalDescripcion" value="@Model.EstadoLegalDescripcion" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NombrePersona" id="nombrePersona" class="control-label" style="font-size: 15px;">Nombre o Razón Social:</label>
                    <input asp-for="NombrePersona" value="@Model.NombrePersona" id="NombrePersona" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TipoPersonaJuridica" class="control-label" style="font-size: 15px;">Tipo Persona Juridica:</label>
                    <input asp-for="TipoPersonaJuridica" value="@Model.TipoPersonaJuridica" class="form-control" readonly />
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="modLeg-tab" data-toggle="tab" href="#modLeg" role="tab" aria-controls="home" aria-selected="true">Constitución y Legalización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="estatutos-tab" data-toggle="tab" href="#estatutos" role="tab" aria-controls="profile" aria-selected="false">Datos Estatutos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="poder-tab" data-toggle="tab" href="#poder" role="tab" aria-controls="contact" aria-selected="false">Consulta Poder</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="modLeg" role="tabpanel" aria-labelledby="modLeg-tab">
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="LegalizacionDoc" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="0">#</th>@*0*@
                                        <th class="1">Tipo Documento</th>@*1*@
                                        <th class="2">Fecha Escritura</th>@*2*@
                                        <th class="3">Notaría</th>@*3*@
                                        <th class="4">N° Rep.</th>@*4*@
                                        <th class="5">Fecha Inscrp.</th>@*5*@
                                        <th class="6">Año Inscrip.</th>@*6*@
                                        <th class="7">Fojas</th>@*7*@
                                        <th class="8">Número</th>@*8*@
                                        <th class="9">Registro</th>@*9*@
                                        <th class="10">Fecha Public.</th>@*10*@
                                        <th class="11">Fecha Decreto</th>@*11*@
                                        <th class="12">N° Decreto</th>@*12*@
                                        <th class="13">Fecha Publicacion Decreto</th>@*13*@
                                        <th class="14" style="display:none">Observaciones</th>@*14*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int cont = 1;}
                                    @foreach (var item in Model.ListaDocumentos)
                                    {
                                        <tr>
                                            <td class="0">@cont</td>@*0*@
                                            <td class="1">@item.DescripcionTipoLegal</td>@*1*@

                                            @if (@item.FechaInicio.ToString("dd/MM/yyyy").Contains("3000"))
                                            {
                                                <td class="2"></td>@*2*@
                                            }
                                            else
                                            {
                                                <td class="2">@item.FechaInicio.ToString("dd/MM/yyyy").Replace('-', '/')</td>@*2*@
                                            }

                                            <td class="3">@item.Notaria</td>@*3*@
                                            <td class="4">@item.NumeroDocumento</td>@*4*@

                                            @if (@item.FechaIncorporacion.ToString("dd/MM/yyyy").Contains("3000"))
                                            {
                                                <td class="5"></td>@*2*@
                                            }
                                            else
                                            {
                                                <td class="5">@item.FechaIncorporacion.ToString("dd/MM/yyyy").Replace('-', '/')</td> @*5*@
                                            }

                                            <td class="6">@item.AnioIncorporacion</td>@*6*@
                                            <td class="7">@item.Foja</td>@*7*@
                                            <td class="8">@item.FojaNumero</td>@*8*@
                                            <td class="9">@item.Conservador</td>@*9*@

                                            @if (@item.FechaPublicacion.ToString("dd/MM/yyyy").Contains("3000"))
                                            {
                                                <td class="10"></td>@*2*@
                                            }
                                            else
                                            {
                                                <td class="10">@item.FechaPublicacion.ToString("dd/MM/yyyy").Replace('-', '/')</td>@*10*@
                                            }

                                            @if (@item.FechaDecreto.ToString("dd/MM/yyyy").Contains("3000"))
                                            {
                                                <td class="11"></td>@*2*@
                                            }
                                            else
                                            {
                                                <td class="11">@item.FechaDecreto</td>@*11*@
                                            }

                                            <td class="12">@item.NumeroDecreto</td>@*12*@

                                            @if (@item.FechaPublicacionDecreto.ToString("dd/MM/yyyy").Contains("3000"))
                                            {
                                                <td class="13"></td>@*2*@
                                            }
                                            else
                                            {
                                                <td class="13">@item.FechaPublicacionDecreto.ToString("dd/MM/yyyy").Replace('-', '/')</td>@*13*@
                                            }

                                            <td class="14" style="display:none">@item.Observaciones</td>@*14*@
                                        </tr>
                                        cont++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="font-size: 15px;">Observaciones:</label>
                            <textarea id="textareaLegalizacion" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="estatutos" role="tabpanel" aria-labelledby="estatutos-tab">
                    <br />
                    <div class="col-md-12">
                        <table id="Legalizacion" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="35%"><label asp-for="NombreLegalAnterior" style="font-size: 15px;">Nombre Anterior Histórico:</label></th>
                                    <th>  <input asp-for="NombreLegalAnterior" value="@Model.NombreLegalAnterior" class="form-control" readonly /></th>
                                </tr>
                                <tr>
                                    <th><label asp-for="NombreFantasia" class="control-label col-md-6" style="font-size: 15px;">Nombre de Fantasía:</label></th>
                                    <th> <input asp-for="NombreFantasia" value="@Model.NombreFantasia" class="form-control" readonly /></th>
                                </tr>
                                <tr>
                                    <th><label asp-for="Objeto" class="control-label col-md-6" style="font-size: 15px;">Objeto:</label></th>
                                    <th><textarea asp-for="Objeto" value="@Model.Objeto" class="form-control" readonly></textarea></th>
                                </tr>
                                <tr>
                                    <th><label asp-for="Domicilio" class="control-label col-md-6" style="font-size: 15px;">Domicilio:</label></th>
                                    <th><input asp-for="Domicilio" value="@Model.Domicilio" class="form-control" readonly /></th>
                                </tr>
                                <tr>
                                    <th><label asp-for="Duracion" class="control-label col-md-6" style="font-size: 15px;">Duración:</label></th>
                                    <th><input asp-for="Duracion" value="@Model.Duracion" class="form-control" readonly /></th>
                                </tr>

                                @if (flujo2.Contains(Model.CodigoTipoPersona))
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Capital y Socios:</label></th>
                                        <th><a class="btn btn-primario" href="@Url.Action("Details","ConsultaPoderes",new {codigoPersona = Model.CodigoPersona,tipoPersona = Model.TipoPersonaJuridica})" id="btnCapitalSocios">Ir a</a></th>
                                    </tr>
                                }
                                else if (Model.CodigoTipoPersona == "0")
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Administracion:</label></th>
                                        <th><textarea asp-for="Administracion" value="@Model.Administracion" class="form-control" readonly></textarea></th>
                                    </tr>
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Fuente Comunidad:</label></th>
                                        <th><input asp-for="ComunidadFuente" value="@Model.ComunidadFuente" class="form-control" readonly></th>
                                    </tr>
                                }
                                else if (flujo4.Contains(Model.CodigoTipoPersona))
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Patrimonio:</label></th>
                                        <th><a class="btn btn-primario" href="@Url.Action("Details","ConsultaPoderes",new {codigoPersona = Model.CodigoPersona,tipoPersona = Model.TipoPersonaJuridica})" id="btnCapitalSocios">Ir a</a></th>
                                    </tr>
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Administracion:</label></th>
                                        <th><textarea asp-for="Administracion" value="@Model.Administracion" class="form-control" readonly></textarea></th>
                                    </tr>
                                }
                                else if (Model.CodigoTipoPersona == "6")
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Capital y Acciones:</label></th>
                                        <th><a class="btn btn-primario" href="@Url.Action("Details","ConsultaPoderes",new {codigoPersona = Model.CodigoPersona,tipoPersona = Model.TipoPersonaJuridica})" id="btnCapitalSocios">Ir a</a></th>
                                    </tr>
                                }
                                else if (flujo7.Contains(Model.CodigoTipoPersona))
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Capital y Acciones:</label></th>
                                        <th><a class="btn btn-primario" href="@Url.Action("Details","ConsultaPoderes",new {codigoPersona = Model.CodigoPersona,tipoPersona = Model.TipoPersonaJuridica})" id="btnCapitalSocios">Ir a</a></th>
                                    </tr>
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Administracion:</label></th>
                                       <th><textarea asp-for="Administracion" value="@Model.Administracion" class="form-control" readonly>El Directorio está compuesto por * miembros titulares, los que durarán * años en sus funciones, pudiendo ser reelegidos indefinidamente. No se requerirá la calidad de accionista para ser elegido Director. El quórum para que el Directorio pueda funcionar válidamente será de * miembros y los acuerdos se adoptarán por la mayoría absoluta de los Directores asistentes, decidiendo en caso de empate, quien presida la reunión.</textarea></th>
                                    </tr>
                                }
                                else if (Model.CodigoTipoPersona == "5")
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Administracion:</label></th>
                                        <th><textarea asp-for="Administracion" value="@Model.Administracion" class="form-control" readonly></textarea></th>
                                    </tr>
                                }
                                else if (flujo9.Contains(Model.CodigoTipoPersona))
                                {
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Capital y Acciones:</label></th>
                                        <th><a class="btn btn-primario" href="@Url.Action("Details","ConsultaPoderes",new {codigoPersona = Model.CodigoPersona,tipoPersona = Model.TipoPersonaJuridica})" id="btnCapitalSocios">Ir a</a></th>
                                    </tr>
                                    <tr>
                                        <th><label asp-for="CodigoPersona" class="control-label col-md-6" style="font-size: 15px;">Administracion:</label></th>
                                        <th><textarea asp-for="Administracion" value="@Model.Administracion" class="form-control" readonly></textarea></th>
                                    </tr>
                                }
                                <tr>
                                    <th><label asp-for="Conclusion" class="control-label col-md-6" style="font-size: 15px;">Conclusión:</label></th>
                                    <th><textarea asp-for="Conclusion" value="@Model.Conclusion" class="form-control" readonly></textarea></th>
                                </tr>
                                <tr>
                                    <th><label asp-for="CodigoPersona" class="control-label col-md-12" style="font-size: 15px;">Fecha Proxima Estado Vigencia:</label></th>
                                    <th><input asp-for="NombreFantasia" value="@Model.FechaActualizacion" class="form-control" readonly /></th>
                                </tr>

                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="poder" role="tabpanel" aria-labelledby="poder-tab">
                    <br />
                    <form>
                        <div class="form-group row">
                            <label class="col-md-6 col-form-label" style="font-size: 15px;"><strong>Fecha consulta:</strong></label>
                            <div class="col-md-6">
                                <input asp-for="FechaConsulta" class="form-control" onkeydown="return false" id="date-input" value="@Model.FechaConsulta" name="date" placeholder="DD/MM/YYYY" required />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <h4>Mandatarios Vigentes</h4>
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <table id="MandaVigentes" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Nombre</th>
                                                <th style="display:none">Codigo Participante</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4>Facultades a Consultar</h4>
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <div id="dropdownFacultades" class="dropdown">
                                        @*@Html.Raw(ViewBag.HtmlStr)*@
                                        @foreach (var item in ViewBag.lstFacultades)
                                        {
                                            @if (item.TipoRelacion.Equals("Padre"))
                                            {
                                                <h1 class="dropdown-header" style="font-size: 20px"><strong> @item.NombreFacultad </strong></h1>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" style="font-size: 15px" id=@item.CodigoFacultad> @item.NombreFacultad </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <br />
                                    <textarea id="responder" class="form-control" readonly></textarea>
                                    <br />
                                    <button class="btn btn-primario" id="ConsultaPoderesVigentes">Responder</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalles-->
<div class="modal fade bd-example-modal-lg" id="modal-Responder" tabindex="-1" role="dialog" aria-labelledby="modal-detalle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-Responder"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cuerpo-modal-Responder" style="text-align:center;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer">
                <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    $(function (e) {

        $('#modal-Responder').css("z-index", "200001");

        $(document).ready(function () {
             switch (@Model.CodigoLegal) {
                case 0:
                    $("table .6").toggle();
                    $("table .11").toggle();
                    $("table .12").toggle();
                    $("table .13").toggle();
                    break;
                case 1:
                    $("table .6").toggle();
                    $("table .10").toggle();
                    $("table .11").toggle();
                    $("table .12").toggle();
                    $("table .13").toggle();
                    break;
                case 2:
                    $("table .5").toggle();
                    $("table .6").toggle();
                    $("table .7").toggle();
                    $("table .8").toggle();
                    $("table .9").toggle();
                    $("table .10").toggle();
                    $("table .11").toggle();
                    $("table .12").toggle();
                    $("table .13").toggle();
                    break;
                case 3:
                    $("table .5").toggle();
                    $("table .6").toggle();
                    $("table .7").toggle();
                    $("table .8").toggle();
                    $("table .9").toggle();
                    $("table .10").toggle();
                    break;
            }
        });

        var NombreMandatario;


        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaActual = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();


        $('#date-input').val(fechaActual);

        $('#date-input').datepicker( );

        $('#date-input').datepicker()
            .on('changeDate', function (ev) {
                $('#date-input').datepicker('hide');
                CargaTablaMandatarios();
            });

            //botones del inicio
            $("#cerrar").click(function () {
                $("#btn-cerrar-session").trigger("click");
            });

            $("#menu").click(function () {
                document.location.href = "/Login/Login/Home"
            });

        $('#btn-EntradaCompleta').on('click', function (e) {
                //e.preventDefault();
                //window.history.back();
            $("#formulario").submit();
               //window.location.href = document.referrer;
            });

        var nombreFacultad = "";
            //Carga el datatable al cambiar la fecha
        $("#date-input").change(function () {
                CargaTablaMandatarios();
            });

            //Carga inicial del datatable
            $(document).ready(function () {
                CargaTablaMandatarios();
            });

        var fechaConsulta = "";

            //Carga el datatable Mandatarios
            function CargaTablaMandatarios() {
                var codigoParticipante = @Model.CodigoPersona;
                var tipoParticipante = 3;
                //fechaConsulta = $("#date-input").val(new Date().toISOString().slice(0, 10));
                fechaConsulta = $("#date-input").val();                
                if (fechaConsulta == "") {
                    var fechaActual = new Date();
                    fechaActual = fechaActual.getDate() + '-' + (fechaActual.getMonth() + 1) + '-' + fechaActual.getFullYear();
                    fechaConsulta = fechaActual;
                }


                CargaTextArea("", nombreFacultad);
                //alert(fechaConsulta);
                $('#MandaVigentes').DataTable({
                    'ajax': '/Consultas/ConsultaPoderes/ListaMandatariosVigentes?codigoParticipante=' + codigoParticipante + "&tipoParticipante=" + tipoParticipante + "&fechaConsulta=" + fechaConsulta,
                    'type': 'GET',
                    'destroy': true,
                    'language': languageGrid,
                    'dataType':"JSON",
                    "processing": true,
                    "serverSide": false,
                    'columns': [
                        {
                            'render': function (data, type, row) {
                                var rut = row.rut;
                                rut = rut.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
                                return rut + '-' + row.dv;
                            }
                        },
                        { 'data': 'nombre' },
                        { 'data': 'codigoParticipante', visible: false }
                    ]
                });
            }

            //Seleciona registros en el dropdownFacultades

            var nombresMandaSelect = "";
            var RutMandaSelect = "";
            var CodigoMandatarios = "";
        var CodigoFacultad = 0;
        var dv = "";
        var cont = 0;
        var contFacul = 0;

            $("#dropdownFacultades a").click(function () {

                $(this).addClass('selected').siblings().removeClass('selected');

                if (nombreFacultad != $("#dropdownFacultades .selected").text()) {

                    $("#dropdownFacultades .selected").each(function () {
                        nombreFacultad = $("#dropdownFacultades .selected").text();
                        CodigoFacultad = $("#dropdownFacultades .selected").attr('id');
                        contFacul = 1;
                    });
                } else {

                    $(this).removeClass('selected');
                    nombreFacultad = "";
                    contFacul = 0;
                } 

                CargaTextArea(nombresMandaSelect, nombreFacultad);
            });

            //Seleciona registros en el datatable MandaVigentes
            var table = $('#MandaVigentes').DataTable(); //no borrar, osino no funciona el multi select de la tabla
            $('#MandaVigentes tbody').on('click', 'tr', function () {
                nombresMandaSelect = "";
                RutMandaSelect = "";
                dv = "";
                CodigoMandatarios = "";
                cont = 0;
                $(this).toggleClass('selected');
                $('#MandaVigentes').DataTable().rows('.selected').data().each(function (value, index) {
                    nombresMandaSelect = nombresMandaSelect + value.nombre + ",";
                    RutMandaSelect = RutMandaSelect + value.rut + ",";
                    dv = dv + value.dv + ",";
                    CodigoMandatarios = CodigoMandatarios + value.codigoParticipante + ",";
                    cont++;
                });
                CargaTextArea(nombresMandaSelect, nombreFacultad);
            });

            function CargaTextArea(nombresMandaSelect, nombreFacultad) {
                var cantManda = $('#MandaVigentes').DataTable().rows('.selected').data().length
                var cantFacul = $.trim(nombreFacultad).length

                //var fechaConvertida = fechaConsulta.split('-');
                //var fechaConvertida = fechaConvertida[2] + "/" + fechaConvertida[1] + "/" + fechaConvertida[0];
                var fechaConvertida = fechaConsulta;

                if (cantManda == 0 && cantFacul == 0) {
                    $("#responder").val("¿Cuáles son los poderes vigentes el " + fechaConvertida + "?");
                } else if (cantManda == 0 && cantFacul != 0) {
                    $("#responder").val("¿Quién puede " + nombreFacultad + " el " + fechaConvertida + "?");
                } else if (cantManda == 1 && cantFacul == 0) {
                    $("#responder").val("¿Qué puede hacer " + nombresMandaSelect + " actuando individualmente, el " + fechaConvertida + "?");
                } else if (cantManda == 1 && cantFacul != 0) {
                    $("#responder").val("¿Puede " + nombresMandaSelect + " actuando individualmente, " + nombreFacultad + " el " + fechaConvertida + "?");
                } else if (cantManda > 1 && cantFacul == 0) {
                    $("#responder").val("¿Qué pueden hacer " + nombresMandaSelect + " actuando conjuntamente, el " + fechaConvertida + "?");
                } else if (cantManda > 1 && cantFacul != -1) {
                    $("#responder").val("¿Pueden " + nombresMandaSelect + " actuando conjuntamente, " + nombreFacultad + " el " + fechaConvertida + "?");
                }
            }

            //Seleciona registros en el datatable Legalizacion
        $("#LegalizacionDoc tbody tr").click(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                $("#textareaLegalizacion").val($(this).find("td").eq(14).html());
            });

            $(document).on('click', "#btnPatrimonio", function (e) {
                e.preventDefault();
                var button = $(e.currentTarget);
                var url = button.attr('href');
            });

            $(document).on('click', "#btnCapitalSocios", function (e) {
                e.preventDefault();
                window.scrollTo(0, 0);
                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal-Responder').html('Patrimonio');

                $('#modal-Responder .modal-body').load(url, function (data) {
                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                        $('#modal-Responder').modal('show');
                    }, 500);
                });
            });

        $(document).on('click', "#ConsultaPoderesVigentes", function (e) {

                window.scrollTo(0, 0);
                e.preventDefault();
                var url;
                var button = $(e.currentTarget);
                var cantManda = $('#MandaVigentes').DataTable().rows('.selected').data().length
                var cantFacul = $.trim($("#dropdownFacultades .selected").text()).length

                //href=Url.Action("ConsultaPoderesVigentes","ConsultaPoderes")"
                var url;
                var codigoPersona = @Model.CodigoPersona;
                var rutSoc = $('#rut').val();
                var nomSociedad = $("#NombrePersona").val();
                var fecha = fechaConsulta;          

                if (cantManda == 0 && cantFacul == 0) {

                    //alert(nomSociedad);
                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    url = (function () {
                        return '/Consultas/ConsultaPoderes/RespondePoderesVigentes?rutSoc=param-rut&nombreSociedad=param-name&fecha=param-fecha&codigoPersona=param-cod'
                            .replace('param-rut', encodeURIComponent(rutSoc))
                            .replace('param-name', encodeURIComponent(nomSociedad))
                            .replace('param-fecha', encodeURIComponent(fecha))
                            .replace('param-cod', encodeURIComponent(codigoPersona));
                    })();

                    $('#titulo-modal-Responder').html('Consulta Poderes Vigentes');
                    $('#modal-Responder .modal-body').load(url, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal-Responder').modal('show');
                        }, 500);
                    });

                } else {

                    if (cont > 5) {
                        cont = 0;
                        $('#titulo-modal-mensaje').html('Consulta Poderes');
                        $('#cuerpo-modal-mensaje').html("Solo puede seleccionar un maximo de 5 Mandatarios");
                        $('#modal-mensaje').modal('show');

                        $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                            $("#modal-mensaje").modal('hide');
                            return;
                        });
                    } else {

                        $('#modal-loading').modal({
                            backdrop: 'static',
                            keyboard: false,
                            show: true
                        });
                        if (cantManda != 1 && contFacul != 0) {
                            var datosModal = {
                                /*CodigoSGL: 0,*/
                                RutSoc: rutSoc,
                                NombreSociedad: nomSociedad,
                                CodigoPersona: codigoPersona,
                                NombresMandatarios: 'a',
                                RutsMandatarios: 'a',
                                Dvs: 'a',
                                Fecha: fecha,
                                NombreFacultad: nombreFacultad,
                                //CodigoGrupoFacultad: 0,
                                CodigoFacultad: CodigoFacultad,
                                CodigosMandatarios: 'a'
                                //CantidadManda: 0,
                                //CantidadFacul:0,                            
                                //ArrDvs: [''],
                                //ArrNombres: [''],
                                //ArrRuts: [''],
                                //Nombre: '',
                                //Rut: '',
                                //Facultad: ''

                            };
                        } else {

                                var datosModal = {
                                /*CodigoSGL: 0,*/
                                RutSoc: rutSoc,
                                NombreSociedad: nomSociedad,
                                CodigoPersona: codigoPersona,
                                NombresMandatarios: nombresMandaSelect,
                                RutsMandatarios: RutMandaSelect,
                                Dvs: dv,
                                Fecha: fecha,
                                NombreFacultad: nombreFacultad,
                                //CodigoGrupoFacultad: 0,
                                CodigoFacultad: CodigoFacultad,
                                CodigosMandatarios: CodigoMandatarios
                                //CantidadManda: 0,
                                //CantidadFacul:0,                            
                                //ArrDvs: [''],
                                //ArrNombres: [''],
                                //ArrRuts: [''],
                                //Nombre: '',
                                //Rut: '',
                                //Facultad: ''

                                };
                        }
                        console.log(datosModal)
                        var objeto = JSON.stringify(datosModal);
                        console.log(objeto)
                        console.log(cantManda)
                        console.log(cantFacul)
                        if (cantManda >= 1 && contFacul == 1) {
                            $.ajax({
                                url: "@Url.Action("EnviaDataModal", "ConsultaPoderes")",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: objeto,
                                success: function (data) {
                                    console.log(data)
                                    $('#titulo-modal-Responder').html('Consulta Poderes Vigentes');
                                    $('#modal-Responder .modal-body').load('/Consultas/ConsultaPoderes/ConsultaPoderesResponder', data, function (data) {
                                        console.log(data)
                                        setTimeout(function () {
                                            $('#modal-loading').modal('hide');
                                            $('#modal-Responder').modal('show');
                                        }, 500);
                                    });
                                }
                            });
                        } else if (cantManda == 0 && contFacul == 1) {
                            $.ajax({
                                url: "@Url.Action("EnviaDataModal", "ConsultaPoderes")",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: objeto,
                                success: function (data) {
                                    console.log(data)
                                    $('#titulo-modal-Responder').html('Consulta Poderes Vigentes');
                                    $('#modal-Responder .modal-body').load('/Consultas/ConsultaPoderes/ResponderConsultaPoderesFacultad', data, function (data) {
                                        console.log(data)
                                        setTimeout(function () {
                                            $('#modal-loading').modal('hide');
                                            $('#modal-Responder').modal('show');
                                        }, 500);
                                    });
                                }
                            });
                        } else if (cantManda > 0 && cantFacul == 0) {

                              $.ajax({
                                url: "@Url.Action("EnviaDataModal", "ConsultaPoderes")",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: objeto,
                                  success: function (data) {
                                      console.log(data)
                                    $('#titulo-modal-Responder').html('Consulta Poderes Vigentes');
                                      $('#modal-Responder .modal-body').load('/Consultas/ConsultaPoderes/ConsultaSoloMandatarios', data, function (data) {
                                          console.log(data)
                                        setTimeout(function () {
                                            $('#modal-loading').modal('hide');
                                            $('#modal-Responder').modal('show');
                                        }, 500);
                                    });
                                }
                            });
                        }
                    }
                }
        });
        $('#rut #rutH').val('@Model.Rut').change();
        $('#rut #rutH').FormatearRut();
        });



        //jQuery(document).ready(function () {

        //    jQuery('#modal-Responder').on('hidden.bs.modal', function (e) {
        //        jQuery(this).removeData('bs.modal');
        //        jQuery(this).find('.modal-content').empty();
        //    });
        //});

    </script>
}




