﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.RespondePoderesVigentesDTO
@{
    ViewData["Title"] = "Consulta Poderes Vigentes";
}
<div class="row">
    <div class="col-md-12 table-wrapper-scroll-y my-custom-scrollbar">
        <div class="col-md-12 text-left">
            <div class="form-group">
                <label asp-for="Nombre" style="font-size: 15px;">Nombre/Razón Social:</label>
                <input asp-for="Nombre" value="@Model.Nombre" id="nombre" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Rut" style="font-size: 15px;">Rut:</label>
                <input asp-for="Rut" value="@Model.Rut" id="rut" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="FechaConsulta" style="font-size: 15px;">Fecha Consultada:</label>
                <input asp-for="FechaConsulta" value="@Model.FechaConsulta" id="fecha" class="form-control" readonly />
            </div>
        </div>
        <hr />
        @if (@ViewBag.lstPoderesFecha.Count != 0)
        {
            @foreach (var poderesFecha in @ViewBag.lstPoderesFecha)
            {
                <div class="col-md-12">
                    <table class="table table-bordered text-left">
                        <thead class="thead-dark" id="cabeceraTabla">
                            <tr>
                                <th scope="col">Fecha Instrumento</th>
                                @*<th scope="col">@ViewBag.FechaDoc</th>*@
                                <th scope="col">@poderesFecha.FechaDocumentoString</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Fecha Act. Vigencia</th>
                                <td>@poderesFecha.FechaRenovacionDocumentoString</td>
                            </tr>
                            <tr>
                                <th>Notaría</th>
                                <td>@poderesFecha.Notaria</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    @foreach (var item2 in @ViewBag.lstPoderesGrup)
                    {
                        @if (poderesFecha.FechaDocumento == item2.FechaInicio)
                        {
                            <h6 class="text-left"><strong>@item2.Nombre</strong></h6>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="thead-dark">
                                        <th colspan='2'>Mandatarios y Formas de Actuar</th>
                                    </tr>

                                    @foreach (var item in @ViewBag.lstPoderesVigentes)
                                    {
                                        @if (item.IdPoder == item2.Codigo)
                                        {
                                            <tr>
                                                <th colspan='2'>@item.Glosa</th>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr class="thead-dark">
                                        <th>Facultades</th>
                                        <th>Limitaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemFaculVigentes in @ViewBag.lstFaculVigentes)
                                    {
                                        @if (item2.Codigo == itemFaculVigentes.IdPoder)
                                        {
                                            @if (itemFaculVigentes.Tipo == "Padre")
                                            {
                                                <tr>
                                                    <td id="padre" colspan='2' style="font-size: 15px;"><strong>@itemFaculVigentes.DescripcionFacultad</strong></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@itemFaculVigentes.DescripcionFacultad</td>
                                                    <td>@itemFaculVigentes.DescripcionLimitacion</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                    }
                </div>
            }
        }
        else
        {
                <div class="col-md-12">
                    <h2>No Existen Poderes Vigentes</h2>
                </div>
        }


    </div>
</div>

