﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.MandatarioRutResponderDTO
@{
    ViewData["Title"] = "ConsultaPoderesFacultadResponder";
}

<div id="areaImprimir" class="col-md-12">
    <div class="col-md-12 text-left">
        <div class="form-group">
            <label asp-for="NombreSociedad" style="font-size: 15px;">Nombre/Razón Social:</label>
            <input asp-for="NombreSociedad" value="@Model.NombreSociedad" id="nombre" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="RutSoc" style="font-size: 15px;">Rut:</label>
            <input asp-for="RutSoc" value="@Model.RutSoc" id="rut" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Fecha" style="font-size: 15px;">Fecha Consultada:</label>
            <input asp-for="Fecha" value="@Model.Fecha" id="fecha" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label style="font-size: 15px;">Facultad Consultada:</label>
            <input value="@ViewBag.FacultadConsultada" id="fecha" class="form-control" readonly />
        </div>
    </div>


    <div class="col-md-12">
            @Html.Raw(ViewBag.strCadenaHtml)
    </div>

    <p>
        <div class="col-md-12 text-center">
            <button id="imprimir" type="button" class="btn btn-secondary">Imprimir</button>
        </div>
    </p>
</div>

<script type="text/javascript">

    function printData() {

        $("#areaImprimir").printThis({
            importCSS: true,
            importStyle: true,//thrown in for extra measure
            loadCSS: "~/lib/bootstrap/dist/css/bootstrap.css"
        });
    }

    $('#imprimir').on('click', function () {
        printData();
    })

</script>
