﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.DocumentoPoderDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc</title>
</head>
<body>

<h4>DocumentoPoderDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Doc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPersona" class="control-label"></label>
                <input asp-for="CodigoPersona" class="form-control" />
                <span asp-validation-for="CodigoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verificador" class="control-label"></label>
                <input asp-for="Verificador" class="form-control" />
                <span asp-validation-for="Verificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSGL" class="control-label"></label>
                <input asp-for="IdSGL" class="form-control" />
                <span asp-validation-for="IdSGL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <input asp-for="EstadoId" class="form-control" />
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoTipoLegal" class="control-label"></label>
                <input asp-for="CodigoTipoLegal" class="form-control" />
                <span asp-validation-for="CodigoTipoLegal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDocumento" class="control-label"></label>
                <input asp-for="FechaDocumento" class="form-control" />
                <span asp-validation-for="FechaDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoNotaria" class="control-label"></label>
                <input asp-for="CodigoNotaria" class="form-control" />
                <span asp-validation-for="CodigoNotaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInscripcion" class="control-label"></label>
                <input asp-for="FechaInscripcion" class="form-control" />
                <span asp-validation-for="FechaInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnoInscripcion" class="control-label"></label>
                <input asp-for="AnnoInscripcion" class="form-control" />
                <span asp-validation-for="AnnoInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fojas" class="control-label"></label>
                <input asp-for="Fojas" class="form-control" />
                <span asp-validation-for="Fojas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFoja" class="control-label"></label>
                <input asp-for="NumeroFoja" class="form-control" />
                <span asp-validation-for="NumeroFoja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoConservador" class="control-label"></label>
                <input asp-for="CodigoConservador" class="form-control" />
                <span asp-validation-for="CodigoConservador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSesionDirectorio" class="control-label"></label>
                <input asp-for="FechaSesionDirectorio" class="form-control" />
                <span asp-validation-for="FechaSesionDirectorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaJuntaAccionista" class="control-label"></label>
                <input asp-for="FechaJuntaAccionista" class="form-control" />
                <span asp-validation-for="FechaJuntaAccionista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoRectificacion" class="control-label"></label>
                <input asp-for="CodigoRectificacion" class="form-control" />
                <span asp-validation-for="CodigoRectificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDecreto" class="control-label"></label>
                <input asp-for="FechaDecreto" class="form-control" />
                <span asp-validation-for="FechaDecreto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDecreto" class="control-label"></label>
                <input asp-for="NumeroDecreto" class="form-control" />
                <span asp-validation-for="NumeroDecreto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacionDecreto" class="control-label"></label>
                <input asp-for="FechaPublicacionDecreto" class="form-control" />
                <span asp-validation-for="FechaPublicacionDecreto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaProtocolarizacion" class="control-label"></label>
                <input asp-for="FechaProtocolarizacion" class="form-control" />
                <span asp-validation-for="FechaProtocolarizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoNotariaProtocolo" class="control-label"></label>
                <input asp-for="CodigoNotariaProtocolo" class="form-control" />
                <span asp-validation-for="CodigoNotariaProtocolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoDocumentoOrigen" class="control-label"></label>
                <input asp-for="CodigoDocumentoOrigen" class="form-control" />
                <span asp-validation-for="CodigoDocumentoOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreOrigen" class="control-label"></label>
                <input asp-for="NombreOrigen" class="form-control" />
                <span asp-validation-for="NombreOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarOrigen" class="control-label"></label>
                <input asp-for="LugarOrigen" class="form-control" />
                <span asp-validation-for="LugarOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoConsulta" class="control-label"></label>
                <input asp-for="EstadoConsulta" class="form-control" />
                <span asp-validation-for="EstadoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoRevocacion" class="control-label"></label>
                <input asp-for="CodigoRevocacion" class="form-control" />
                <span asp-validation-for="CodigoRevocacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaResolucionQuiebra" class="control-label"></label>
                <input asp-for="FechaResolucionQuiebra" class="form-control" />
                <span asp-validation-for="FechaResolucionQuiebra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoTribunal" class="control-label"></label>
                <input asp-for="CodigoTribunal" class="form-control" />
                <span asp-validation-for="CodigoTribunal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacionQuiebra" class="control-label"></label>
                <input asp-for="FechaPublicacionQuiebra" class="form-control" />
                <span asp-validation-for="FechaPublicacionQuiebra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsableDocumento" class="control-label"></label>
                <input asp-for="ResponsableDocumento" class="form-control" />
                <span asp-validation-for="ResponsableDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarDocumento" class="control-label"></label>
                <input asp-for="LugarDocumento" class="form-control" />
                <span asp-validation-for="LugarDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreInforme" class="control-label"></label>
                <input asp-for="NombreInforme" class="form-control" />
                <span asp-validation-for="NombreInforme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRenovacion" class="control-label"></label>
                <input asp-for="FechaRenovacion" class="form-control" />
                <span asp-validation-for="FechaRenovacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacionPoder" class="control-label"></label>
                <input asp-for="ObservacionPoder" class="form-control" />
                <span asp-validation-for="ObservacionPoder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActVigencia" class="control-label"></label>
                <input asp-for="FechaActVigencia" class="form-control" />
                <span asp-validation-for="FechaActVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTerminaVigencia" class="control-label"></label>
                <input asp-for="FechaTerminaVigencia" class="form-control" />
                <span asp-validation-for="FechaTerminaVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
