﻿
@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.DocumentoPoderDTO

@{
    Layout = null;
}
<style>

</style>

<form asp-action="IngresarDocumentoGrabar" id="formularioDocumento">
    <div class="row " style="width:100%; margin-top:20px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br>
        @*Escritura Pública *@
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-lg-4">Tipo Documento Poder</label>
                        <select asp-for="TipoDocumento" id="tipoDocumento" class="form-control col-lg-8" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 ">
                    <div class="row form-inline">
                        <label class="control-label col-lg-4 fa-pull-left">Fecha Instrumento</label>
                        <input asp-for="FechaDocumento" id="fechaInstrumento" class="form-control col-lg-8 fechaMenor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaDocumento" id="fechaInstrumentoValidacion" class="text-danger validaciones"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6 escrituraPublica">
                    <div class="row form-inline">
                        <label class="control-label col-lg-4">N° Repertorio</label>
                        <input asp-for="NumeroDocumento" class="form-control col-lg-8" id="numeroRepertorio" />
                        <span asp-validation-for="NumeroDocumento" class="text-danger validaciones"></span>
                    </div>
                </div>
                @*Certificado e Instrumento Público *@
                <div class="form-group col-lg-6 fa-pull-left" id="numeroCertificadoInstrumento">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label" id="numero"></label>
                        <input asp-for="NumeroFoja" id="numeroFoja" class="form-control col-lg-8" />
                        <span asp-validation-for="NumeroFoja" id="numeroFojaValidacion" class="text-danger validaciones"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6  escrituraPublica">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Fojas</label>
                        <input asp-for="Fojas" class="form-control col-lg-8" id="fojas" />
                        <span asp-validation-for="Fojas" id="fojasValidacion" class="text-danger validaciones"></span>
                    </div>

                </div>
                <div class="form-group col-lg-6 escrituraPublica">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Número</label>
                        <input asp-for="NumeroDecreto" id="numeroDecreto" class="form-control col-lg-8" />
                        <span asp-validation-for="NumeroDecreto" id="numeroDecretoValidacion" class="text-danger validaciones"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 escrituraPublica">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Fecha Inscripción</label>
                        <input asp-for="FechaInscripcion" id="fechaInscripcion" class="form-control col-lg-8 fechaMenor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaInscripcion" id="fechaInscripcionValidacion" class="text-danger validaciones"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6 escrituraPublica">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Registro</label>
                        <select asp-for="CodigoConservador" class="form-control col-lg-8" id="conservador" />
                    </div>
                </div>
            </div>
            @*Instrumento Privado *@
            <div class="row">
                <div class="form-group col-lg-6 instrumentoPrivado">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label ">Fecha Protocolización</label>
                        <input asp-for="FechaProtocolarizacion" id="fechaProtocolizacion" class="form-control col-lg-8 fechaMenor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaProtocolarizacion" class="text-danger validaciones"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6 instrumentoPrivado">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">N° Protocolización</label>
                        <input asp-for="NumeroDecreto" class="form-control col-lg-8" />
                        <span asp-validation-for="NumeroDecreto" class="text-danger validaciones"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 instrumentoPrivado">
                    <div class="row form-inline">
                        <label class="col-lg-4 control-label">Notaría Autorización</label>
                        <select asp-for="CodigoNotaria" id="notariaAutorizacion" class="form-control col-lg-8" />
                    </div>
                </div>
                <div class="form-group col-lg-6 instrumentoPrivado">
                    <div class="row form-inline">
                        <label class="col-lg-4 control-label">Notaría Protocolización</label>
                        <input asp-for="CodigoNotariaProtocolo" id="notariaValor" class="form-control col-lg-8" hidden />
                        <select asp-for="CodigoNotaria" id="notariaProtocolo" class="form-control col-lg-8" />
                    </div>
                </div>
            </div>
            @*Comunes*@
            <div class="row">
                <div class="form-group col-lg-6 t">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Fecha Término Poder</label>
                        <input asp-for="FechaTerminaVigencia" id="fechaTerminoPoder" class="form-control col-lg-8 fechaMayor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaTerminaVigencia" class="text-danger validaciones"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6 ">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Fecha Próxima Actualización</label>
                        <input asp-for="FechaRenovacion" id="fechaProximaActualizacion" class="form-control col-lg-8 fechaMayor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaRenovacion" class="text-danger validaciones"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 escrituraPublica">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Notaría Escritura</label>
                        <select asp-for="CodigoNotaria" id="notaria" class="form-control col-lg-8" />
                    </div>
                </div>
                <div class="form-group col-lg-6  escrituraPublica">
                    @*Si es tipo de Persona Juridica 23 = Sociedad de responsabilidad limitada ocultar*@
                    <div class="row form-inline" id="SesionDirectorioDiv">
                        <label class="col-lg-4 col-form-label">Fecha Sesión Directorio</label>
                        <input asp-for="FechaSesionDirectorio" id="fechaSesionDirectorio" class="form-control col-lg-8 fechaMenor" placeholder="DD/MM/YYYY" onkeydown="return false" />
                        <span asp-validation-for="FechaSesionDirectorio" class="text-danger validaciones"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6" id="RepresentanteLegal">
                    <div class="row form-inline">
                        <label class="col-lg-4 col-form-label">Representante Legal</label>
                        <select asp-for="ResponsableDocumento" id="representanteLegalselect" class="form-control col-lg-8">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                @*<div class="form-group col-lg-6  escrituraPublica">
                        Si es tipo de Persona Juridica 23 = Sociedad de responsabilidad limitada ocultar
                        <div class="row form-inline" id="SesionDirectorioDiv">
                            <label class="col-lg-4 col-form-label">Fecha Sesión Directorio</label>
                            <input asp-for="FechaSesionDirectorio" id="fechaSesionDirectorio" class="form-control col-lg-8" placeholder="DD/MM/YYYY" onkeydown="return false" />
                            <span asp-validation-for="FechaSesionDirectorio" class="text-danger"></span>
                        </div>
                    </div>*@
            </div>
            @*Etiqueta comun de todos los documentos*@
            <div class="form-group col-lg-12 ">
                <div class="row form-inline">
                    <label class="col-lg-2 col-form-label">Observaciones al poder</label>
                    <textarea asp-for="ObservacionPoder" class="form-control col-lg-10" />
                    <span asp-validation-for="ObservacionPoder" class="text-danger validaciones"></span>
                </div>
            </div>
        </div>
        <div class="btn-group col-lg-12 justify-content-xl-center">
            <div class="form-group">
                <button id="btnGuardar" class="btn btn-primario">
                    <i class="fa fa-plus" style="margin-right: 5px;"></i> Guardar
                </button>
                <button id="btnCancelar" class="btn btn-light">
                    <i class="fa fa-info-circle"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.CodigoPersona)
    <input asp-for="AnnoInscripcion" id="añoInscripcion" style="display:none;" />
    <input asp-for="FechaActVigencia" id="fechaActVigencia" style="display:none;" />
    <input asp-for="FechaTerminaVigencia" id="fechaTerminoVigencia" style="display:none;" />
    <input asp-for="NombreOrigen" id="nombreOrigen" style="display:none;" />
    <input asp-for="LugarOrigen" id="lugarOrigen" style="display:none;" />

    <select asp-for="CodigoDocumentoOrigen" id="Origen" style="display:none;" />

</form>

<script type="text/javascript">


    $("#notariaAutorizacion").width(332);
    $("#notariaProtocolo").width(332);
    $("#RepresentanteLegal").css("display", "none");

     //Validación para Sesion Directorio Editar

    @*var fechaDirectorio = $('#RepresentanteLegal').val();

    if (fechaDirectorio.length == 0) {
        if (@Model.TipoPoder == 0) {
            @Model.TipoPoder == 2;

            $("#RepresentanteLegal").prop("disabled", false);
            if (@Model.ResponsableDocumento == 0) {
                document.frmTabDocu.cboRepLeg.selectedIndex = 1;
            }
            else {
                document.frmTabDocu.cboRepLeg.selectedIndex = 0;
            }
                // validacion para editar responsable legal donde a traves del metodo de cargar combo select2 poder tomar el valor seleccionado si es editar
           // RecuperaDatos()
            }
        }*@






          //ListDropDown Para Perfil
        $('#tipoDocumento').select2({
            placeholder: 'Cargando...',
        });

        var valorDocumento = 0;
        //Combo Tipo  Documento
        $.ajax({
            method: "GET",
            url: '@Url.Action("ComboTipoDocumento", "DocumentoPoder", new { Area = "EntradaCompleta"})',
            dataType: 'json',
            })
            .done(function (data) {
                $('#tipoDocumento').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'

                });
                $('#tipoDocumento').on('change', function () {

                    if ($('#tipoDocumento').val() == 1) {

                        $(".instrumentoPrivado").css("display", "none");
                        $(".escrituraPublica").css("display", "block");
                        $("#numeroCertificadoInstrumento").css("display", "none");

                        var codigoTipoPersona = @Model.CodigoTipoPersona;

                        if (codigoTipoPersona == 23) {
                            $("#SesionDirectorioDiv").css("display", "none");
                        }

                    } else if ($('#tipoDocumento').val() == 2) {

                        $(".escrituraPublica").css("display", "none");
                        $(".instrumentoPrivado").css("display", "block");
                        $("#numeroCertificadoInstrumento").css("display", "none");

                    } else if ($('#tipoDocumento').val() == 8 || $('#tipoDocumento').val() == 3) {

                        if ($('#tipoDocumento').val() == 3) {
                            $("#numero").html("Número Certificado");
                        } else {
                            $("#numero").html("Número Instrumento");
                        }
                        //variables que no se muestran en el  formulario
                        $("#fechaInscripcion").val('');
                        $("#añoInscripcion").val('');
                        $("#fechaActVigencia").val('');
                        $("#fechaTerminoVigencia").val('');
                        $("#nombreOrigen").val('');
                        $("#lugarOrigen").val('');
                        //Combos
                        $("#representanteLegalselect").val('N').change();
                        $("#conservador").val(0);
                        $("#conservador").val(0);//combo reg2
                        $("#notaria").val(0);
                        $("#origen").val(0);
                        //variables de escrituraPublica
                        $("#fechaSesionDirectorio").val('');
                        $("#fechaProtocolizacion").val('');
                        $("#numeroRepertorio").val('');
                        $("#fojas").val('');

                        $(".instrumentoPrivado").css("display", "none");
                        $(".escrituraPublica").css("display", "none");
                        $("#numeroCertificadoInstrumento").css("display", "block");

                    }
                    }).trigger('change');

                })
            .fail(function () {
                $('#tipoDocumento').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

        //$(idCombo).empty();
        //$(idCombo).append($('<option>', { value: -1, text: 'Seleccione...' }));
        //$(idCombo).append('</option>');

       ///*Input de fechas *****************************************************************
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        $('.fechaMenor').datepicker({
            onRender: function (date) {
                var habilitado = '';
                if (date.valueOf() > now.valueOf()) {
                    habilitado = 'disabled'
                } else if (date.getDay() == 0) {
                    habilitado = 'disabled'
                }
                return habilitado;
            }
        });

        $('.fechaMayor').datepicker({
            onRender: function (date) {
                var habilitado = '';
                //if (date.valueOf() > now.valueOf()) {
                //    habilitado = 'disabled'
                //}
                if (date.getDay() == 0) {
                    habilitado = 'disabled'
                }
                return habilitado;
            }
        });

        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var fechaActual = (day < 10 ? '0' : '') + day + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            d.getFullYear();

        // Fecha Instrumento
        $('#fechaInstrumento').val(fechaActual);
        $('#fechaInstrumento').datepicker();
        $('#fechaInstrumento').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaInstrumento').datepicker('hide');
            });

        // Fecha Sesión Directorio
        $('#fechaSesionDirectorio').val(fechaActual);
        $('#fechaSesionDirectorio').datepicker();
        $('#fechaSesionDirectorio').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaSesionDirectorio').datepicker('hide');

            });

        // Fecha Termino de Poder
        $('#fechaTerminoPoder').val(fechaActual);
        $('#fechaTerminoPoder').datepicker();
        $('#fechaTerminoPoder').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaTerminoPoder').datepicker('hide');

            });

        // Fecha Inscripción
        $('#fechaInscripcion').val(fechaActual);
        $('#fechaInscripcion').datepicker();
        $('#fechaInscripcion').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaInscripcion').datepicker('hide');

            });

        // Fecha Próxima Actualización
        $('#fechaProximaActualizacion').val(fechaActual);
        $('#fechaProximaActualizacion').datepicker();
        $('#fechaProximaActualizacion').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaProximaActualizacion').datepicker('hide');
            });

        // Fecha Protocolizacion
        $('#fechaProtocolizacion').val(fechaActual);
        $('#fechaProtocolizacion').datepicker();
        $('#fechaProtocolizacion').datepicker()
            .on('changeDate', function (ev) {
                $('#fechaProtocolizacion').datepicker('hide');
            });

        //ListDropDown Para Notaria
        $('#notaria').select2({
            placeholder: 'Cargando...',
        });
        //Combo Notarias
        $.ajax({
            method: "GET",
            url: '@Url.Action("ComboNotaria", "DocumentoPoder", new { Area = "EntradaCompleta"})',
            dataType: 'json',
        })
            .done(function (data) {
                $('#notaria').children().remove();
                $('#notaria').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'

                });
            })
            .fail(function () {
                $('#notaria').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

         //ListDropDown Para Conservador
         $('#conservador').select2({
             placeholder: 'Cargando...',
         });
         //Combo Conservadores
         $.ajax({
            method: "GET",
            url: '@Url.Action("ComboConservador", "DocumentoPoder", new { Area = "EntradaCompleta"})',
                dataType: 'json',
            })
            .done(function (data) {
               // $('#conservador').children().remove();
                $('#conservador').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'

                });
                })
            .fail(function () {
                $('#conservador').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
             });

         //ListDropDown Para Notaria Autorizacion
         $('#notariaAutorizacion').select2({
            placeholder: 'Cargando...',
        });
        //Combo Notarias
         $.ajax({
            method: "GET",
            url: '@Url.Action("ComboNotaria", "DocumentoPoder", new { Area = "EntradaCompleta"})',
                dataType: 'json',
            })
            .done(function (data) {
                //$('#notariaAutorizacion').children().remove();
                $('#notariaAutorizacion').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'

                    });
                })
            .fail(function () {
                $('#notariaAutorizacion').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

         //ListDropDown Para Notaria Protocolo
         $('#notariaProtocolo').select2({
            placeholder: 'Cargando...',
        });
        //Combo Notarias
         $.ajax({
            method: "GET",
            url: '@Url.Action("ComboNotaria", "DocumentoPoder", new { Area = "EntradaCompleta"})',
                dataType: 'json',
            })
            .done(function (data) {
               // $('#notaria').children().remove();
                $('#notariaProtocolo').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'
                });

                $('#notariaValor').val($('#notariaProtocolo').val().trim());//se obtiene valor desde variable con valor actual
                $('#notariaValor').trigger('change');//se dispara evento para dejar seleccionado el valor actual
                var elem = document.getElementById("notariaProtocolo");//se obtiene el elemento hidden
                elem.parentElement.removeChild(elem);//se destruye el elemento hidden para que no sea utilizado al enviar el formulario


                })
            .fail(function () {
                $('#notariaProtocolo').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
             });

         $("#fechaInstrumento, #fechaInscripcion").datepicker().on('changeDate', function (ev) {
             alert('aqui');

             if ($('#fechaInstrumento').val() != "" && $('#fechaInscripcion').val() != "") {
                 var start = $('#fechaInstrumento').val().split("/");
                 var end = $('#fechaInscripcion').val().split("/");

                 var startDay = new Date(start[2], start[1], start[0]);
                 var endDay = new Date(end[2], end[1], end[0]);

                 var millisecondsPerDay = 1000 * 60 * 60 * 24;

                 var millisBetween = endDay.getTime() - startDay.getTime();
                 var days = millisBetween / millisecondsPerDay;

                 if (days > 60) {
                     mensaje = "La diferencia entre Fecha de Incripción y Fecha de Escritura no debe ser mayor a 60 días";
                     MuestraMensajes(mensaje)
                     return;
                 }
             }
         })


         //INGRESAR Documento Poder***********************************************************************************************************************

             $('#btnGuardar').on('click', function (e) {
             e.preventDefault();
             window.scrollTo(0, 0);

             

            // var reg = /^[0-9 ]+$/;

           

             //if ($('#tipoDocumento').val() == 1) {





             //} else if ($('#tipoDocumento').val() == 2) {
             
             
             
             //} else if ($('#tipoDocumento').val() == 8 || $('#tipoDocumento').val() == 3) {

             //       //if ($("#fechaInstrumento").val() == -1 && $("#fechaInstrumento").is(":visible")) {

             //       //    $('#fechaInstrumentoValidacion').text('Debe ingresar una Fecha de Instrumento');

             //       //}

              

             //       //variables que no se muestran en el  formulario
             //       $("#fechaInscripcion").val('');
             //       $("#añoInscripcion").val('');
             //       $("#fechaActVigencia").val('');
             //       $("#fechaTerminoVigencia").val('');
             //       $("#nombreOrigen").val('');
             //       $("#lugarOrigen").val('');
             //       //Combos
             //       $("#representanteLegalselect").val('N').change();
             //       $("#conservador").val(0);
             //       $("#conservador").val(0);//combo reg2
             //       $("#notaria").val(0);
             //       $("#origen").val(0);
             //       //variables de escrituraPublica
             //       $("#fechaSesionDirectorio").val('');
             //       $("#fechaProtocolizacion").val('');
             //       $("#numeroRepertorio").val('');
             //       $("#fojas").val('');


             //} else {
             //    $('.validaciones').text('');

             //    var formulario = $('#formularioDocumento');

             //    if (formulario.val) {
             //        $('#titulo-modal-confirmar').html('Mensaje: Confirmar Creación');
             //        $('#cuerpo-modal-confirmar').html('¿ Esta seguro que desea crear el documento de poder ?');
             //        $('#modal-confirmar').modal('show');
             //    }
             //}
         });

         $('#btn-aceptar-modal-confirmar').on("click", function (e) {

             $('#formularioDocumento').submit();
             $("#modal-confirmar").modal('hide');

             $("#modal-loading").modal({
                 backdrop: 'static',
                 keyboard: false,
                 show: true
             });

         });
         $('#btn-cancelar-modal-confirmar').on("click", function (e) {
             $("#modal-confirmar").modal('hide');
         });

         function MuestraMensajes(titulo, mensaje) {

             $('#titulo-modal-mensaje').html(titulo);
             $('#cuerpo-modal-mensaje').html(mensaje);
             $('#modal-mensaje').modal('show');

             $('#btn-cerrar-modal-mensaje').html("Volver")

             $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                 $("#modal-mensaje").modal('hide');
                 return;
             });
         }


</script>

