﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.IngresarSGLDTO
@{
    ViewData["Title"] = "Crear Solicitud de Gestion Legal";
    Model.Entrada = "C";
}
<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="AsociarSociedadSGL" asp-action="Index" method="post" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(model => model.CodigoPersona)
                @Html.HiddenFor(model => model.VariableRespaldo)
                @Html.HiddenFor(model => model.RutPersonaAbogado)
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label asp-for="Fecha" class="control-label col-md-6" style="font-size: 15px;"></label>

                        <input asp-for="Fecha" class="form-control" id="fecha" required readonly />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-6">

                        <label class="control-label col-md-6" style="font-size: 15px;">Rut Solicitante</label>

                        <input class="form-control" id="Rut" readonly />
                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-md-6" style="font-size: 15px;">Nombre Solicitante</label>

                    <input class="form-control" id="NombreSolicitante" readonly />
                </div>


                <div class="form-group">
                    <label asp-for="IdSucursal" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <select asp-for="IdSucursal" class="form-control" id="Sucursal">
                        <option></option>
                    </select>
                    <span asp-validation-for="IdSucursal" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Materia" class="control-label col-md-6" style="font-size: 15px;"></label>
                        <select asp-for="Materia" class="form-control" id="Materia"></select>
                        <span asp-validation-for="Materia" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-md-6">Tipo Materia</label>
                        <select asp-for="TipoMateria" class="form-control" id="TipoMateria"></select>
                        <span asp-validation-for="TipoMateria" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Estado" class="control-label col-md-6" style="font-size: 15px;"></label>
                        <select class="form-control" id="Estado">
                            <option value="1" selected>Creada</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="IdAbogado" class="control-label col-md-6" style="font-size: 15px;"></label>
                        <select asp-for="IdAbogado" class="form-control" id="AbogadoACargo"></select>
                        <span asp-validation-for="IdAbogado" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="IdSGL" class="form-control" id="IdSGL" hidden />
                </div>

                <div class="form-group">

                    <button id="btn-Crear" class="btn btn-primario">
                        <i class="fa fa-plus"></i> Crear
                    </button>
                </div>
                <div class="form-group">
                    <input asp-for="Entrada" class="form-control" hidden/>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        function CargarCombo(IdCombo, urlAction, dataAjax) {
            $(IdCombo).select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: urlAction,
                dataType: 'json',
                data: dataAjax
            })
                .done(function (data) {
                    $(IdCombo).children().remove();
                    if ((IdCombo) == "#Sucursal") {
                        $(IdCombo).append($('<option>'));                       
                    }
                    if ((IdCombo) == "#Materia") {
                        $(IdCombo).append($('<option>'));
                    }
                    $(IdCombo).select2({
                        placeholder: 'Seleccionar',
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,                     
                        data: data                        
                    });
                })
                .fail(function () {
                    $(IdCombo).select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });

        }

         $('#Sucursal').change(function () {
            var IdCombo = '#AbogadoACargo';
            var url = '@Url.Action("ComboAbogadosPorSucursal", "CrearSGL")';
            var codigos = $(this).val().split(":");
            var data = { codigoSucursal: codigos[1] };
            $('.span').html('');
            CargarCombo(IdCombo, url, data);
        });
        $('#Materia').change(function () {
            var IdCombo = '#TipoMateria';
            var url = '@Url.Action("CombotipoMaterias", "CrearSGL")';
            var data = { IdMateriapadre: $(this).val()};

            CargarCombo(IdCombo, url, data);
        });

        $(function (e) {
            var formulario = $('#formulario');
            var IdSucursal = '#Sucursal';
            var urlSucursal = '@Url.Action("ComboSucursales", "CrearSGL")';
            var dataSucursal = { codigoSucursal: -1 };

            CargarCombo(IdSucursal, urlSucursal, dataSucursal);
            
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var fechaActual = (day < 10 ? '0' : '') + day + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                d.getFullYear();

            $('#fecha').val(fechaActual);

            $('#Estado').select2({
                theme: theme,                
            });

            $.ajax({
                method: "GET",
                url: '@Url.Action("DatosUsuario", "CrearSGL")',
                dataType: 'json'
            }).done(function (data) {
                $('#Rut').val(data.data['0'].rut);
                $('#NombreSolicitante').val(data.data['0'].nombre);
            });    

            $("#Estado").attr("disabled", true);                         

            var materia = function () {
                var r = $.Deferred();
                var IdSelectMateria = '#Materia';
                var urlMateria = '@Url.Action("ComboMaterias", "CrearSGL")';
                var dataMateria = { };

                CargarCombo(IdSelectMateria, urlMateria, dataMateria);

                return r;
            };

            var tipoMateria = function () {
                var IdCombo = '#TipoMateria';
                var url = '@Url.Action("CombotipoMaterias", "CrearSGL")';
                var dataTipoMateria = $('#Materia').val();
                var data = { IdMateriapadre: dataTipoMateria };

            CargarCombo(IdCombo, url, data);
            };
                        
            materia().done(tipoMateria());
            
            $('#AbogadoACargo').select2({
                placeholder: 'Seleccionar',
                dataType: 'json',
                theme: theme,
                language: languageDrop
            });

            $('#btn-Crear').click(function (e) {
                e.preventDefault();
                var codigos = $('#Sucursal').val().split(":");
                
                var IngresarSGL = {
                    IdSGL: 0,
                    Fecha: $('#fecha').val(),
                    Materia: $('#Materia').val(),
                    TipoMateria: $('#TipoMateria').val(),
                    Estado: $('#Estado').val(),
                    of_partes: codigos[0],
                    IdSucursal: codigos[1],
                    IdAbogado: $('#AbogadoACargo').val(),
                    CodigoUsuario: 0
                };
                var formulario = $('#formulario');
                
                if (formulario.valid()) {
                    $.ajax({
                    url: "@Url.Action("IngresarSGL", "CrearSGL")",
                    method: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: IngresarSGL
                    }).done(function (data) {
                        var numero = parseInt(data.idSgl);
                        $('#IdSGL').val(numero);
                        $('#formulario').submit();
                    });
                }
                
            });

        });        
    </script>
}