﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.TipoPersonaDTO

@{
    ViewData["Title"] = "Eliminar Registro Tabla Tipo de Persona";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <form asp-action="Delete" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
        <h5>¿Está seguro que desea eliminar este registro?</h5>
        <dl class="dl-horizontal" style="text-align:center;">
            <dt>
                <!-- @Html.DisplayNameFor(model => model.Codigo) -->
                <label asp-for="Codigo" class="control-label col-md-6" style="font-size: 15px;"></label>
            </dt>
            <dd>
                <input asp-for="Codigo" class="form-control" readonly/>
                <!-- @Html.DisplayFor(model => model.Codigo) -->
            </dd>
            <dt>
                <!-- @Html.DisplayNameFor(model => model.Descripcion) -->
                <label asp-for="Descripcion"></label>                
            </dt>
            <dd>
                <input asp-for="Descripcion" class="form-control" readonly/>
                <!-- @Html.DisplayFor(model => model.Descripcion) -->
            </dd>
        </dl>
        <div class="form-group">
            <button id="btn-eliminar" class="btn btn-primario">
                <i class="fa fa-trash-alt"></i> Eliminar
            </button>
            <a href='@Url.Action("Index", "TipoPersona")' class="btn btn-secondary">
                <i class="fa fa-ban"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }


            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
            });

            $('#btn-eliminar').on("click", function (e) {
                e.preventDefault();

                $('#titulo-modal-confirmar').html('Confirmar Eliminación');
                $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea eliminar el registro ?');
                $('#modal-confirmar').modal('show');
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                //$("#modal-loading").modal('show');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });
        });


    </script>
}