﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.IngresarSGLDTO
@{
    Layout = null;
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-xl-12">
            <form asp-action="CambiarSociedad" class="col-xl-12" id="formularioCambioPJ">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-md-12" style="font-size: 15px;"></label>
                    <input asp-for="Nombre" id="nombreSociedad" class="form-control col-xl-12 " value="@Model.Nombre" />
                    <span asp-validation-for="Nombre" id="nombreValidacion" class="text-danger"></span>
                </div>
                @Html.HiddenFor(model => model.IdTipoPersona)
                @Html.HiddenFor(model => model.RutPersonaAbogado)
                @Html.HiddenFor(model => model.CodigoPersona)
                @Html.HiddenFor(model => model.VariableRespaldo)
                @Html.HiddenFor(model => model.Rut)
                <div class="form-group">
                    <label asp-for="IdTipoPersona" class="control-label col-md-12" style="font-size: 15px;">Tipo Sociedad</label>
                    <select asp-for="IdTipoPersona" class="form-control col-xl-12" id="IdPersonaJuridicaModal"></select>
                    <span asp-validation-for="IdTipoPersona" id="PJValidacion" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
 //Bloque para desplegar combo Persona Juridica
    $("#nombreSociedad").width(400);
    $("#IdPersonaJuridicaModal").width(400);
    $.trim($("#nombreSociedad").val());
    $('#nombreSociedad').val().trimRight;
    $('#nombreSociedad').val().trimLeft;

    $('#IdPersonaJuridicaModal').select2({
                        placeholder: 'Cargando...',
                    });

                      $.ajax({
                method: "GET",
                url: '@Url.Action("ComboTipoPersona", "AsociarSociedadSGL")',
                dataType: 'json'
            })
                .done(function (data) {
                    $('#IdPersonaJuridicaModal').children().remove();
                    //$('#IdPersonaJuridicaModal').val($('#PersonaJuridica').val());
                    $('#IdPersonaJuridicaModal').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'

                    });
                 
                    $('#IdPersonaJuridicaModal').val(@Model.IdTipoPersona).trigger('change');

                })
                .fail(function () {
                    $('#IdPersonaJuridica').select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
        });


                      var RutAbogado = @Model.RutPersonaAbogado;
                      var CodigoPersona =  @Model.CodigoPersona;
                 

</script>