﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.IngresarSGLDTO
@{
    ViewData["Title"] = "Index";
}

<style>
    .select2-container--open {
        z-index: 200002
    }
</style>

<div class="text-center">
    <h4>Ingreso de SGL número @ViewData["NumeroSGL"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Entrada" type="text" hidden />
                <div class="form-group row" style="max-width: 900px">
                    <label class="control-label col-md-2 col-lg-4" style="font-size: 15px;">Rut</label>
                    <input asp-for="Rut" class="form-control col-sm-12 col-md-9 col-lg-6" id="Rut" required />
                    <span class="text-danger" id="RutSpan"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-2 col-lg-4" style="font-size: 15px;">Nombre</label>
                    <input asp-for="Nombre" class="form-control col-sm-12 col-md-9 col-lg-6 align-content-center" id="Nombre" required />
                    <span class="text-danger" id="NombreSpan"></span>
                </div>
                @Html.HiddenFor(model => model.RutPersonaAbogado)                                 
                <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-2 col-lg-4" style="font-size: 15px;">Tipo P.J.</label>                    
                    <select asp-for="IdTipoPersona" class="form-control col-md-6 col-lg-6" id="PersonaJuridica">
                        <option></option>
                    </select>                    
                </div>                

        <div class="form-group">
            <input asp-for="IdSGL" class="form-control" id="IdSGL" hidden />
        </div>
        @* Botones *@
        <div class="form-group col-xl-12">
            <button id="btn-EntradaCompleta" class="btn btn-primario" asp-area="EntradaCompleta" asp-controller="EntradaCompleta" asp-action="Index" hidden>
                <i class=""></i> Entrada Completa
            </button>

            <button id="btn-Grabar" class="btn btn-primario" hidden>
                <i class=""></i> Grabar
            </button>

            <a class="btn btn-primario" style="color:white" id="btn-Eliminar"><i class="fa fa-trash-alt"></i> Eliminar</a>

            <button id="btn-Consultar" class="btn btn-primario" asp-area="Consultas" asp-controller="ConsultaPoderes" asp-action="Index" hidden>
                <i class=""></i> Consultar Poderes
            </button>

            <button id="btn-CambiarSociedad" class="btn btn-primario" hidden>
                Cambiar Sociedad
            </button>

            <button id="btn-Volver" class="btn btn-secondary" asp-area="CabeceraSGL" asp-controller="ConsultarSGL" asp-action="Index">
                <i class=""></i> Volver
            </button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal Cambiar Sociedad -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-confirmar" aria-hidden="true" style="z-index: 200001">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cuerpo-modal" style="margin: auto; text-align:center;">
            </div>
            <div class="modal-footer">
                <button id="btn-cancelar-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btn-cambiarSociedadModal" type="button" class="btn btn-primary">Cambiar</button>
                <button id="btn-confirmarCambio" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script type="text/javascript">
        var nombreEditado;
        var idTipoPersonaJuridicaEditada;

        $('#btn-cambiarSociedadModal').css("display", "none");
        $('#btn-confirmarCambio').css("display", "none");

        $('#modal #btn-cerrarModal').on("click", function (e) {
            $('#btn-cambiarSociedadModal').css("display", "none");
            $('#btn-confirmarCambio').css("display", "none");
        });

        $('#modal-loading').modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });

        var CargarComboTipoPersona = function () {
            var r = $.Deferred();
            $('#PersonaJuridica').select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: '@Url.Action("ComboTipoPersona", "AsociarSociedadSGL")',
                dataType: 'json'
            })
                .done(function (data) {
                    $('#PersonaJuridica').children().remove();
                    $('#PersonaJuridica').select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'
                    });
                })
                .fail(function () {
                    $('#PersonaJuridica').select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });
            return r;
        }
        var LlenarCampos = function () {
            $('#modal-loading').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            var RutModel = "@Model.Rut";
            setTimeout(function () {
            if (RutModel != "") {
                RutModel = RutModel.replace(/\./g, '');
                var ArRut = RutModel.split("-");
                    $.ajax({
                        method: "GET",
                        url: '@Url.Action("BusquedaPorRut", "AsociarSociedadSGL")',
                        dataType: 'json',
                        data: { rut: ArRut[0] }
                    }).done(function (data) {
                        var nombre = data[0].nombrePersona + " " + data[0].apellidoPaternoPersona + " " + data[0].apellidoMaternoPersona;
                        $('#Nombre').val(nombre);
                        $('#PersonaJuridica').val(data[0].codigoTipoPersona);
                        $('#PersonaJuridica').trigger('change');
                        $('#PersonaJuridica').attr('disabled', true);
                        //$('#PersonaJuridica').prop('hidden', true);
                        $('#Nombre').prop('readonly', true);
                        $('#Rut').prop('readonly', true);
                        $('#btn-Cambiar').prop('disabled', false);
                        IdSociedad = data[0].codigoPersona;
                        $('#modal-loading').modal('hide');
                    });
                }

                $('#modal-loading').modal('hide');
            }, 500);

        }

        $(function (e) {
            var idGrupo = @ViewData["Grupo"];
            //Revision de nivel
            if (idGrupo == 2) {
                $('#btn-EntradaCompleta').prop('hidden', false);
            }
            if (idGrupo == 3) {
                $('#btn-Grabar').prop('hidden', false);
            }
            if (idGrupo == 2 || idGrupo == 5) {
                $('#btn-Eliminar').prop('hidden', false);
            }
            if (idGrupo == 2 || idGrupo == 3 || idGrupo == 4) {
                $('#btn-Consultar').prop('hidden', false);
            }
            if (idGrupo == 2 || idGrupo == 3 || idGrupo == 5) {
                $('#btn-CambiarSociedad').prop('hidden', false);
            }

            $('#modal-loading').modal('hide');
            $('#modal').modal({
                backdrop: false,
                show: false,
                backdrop: 'static'
            });
            //$('#modal').css("z-index", "200001");

            CargarComboTipoPersona().done(LlenarCampos());
            LlenarCampos();

            $('#Rut').FormatearRut();
            $('#Rut').ValidarRut();

            $('#Rut').blur(function () {
                if ($(this).val() != "") {
                    var Rut = this.value.replace(/\./g,'');
                    var ArRut = Rut.split("-");
                    $.ajax({
                        method: "GET",
                        url: '@Url.Action("BusquedaPorRut", "AsociarSociedadSGL")',
                        dataType: 'json',
                        data: { rut: ArRut[0] }
                    }).done(function (data) {
                        var nombre = data[0].nombrePersona + " " + data[0].apellidoPaternoPersona + " " + data[0].apellidoMaternoPersona;
                        $('#Nombre').val(nombre);
                        $('#PersonaJuridica').val(data[0].codigoTipoPersona);
                        $('#PersonaJuridica').trigger('change');
                        $('#Nombre').prop('readonly', true);
                        $('#PersonaJuridica').attr('disabled',true);
                        $('#Rut').prop('readonly', true);
                        $('#btn-Cambiar').prop('disabled', false);
                        $('#btn-Eliminar').prop('disabled', false);
                        IdSociedad = data[0].codigoPersona;
                    }).fail(function () {
                        //ToDo: ingresar nueva sociedad y asociarlas al hacer clic en entradacompleta
                    });
                }
            });
            //Boton Entrada Completa
            $('#btn-EntradaCompleta').click(function () {
                $('#PersonaJuridica').attr('disabled', false);
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("EntradaCompleta", "AsociarSociedadSGL")',
                    dataType: 'json',
                    data: { idSGL: @Model.IdSGL , IdSociedad }
                });
                //$('#formulario').submit();
            });

            //Boton Grabar
            $('#btn-Graar').click(function () {
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("Asociar", "AsociarSociedadSGL")',
                    dataType: 'json',
                    data: { idSGL: @Model.IdSGL , IdSociedad }
                });
                //$('#formulario').submit();
            });

            

            //Boton Consultar Poderes
            $('#btn-Consultar').click(function () {
                //ToDo:
            });

            //Boton Cambiar tipo Sociedad
            $('#btn-Cambiar').click(function () {
                //ToDo:
            });

        });

        //Boton Eliminar SGL
        $('#btn-Eliminar').on('click', function (e) {
                $('#titulo-modal-confirmar').html('Mensaje: Confirmar Eliminacion');
                $('#cuerpo-modal-confirmar').html('Está seguro de eliminar la SGL número ' + $('#IdSGL').val());
                $('#modal-confirmar').modal('show');

                $('#btn-aceptar-modal-confirmar').on("click", function (e) {
                    $("#modal-confirmar").modal('hide');

                    $.ajax({
                        method: "PUT",
                        url: '@Url.Action("EliminaSGLPorSGLid", "AsociarSociedadSGL")',
                        dataType: 'json',
                        data: { idSgl: '@Model.IdSGL'}
                    })
                        .done(function (data) {
                            if (data) {
                                $('#titulo-modal-mensaje').html('Mensaje: Transaccion exitosa');
                                $('#cuerpo-modal-mensaje').html("SGL se eliminó exitosamente.");
                                $('#modal-mensaje').modal('show');

                                $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                                    $("#modal-mensaje").modal('hide');
                                    var url = '@Url.Action("Index", "ConsultarSGL")';
                                    window.location.href = url;
                                });
                            }
                        })
                        .fail(function () {
                            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                            $('#cuerpo-modal-mensaje').html('La eliminación no se realizó correctamente.');

                            $('#modal-mensaje').modal('show');
                        });
                });

                $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                    $("#btn-Volver").trigger("click");
                });
        });

        $('#btn-Volver').click(function () {
            $('#Rut').prop("required", false)
            $('#Nombre').prop("required", false)
        });

        // Boton CAMBIAR SOCIEDAD ********************************************************
        $('.modal #IdPersonaJuridica').css("z-index", "200001");

        $(document).on('click', '#btn-CambiarSociedad', function (e) {
            e.preventDefault();
            window.scrollTo(0, 0);
            $('#btn-cambiarSociedadModal').css("display", "block");
            $('#btn-confirmarCambio').css("display", "none");


            //var button = $(e.currentTarget);
            //var url = button.attr('href');

            $('#modal-loading').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            $('#titulo-modal').html('Cambiar nombre o Tipo de razón social');
            var Rut = "@Model.Rut";
           Rut = Rut.replace(/\./g, '');
           var rut = Rut.split("-");
           var url = '@Url.Action("CambiarSociedad", "AsociarSociedadSGL")?rut=' + rut[0] + '&idSgl=' + @Model.IdSGL + '&nombre=' + encodeURI($('#Nombre').val());

            $('#modal .modal-body').load(url, function (data) {

                setTimeout(function () {
                    $('#modal-loading').modal('hide');
                    $('#modal').modal('show');

                }, 500);

            });
        });

        /*Modal de confirmacion Cambio Persona Jurídica*/
        $('#btn-cambiarSociedadModal').click(function (e) {
            e.preventDefault();
            window.scrollTo(0, 0);
             $('#btn-confirmarCambio').css("display", "none");


             if ($(".modal #nombreSociedad").val().trim() == "" || !$(".modal #nombreSociedad").val().trim()) {
                $('#nombreValidacion').text('Debe Ingresar nombre de sociedad');

            } else if ($('#nombreSociedad').val().length < 5) {

                $('#nombreValidacion').text('Debe ingresar un mínimo de 5 carácteres');

            } else if ($('#nombreSociedad').val().length > 200) {

                $('#nombreValidacion').text('Debe ingresar un máximo de 200 carácteres');

             } else {
                 
                nombreEditado = $(".modal #nombreSociedad").val();
                idTipoPersonaJuridicaEditada = $(".modal #IdPersonaJuridicaModal").val();

                var formulario = $('#formularioCambioPJ');

                if (formulario.val) {
                    $('#modal').modal('hide');
                    $('#modal-loading').modal('show');

                    setTimeout(function () {
                        $('#titulo-modal').html('Mensaje: Confirmar Cambio');
                        $('#cuerpo-modal').html('¿ Esta seguro que desea actualizar Sociedad ?');
                        $('#modal-loading').modal('hide');
                        $('#modal').modal('show');
                        $('#btn-confirmarCambio').css("display", "block");
                        $('#btn-cambiarSociedadModal').css("display", "none");
                    }, 500);
                  
                }

            }
        });
        $('#btn-confirmarCambio').on("click", function (e) {
            //$('#modal-confirmar').modal('hide');
            $('#modal').modal('hide');

            $('#modal-loading').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            var RespaldoNombre = 0;
            $('#nombreValidacion').text('');

            if ($('#nombreSociedad').val() != $('#Nombre').val()) {
                RespaldoNombre = 1;
            } else {
                RespaldoNombre = 0;
            }

            var objeto = {

                Nombre: nombreEditado,
                CodigoPersona: CodigoPersona,
                IdTipoPersona: idTipoPersonaJuridicaEditada,
                VariableRespaldo: RespaldoNombre,
                NombreActual: $('#Nombre').val().trim(),
                RutPersonaAbogado: RutAbogado,
                Rut: $('#Rut').val()
            }

            setTimeout(function () {
                  $.ajax({
                        method: "POST",
                        url: '@Url.Action("CambioSociedad", "AsociarSociedadSGL")',
                        dataType: 'json',
                        data: objeto
             }).done(function (data) {
                 var nombre = data[0].nombrePersona;
                 var codigoTipo = data[0].codigoTipoPersona;
               
                        $('#Nombre').val(nombre);
                        $('#Nombre').trigger('change');
                        $('#PersonaJuridica').val(codigoTipo);
                        $('#PersonaJuridica').trigger('change');
                        $('#Nombre').prop('readonly', true);
                        $('#PersonaJuridica').attr('disabled',true);
                        $('#Rut').prop('readonly', true);
                        IdSociedad = data[0].codigoPersona;
                        $('#btn-CambiarSociedad').prop('disabled', true);

                        $('#modal-loading').modal('hide');

                        $('#titulo-modal-mensaje').html('Mensaje: Cambio Exitoso');
                        $('#cuerpo-modal-mensaje').html('Se ha cambiado satisfactoriamente el Tipo de Sociedad');
                        $('#modal-mensaje').modal('show');
                      ;               
                        

                    }).fail(function () {
                        $('#modal').modal('hide');

                        $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                        $('#cuerpo-modal-mensaje').html('Se ha prodicido un Error Inesperado');
                        $('#modal-mensaje').modal('show');
                    });


            }, 500);






        });


    </script>
} 