﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ConsultaFirmaCajaDTO

@{
    ViewData["Title"] = "Consulta de Firmas para Caja ";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Buscar" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DatosPersona.CuentaCorriente" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="DatosPersona.CuentaCorriente" class="form-control" />
                    <span asp-validation-for="DatosPersona.CuentaCorriente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatosPersona.Rut" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="DatosPersona.Rut" class="form-control" />
                    <span asp-validation-for="DatosPersona.Rut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btn-registrar" class="btn btn-primario">
                        <i class="fa fa-plus"></i> Aceptar
                    </button>
                    <a href='@Url.Action("Index", "ConsultafirmasCaja")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-registrar').on("click", function (e) {
                e.preventDefault();

                var formulario = $('#formulario');

                if (formulario.valid()) {
                    $('#formulario').submit();
                }
            });

        });


    </script>
}