﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Datos del Usuario";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row ">
        <div class="col-md-12 ">
            <form asp-action="BusquedaUsuario" class="col-xl-10 offset-xl-2 col-md-6 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group-prepend ">                  
                    <label asp-for="RutUsuario" class="control-label col-md-2" style="font-size: 15px;"></label>
                    <input asp-for="RutUsuario" type="text" class="form-control col-md-4" />
                    <span asp-validation-for="RutUsuario" class="text-danger"></span> 
             
                </div>
                <br />
                <div class="form-group" style="margin-right:310px">
                    <button id="btn-buscar" class="btn btn-primario">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                    <button id="btn-limpiar" class="btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <a href='@Url.Action("Index", "Usuario")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
            });

            $('#btn-buscar').on("click", function (e) {
                e.preventDefault();                             

                var formulario = $('#formulario');

                $('#formulario').submit();
                
            });

        

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

            $('#RutUsuario').CampoTipoRut();

           $('#RutUsuario').FormatearRut();

            $('#RutUsuario').ValidarRut();
        });


    </script>
}
