﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Ingresar Registro Tabla Usuario";
}


<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    <label asp-for="RutUsuario" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="RutUsuario" type="text" value="@Model.RutUsuario.Trim()-@Model.DigitoVerificador.Trim()" id="RutUsuario" class="form-control" />
                    <span asp-validation-for="RutUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Nombre" id="Nombre" class="form-control focus" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoPaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoPaterno" id="ApellidoPaterno" class="form-control focus" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoMaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoMaterno" id="ApellidoMaterno" class="form-control focus" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SesionUsuario" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="SesionUsuario" id="SesionUsuario"  value="@Model.SesionUsuario" class="form-control focus" />
                    <span asp-validation-for="SesionUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contraseña" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Contraseña" id="Contraseña" class="form-control focus" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContraseñaConfirmacion" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ContraseñaConfirmacion" id="ContraseñaConfirmacion" class="form-control focus" />
                    <span asp-validation-for="ContraseñaConfirmacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label col-md-6" style="font-size: 15px;"></label>
                        <input asp-for="Telefono" id="Telefono" class="form-control focus" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-6" style="font-size: 15px;"></label>
                        <input asp-for="Email" id="Email" class="form-control focus" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6" style="font-size: 15px;">Sucursal</label>
                        <select asp-for="IdSucursal" class="form-control" style="z-index:2000000"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6" style="font-size: 15px;">Perfil</label>
                        <select asp-for="CodigoPerfil" class="form-control" style="z-index:2000000"></select>
                    </div>
                    <div class="form-group" style="margin-top:50px;">
                        <button id="btn-registrar" class="btn btn-primario">
                            <i class="fa fa-plus"></i> Registrar
                        </button>
                        <button id="btn-limpiar" class="btn btn-default">
                            <i class="fa fa-brush"></i> Limpiar
                        </button>
                        <a href='@Url.Action("Index", "Usuario")' class="btn btn-secondary">
                            <i class="fa fa-ban"></i> Cancelar
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');


            });

            $('#btn-registrar').on("click", function (e) {
                e.preventDefault();

                var formulario = $('#formulario');

                if (formulario.valid()) {
                    $('#titulo-modal-confirmar').html('Confirmar Creación');
                    $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea crear el registro ?');
                    $('#modal-confirmar').modal('show');
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

            $('#IdSucursal').select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: '@Url.Action("ListDropdownSucursal", "Usuario")',
                dataType: 'json',
            })
            .done(function (data) {
                $('#IdSucursal').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'
                });
                })
            .fail(function () {
                $('#IdSucursal').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

            $('#CodigoPerfil').select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: '@Url.Action("ListDropdownPerfil", "Usuario")',
                dataType: 'json',
            })
            .done(function (data) {
                $('#CodigoPerfil').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'
                });
                })
            .fail(function () {
                $('#CodigoPerfil').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
                });

            $('#RutUsuario').CampoTipoRut();
            $('#RutUsuario').FormatearRut();
            $('#RutUsuario').ValidarRut();

            $('#RutUsuario').keydown();
            $('#RutUsuario').keyup();
            $('#RutUsuario').focus();

          
            $('#SesionUsuario').CampoTipoRut();
            $('#SesionUsuario').FormatearRut();
            $('#SesionUsuario').ValidarRut();

            $('#SesionUsuario').keydown();
            $('#SesionUsuario').keyup();
            $('#SesionUsuario').focus();

        });


    </script>
}



