﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Eliminar Registro Tabla Usuario";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <form asp-action="Delete" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
        <h5>¿Está seguro que desea eliminar este registro?</h5>
        <dl class="dl-horizontal" style="text-align:center;">
            <dt>
                <label asp-for="Codigo" class="control-label col-md-6" style="font-size: 15px;"></label>
            </dt>
            <dd>
                <input asp-for="Codigo" class="form-control" readonly />
            </dd>
            <dt>
                <label asp-for="RutUsuario" class="control-label col-md-6" style="font-size: 15px;"></label>
            </dt>
            <dd>
                <input asp-for="RutUsuario" value="@Model.RutUsuario-@Model.DigitoVerificador" class="form-control" readonly />
            </dd>

            <dt>
                <label asp-for="Nombre" class="control-label col-md-6" style="font-size: 15px;"></label>
            </dt>
            <dd>
                <input asp-for="Nombre" class="form-control" readonly />
            </dd>
            <dt>
                <label asp-for="ApellidoPaterno" class="control-label col-md-6" style="font-size: 15px;"></label>

            </dt>
            <dd>
                <input asp-for="ApellidoPaterno" class="form-control" readonly />
            </dd>
            <dt>
                <label asp-for="ApellidoMaterno" class="control-label col-md-6" style="font-size: 15px;"></label>

            </dt>
            <dd>
                <input asp-for="ApellidoMaterno" class="form-control" readonly />
            </dd>
            <dt>
                <label asp-for="Telefono" class="control-label col-md-6" style="font-size: 15px;"></label>

            </dt>
            <dd>
                <input asp-for="Telefono" class="form-control" readonly />
            </dd>
            <dt>
                <label asp-for="Email" class="control-label col-md-6" style="font-size: 15px;"></label>
            </dt>
            <dd>
                <input asp-for="Email" class="form-control" readonly />

            </dd>
            <dt>
                <label class="control-label col-md-6" style="font-size: 15px;">Perfil</label>
            </dt>
            <dd>
                <input asp-for="DescripcionPerfil" class="form-control" readonly />

            </dd>
        </dl>
        <div class="form-group col-md-12">
            <table id="example" style="width:100%">
                <thead>
                    <tr>
                        <th><label class="control-label col-md-6" style="font-size: 15px;">Sucursal</label></th>
                        <th><label class="control-label col-md-6" style="font-size: 15px;">Check</label></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.listaSucursales != null)
                    {
                        @foreach (var item in ViewBag.listaSucursales)
                        {
                            <tr>
                                <td>
                                    <input id="DescripcionSucursal" class="form-control" value="@item.DescripcionSucursal" readonly />
                                </td>
                                <td>
                                    <input asp-for="IdSucursal" id="checkSucursal" class="form-control" value="@item.IdSucursal" data-toggle="tooltip" title="Selecionar" type="checkbox" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>

                            <td><input class="form-control" value="El usuario no tiene Sucursales asociadas" readonly /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <button id="btn-eliminar" class="btn btn-primario">
                <i class="fa fa-trash-alt"></i> Eliminar
            </button>
            <a href='@Url.Action("Index", "Usuario")' class="btn btn-secondary">
                <i class="fa fa-ban"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {
            $('#Codigo').val($('#Codigo').val().trim());
            $('#RutUsuario').val($('#RutUsuario').val().trim());
            $('#DigitoVerificador').val($('#DigitoVerificador').val().trim());
            $('#Nombre').val($('#Nombre').val().trim());
            $('#ApellidoPaterno').val($('#ApellidoPaterno').val().trim());
            $('#ApellidoMaterno').val($('#ApellidoMaterno').val().trim());
            $('#Telefono').val($('#Telefono').val().trim());
            $('#Email').val($('#Email').val().trim());
            $('#SesionUsuario').val($('#SesionUsuario').val().trim());
            $('#CodigoPerfil').val($('#CodigoPerfil').val().trim());
            $('#DescripcionPerfil').val($('#DescripcionPerfil').val().trim());
            $('#DescripcionSucursal').val($('#DescripcionSucursal').val().trim());

        });

        $(function (e) {



            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
            });

            $(".checkSucursal").on('change', function () {
                if ($(this).is(':checked')) {
                    $('#checkSucursal').prop('checked', true)
                } else {
                    $('#checkSucursal').prop('checked', false)
                }
            });        



            $('#btn-eliminar').on("click", function (e) {
                e.preventDefault();


                if ($('#checkSucursal').prop('checked')) {

                    $('#titulo-modal-confirmar').html('Confirmar Eliminación');
                    $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea eliminar el registro ?');
                    $('#modal-confirmar').modal('show');

                }
                else
                {
                   var errorSeleccion = '@TempData["ErrorSeleccionSucursal"]';

                    if (errorSeleccion == 'True')
                    {
                        $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                        $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');
                        $('#modal-mensaje').modal('show');
                    }

                }

            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                //$("#modal-loading").modal('show');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

        });


    </script>
}