﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    Layout = null;
}

<div >

    <div class="col-md-12" >
        <div >
            <label >Usuario ha sido Bloqueado o Eliminado del sistema</label>
        </div>
      
    </div>
  
</div>