﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    Layout = null;
}

<div class="input-group" style="text-align:center; position:center;  ">
  
        <div class="col-sm-6" style="text-align:center;" >
            <div class="input-group-sm">
                <label asp-for="Codigo"></label>
                <input asp-for="Codigo" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label asp-for="RutUsuario"></label>
                <input asp-for="RutUsuario" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label asp-for="ApellidoPaterno"></label>
                <input asp-for="ApellidoPaterno" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label asp-for="ApellidoMaterno"></label>
                <input asp-for="ApellidoMaterno" class="form-control" readonly />
            </div>
        </div>
        <div class="col-sm-6" style="text-align:center;">
            <div class="input-group-sm">
                <label asp-for="Telefono"></label>
                <input asp-for="Telefono" class="form-control" readonly />
            </div>

            <div class="input-group-sm">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>

            <div class="input-group-sm">
                <label>Perfil</label>
                <input asp-for="DescripcionPerfil" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label asp-for="SesionUsuario"></label>
                <input asp-for="SesionUsuario" class="form-control" readonly />
            </div>
            <div class="input-group-sm">
                <label>Sucursal</label>
                <input asp-for="DescripcionSucursal" class="form-control" readonly />
            </div>
        </div>
    </div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

          $(function (e) {
              console.log('Error2');
              console.log('@TempData["ErrorVigencia"]');

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');

            });

        $('#Codigo').val($('#Codigo').val().trim());
        $('#RutUsuario').val($('#RutUsuario').val().trim());
        $('#DigitoVerificador').val($('#DigitoVerificador').val().trim());
        $('#Nombre').val($('#Nombre').val().trim());
        $('#ApellidoPaterno').val($('#ApellidoPaterno').val().trim());
        $('#ApellidoMaterno').val($('#ApellidoMaterno').val().trim());
        $('#Telefono').val($('#Telefono').val().trim());
        $('#Email').val($('#Email').val().trim());
        $('#SesionUsuario').val($('#SesionUsuario').val().trim());
        $('#CodigoPerfil').val($('#CodigoPerfil').val().trim());
        $('#DescripcionPerfil').val($('#DescripcionPerfil').val().trim());
        $('#DescripcionSucursal').val($('#DescripcionSucursal').val().trim());



    $('#RutUsuario').CampoTipoRut();

    $('#RutUsuario').FormatearRut();

    $('#RutUsuario').ValidarRut();


          });

    </script>

}


