﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Editar Registro Tabla Usuario";
}


<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="EditUsuarioNuevo" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
                    <input asp-for="Codigo" value="@Model.Codigo" type="text" id="Codigo" class="form-control" hidden />                         
                    <input asp-for="CodigoPerfil" value="@Model.CodigoPerfil" type="text" id="CodigoPerfilValidacion" class="form-control" hidden />
                    <input asp-for="CodigoNuevoPerfil" value="@Model.CodigoNuevoPerfil" type="text" id="CodigoNuevoPerfil" class="form-control" hidden />
                 

                <div class="form-group ">
                    <label asp-for="RutUsuario" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="RutUsuario" type="text" value="" id="RutUsuario" class="form-control" readonly />
                    <span asp-validation-for="RutUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Nombre" id="Nombre" class="form-control focus" disabled />
                    @*<span asp-validation-for="Nombre" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoPaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoPaterno" id="ApellidoPaterno" class="form-control focus" readonly />
                    @*<span asp-validation-for="ApellidoPaterno" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoMaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoMaterno" id="ApellidoMaterno" class="form-control focus" disabled />
                    @*<span asp-validation-for="ApellidoMaterno" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="SesionUsuario" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="SesionUsuario" id="SesionUsuario" class="form-control focus" disabled />
                    @*<span asp-validation-for="SesionUsuario" class="text-danger"></span>*@
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Telefono" id="Telefono" class="form-control focus" disabled />
                    @*<span asp-validation-for="Telefono" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Email" id="Email" class="form-control focus" disabled/>
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6" style="font-size: 15px;">Sucursal</label>
                    <input asp-for="IdNuevoSucursal"  class="form-control" type="hidden" id="IdSucursalValor" />
                    <select asp-for="IdSucursal" id="IdSucursal"  class="form-control" style="z-index:2000000"></select>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-6" style="font-size: 15px;">Perfil</label>
                    <input asp-for="CodigoNuevoPerfil" class="form-control" id="CodigoPerfilValor" type="hidden" />
                    <select asp-for="CodigoPerfil" id="CodigoPerfil" class="form-control" style="z-index:2000000" readonly></select>
                </div>
                <div class="form-group" style="margin-top:50px;">
                    <button id="btn-registrar" class="btn btn-primario">
                        <i class="fa fa-plus"></i> Grabar
                    </button>                
                    <a href='@Url.Action("Index", "Usuario")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var rutCompleto = '@Model.RutUsuario@Model.DigitoVerificador'
            $('#RutUsuario').val(rutCompleto)


            $('#IdSucursal').on("change", function (e) {
                              
                var sucusuario = $('#IdSucursal').val();//se obtiene valor desde variable hidden con valor actual
                $('#IdSucursal').val(sucusuario);
              
                console.log('IdSucursal');
                console.log(sucusuario);
            });        
                           
                var error = '@TempData["Error"]';

                if (error == 'True') {
                    $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                    $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                    $('#modal-mensaje').modal('show');
                }

                $('#btn-limpiar').on("click", function () {
                    $('#formulario input[type="text"]').val('');
                });

            //Registrar
                $('#btn-registrar').on("click", function (e) {
                    e.preventDefault();

                    var formulario = $('#formulario');

                    var valorSucursal = $('#IdSucursal').val()
                    console.log('valorSucursal');
                    console.log(valorSucursal);

                    if (valorSucursal == null) {
                        $('#titulo-modal-mensaje').html('Sucursal');
                        $('#cuerpo-modal-mensaje').html('Debe seleccionar una Sucursal');
                        $('#modal-mensaje').modal('show');

                        $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                            $("#modal-confirmar").modal('hide');
                        });
                    } else {
                        if (formulario.valid()) {
                            $('#titulo-modal-confirmar').html('Confirmar Creación');
                            $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea ingresar el registro ?');
                            $('#modal-confirmar').modal('show');
                        }
                    }

               
                });

                $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                    $('#formulario').submit();
                    $("#modal-confirmar").modal('hide');

                    $("#modal-loading").modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                });

                $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                    $("#modal-confirmar").modal('hide');
                });

                $('#IdSucursal').select2({
                    placeholder: 'Cargando...',
                });

                $.ajax({
                    method: "GET",
                    url: '@Url.Action("ListDropdownSucursal", "Usuario")',
                    dataType: 'json',
                })
                    .done(function (data) {
                        $('#IdSucursal').select2({
                            data: data,
                            dataType: 'json',
                            theme: theme,
                            language: languageDrop,
                            placeholder: 'Seleccionar'
                        });                        
                            
                            $('#IdSucursal').val($('#IdSucursalValor').val().trim());//se obtiene valor desde variable hidden con valor actual
                            $('#IdSucursal').trigger('change');//se dispara evento para dejar seleccionado el valor actual
                            var elem = document.getElementById("IdSucursalValor");//se obtiene el elemento hidden
                            elem.parentElement.removeChild(elem);//se destruye el elemento hidden para que no sea utilizado al enviar el formulario
                                           
                     })
                    .fail(function () {
                        $('#IdSucursal').select2({
                            dataType: 'json',
                            theme: theme,
                            language: languageDrop,
                            placeholder: 'Ocurrio un error al obtener los valores.'
                        });
                    });

                $('#CodigoPerfil').select2({
                    placeholder: 'Cargando...',
                });

                $.ajax({
                    method: "GET",
                    url: '@Url.Action("ListDropdownPerfil", "Usuario")',
                    dataType: 'json',
                })
                    .done(function (data) {
                        $('#CodigoPerfil').select2({
                            data: data,
                            dataType: 'json',
                            theme: theme,
                            language: languageDrop,
                            placeholder: 'Seleccionar'

                        });

                        var codigoPerfil = $('#CodigoPerfilValidacion').val();
                        var codigoNuevoPerfil = $('#CodigoNuevoPerfil').val();

                        $('#CodigoPerfilValor').val(codigoNuevoPerfil);

                        console.log('codigoPerfil');
                        console.log(codigoPerfil);
                        console.log('codigoNuevoPerfil');
                        console.log(codigoNuevoPerfil);

                        $('#CodigoPerfil').val($('#CodigoPerfilValor').val().trim());//se obtiene valor desde variable hidden con valor actual
                        $('#CodigoPerfil').trigger('change');//se dispara evento para dejar seleccionado el valor actual
                        var elem = document.getElementById("CodigoPerfilValor");//se obtiene el elemento hidden
                        elem.parentElement.removeChild(elem);//se destruye el elemento hidden para que no sea utilizado al enviar el formulario

                        if (codigoPerfil == '0')
                        {
                           $('#CodigoPerfil').attr('disabled', true);
                        }

                    })
                    .fail(function () {
                        $('#CodigoPerfil').select2({
                            dataType: 'json',
                            theme: theme,
                            language: languageDrop,
                            placeholder: 'Ocurrio un error al obtener los valores.'
                        });
                    });

                         
                $('#RutUsuario').CampoTipoRut();
                $('#RutUsuario').FormatearRut();
                $('#RutUsuario').ValidarRut();

                $('#RutUsuario').keydown();
                $('#RutUsuario').keyup();
                $('#RutUsuario').focus();

              



        });

</script>
}







