﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO
@{
    ViewData["Title"] = "Editar Registro Tabla Usuario";
}
<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                @Html.HiddenFor(model => model.Codigo)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RutUsuario" class="control-label" style="font-size: 15px;"></label>
                    <input asp-for="RutUsuario" value="@Model.RutUsuario.Trim()-@Model.DigitoVerificador.Trim()" class="form-control" readonly />
                    <span asp-validation-for="RutUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoPaterno" class="control-label"></label>
                    <input asp-for="ApellidoPaterno" class="form-control" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoMaterno" class="control-label"></label>
                    <input asp-for="ApellidoMaterno" class="form-control" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" placeholder="912345678"  />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="correo@correo.cl"  />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Perfil</label>
                    <input asp-for="CodigoNuevoPerfil" class="form-control" id="CodigoPerfilValor" type="hidden" />
                    <select asp-for="CodigoPerfil" id="CodigoPerfil" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Sucursal</label>
                    <input asp-for="IdNuevoSucursal" class="form-control" type="hidden" id="IdSucursalValor"  />
                    <select asp-for="IdSucursal"  class="form-control"  id="IdSucursal" disabled></select>
                </div>
                <div class="form-group col-md-12">
                    <table id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th><label class="control-label col-md-6" style="font-size: 15px;">Sucursal</label></th>
                                <th><label class="control-label col-md-6" style="font-size: 15px;">Check</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaSucursalesPorUsuario != null)
                            {
                                @foreach (var item in ViewBag.listaSucursalesPorUsuario)
                                {
                                    <tr>
                                        <td>
                                            <input id="DescripcionSucursal" class="form-control" value="@item.DescripcionSucursal" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="IdSucursal" id="checkSucursal" class="form-control" value="@item.IdSucursal" data-toggle="tooltip" title="Selecionar" type="checkbox" />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>

                                    <td><input class="form-control" value="El usuario no tiene Sucursales asociadas" readonly /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

        <div class="form-group">
            <button id="btn-editar" class="btn btn-primario">
                <i class="fa fa-pen"></i> Editar
            </button>
            <button id="btn-limpiar" class="btn btn-default">
                <i class="fa fa-brush"></i> Limpiar
            </button>
            <a href='@Url.Action("Index", "Usuario")' class="btn btn-secondary">
                <i class="fa fa-ban"></i> Cancelar
            </a>
        </div>

        </form>
    </div>
      </div>
</div>
    @section Scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">

            $(function (e) {
                $('#checkSucursal').click(function () {
                    $('#IdSucursal').attr('disabled', !this.checked)
                });

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');

               var url = '@Url.Action("Index","Usuario")';
               setTimeout(function () {
                    $(location).attr('href', url);
               }, 2500);
                
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
            });

            $('#btn-editar').on("click", function (e) {
                e.preventDefault();

                var formulario = $('#formulario');

                console.log($('#formulario'));

                if (formulario.valid()) {
                    $('#titulo-modal-confirmar').html('Confirmar Edición');
                    $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea editar el registro ?');
                    $('#modal-confirmar').modal('show');
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

            //ListDropDown Para Perfil
            $('#CodigoPerfil').select2({
                placeholder: 'Cargando...',
            });

             $.ajax({
                method: "GET",
                url: '@Url.Action("ListDropdownPerfil", "Usuario")',
                dataType: 'json',
            })
            .done(function (data) {
                $('#CodigoPerfil').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'
                });
                $('#CodigoPerfil').val($('#CodigoPerfilValor').val().trim());//se obtiene valor desde variable hidden con valor actual
                $('#CodigoPerfil').trigger('change');//se dispara evento para dejar seleccionado el valor actual
                var elem = document.getElementById("CodigoPerfilValor");//se obtiene el elemento hidden
                elem.parentElement.removeChild(elem);//se destruye el elemento hidden para que no sea utilizado al enviar el formulario
                })
            .fail(function () {
                $('#CodigoPerfil').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

            //ListDropDown Para Sucursal
             $('#IdSucursal').select2({
                placeholder: 'Cargando...',
            });

             $.ajax({
                method: "GET",
                url: '@Url.Action("ListDropdownSucursal", "Usuario")',
                dataType: 'json',
            })
            .done(function (data) {
                $('#IdSucursal').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'
                });
                $('#IdSucursal').val($('#IdSucursalValor').val().trim());//se obtiene valor desde variable hidden con valor actual
                $('#IdSucursal').trigger('change');//se dispara evento para dejar seleccionado el valor actual
                var elem = document.getElementById("IdSucursalValor");//se obtiene el elemento hidden
                elem.parentElement.removeChild(elem);//se destruye el elemento hidden para que no sea utilizado al enviar el formulario
                })
            .fail(function () {
                $('#IdSucursal').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });



        });


        </script>
    }