﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.UsuarioDTO

@{
    ViewData["Title"] = "Usuario";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="col-md-12">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Codigo Usuario</th>
                <th>Rut Usuario</th>
                <th>Digito Verificador</th>
                <th>Rut</th>
                <th>ClaveBloqueada</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
    <hr />
    <p class="text-right">
        <a class="btn btn-primario" href=@Url.Action("BusquedaUsuario", "Usuario")>Ingresar Nuevo Registro</a>
    </p>
</div>
@section Scripts{
    <script type="text/javascript">

        $(function (e) {

            $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                $("#modal-mensaje").modal('hide');

            });

                $('#modal-mensaje').on('hidden.bs.modal', function (e) {

                    // remove the bs.modal data attribute from it
                    $(this).removeData('bs.modal');

                    // and empty the modal-content element
                    $('#modal-mensaje .modal-body').empty();
                    $('#modal-mensaje .modal-body').html('<img src="../images/loading.gif"/>');
                });

            var exito = '@TempData["Exito"]';

            if( exito == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            var error = '@TempData["Error"]';

            if (error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $(document).on('click', '#example #btnDetalle', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal-mensaje').html('Detalle Registro Tabla Usuario');

                $('#modal-mensaje .modal-body').load(url, function (data) {

                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                        $('#modal-mensaje').modal('show');
                    }, 500);
                });
            });

            $('#example').DataTable({
                'ajax': '@Url.Action("List")',
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type':'GET',
                'columns': [
                    {
                        'data': 'codigo',
                        'visible': true
                    },

                    {
                        'data': 'rutUsuario',
                        'visible': false
                    },
                    {
                        'data': 'digitoVerificador',
                        'visible': false
                    },
                    {

                    },
                    {
                        'data': 'claveBloqueada',
                        'visible': false
                    },
                    {
                        'data': 'nombre'
                    },
                    {
                        'data': 'apellidoPaterno'
                    },
                    {
                        'data': 'apellidoMaterno'
                    }

                ],
                'columnDefs': [
                    {
                        'width': "130px",
                        'targets': [8],
                        'render': function (data, type, row) {


                            if (row.claveBloqueada == 'S') {

                                return '<a style="padding:0px;margin-left:10px;" class="btn btn-default disabled" id="btnEditar" href="@Url.Action("EditUser", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '" ><div class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"  ></div></a>'
                                    + '<a style="padding:0px;margin-left:20px;" class="btn btn-default " id="btnDetalle" href="@Url.Action("Details", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '&digito=' + row.digitoVerificador + '" ><div class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Detalle" ></div></a>'
                                    + '<a style="padding:0px;margin-left:20px;" class="btn btn-default disabled" id="btnEliminar" href="@Url.Action("Delete", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '" ><div class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar" ></div></a>';
                            }
                            else
                            {
                                   return '<a style="padding:0px;margin-left:10px;" class="btn btn-default" id="btnEditar" href="@Url.Action("EditUser", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '" ><div class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></div></a>'
                                        + '<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnDetalle" href="@Url.Action("Details", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '&digito=' + row.digitoVerificador + '" ><div class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Detalle"></div></a>'
                                        + '<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnEliminar" href="@Url.Action("Delete", "Usuario")?codigo=' + row.codigo + '&rut=' + row.rutUsuario + '" ><div class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></div></a>';

                            }
                        }
                    },
                    {
                        'width': "130px",
                        'targets': [3],
                        'render': function (data, type, row)
                        {
                            var rut = row.rutUsuario;
                            rut = rut.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
                            return rut + '-' + row.digitoVerificador;
                        }
                    }
                ]
            });

            $('[data-toggle="tooltip"]').tooltip();

            $('#btnEliminar')


           // $('#RutTable').CampoTipoRut();
            //$('#RutTable').FormatearRut();
            //$('#RutTable').ValidarRut();
        

        });

    </script>
}
