﻿@using CL.Scotiabank.LegalPartner.SGL.Transversal.Utilities
@using CL.Scotiabank.LegalPartner.SGL.Transversal.DTO

@{
    var session = Context.Session;
    var usuario = session.GetObjectFromJson<SessionLoginDTO>("sessionLogin");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGL</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.css" />
        <link rel="stylesheet" href="~/lib/font-awasome/css/all.css">
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/css/datepicker.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/font-awasome/css/all.min.css">
        <link rel="stylesheet" href="~/css/site.min.css">
        <link rel="stylesheet" href="~/css/datepicker.min.css">
    </environment>
    <style>
        /*GENERAL*/
        body {
            margin: 0;
            padding: 0;
            font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
            color: #666;
            background: #f2f2f2;
            font-size: 1em;
            line-height: 1.5em;
            padding-top: 80px;
            min-width: 563px;
        }

        p {
            margin: 0 0 1.5em 0;
        }

        /*CABECERA*/
        #main-header {
            background: #fff;
            color: white;
            height: 80px;
            width: 100%;
            left: 0;
            top: 0;
            position: fixed;
            z-index: 1200;
            min-width: 563px;
        }


        /*LOGO*/
        #logo-header {
            float: left;
            padding-left: 15px;
            padding-right: 15px;
        }

        /*CONTENIDO*/
        #main-content {
            background: white;
            width: 90%;
            max-width: 1300px;
            margin: 40px auto;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
        }

            #main-content header {
                padding: 10px;
            }

            #main-content .content {
                padding: 10px 40px 40px 40px;
            }



        #iconoHeader {
            width: 16%;
            min-width: 293px;
            max-width: 293px;
            /*height: auto;*/
            margin-top: 13px;
            min-height: 54px;
            max-height: 54px;
        }

        #nombreSistemaHeader {
            width: 30%;
            height: auto;
        }
    </style>
    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        /*.modal-dialog {
            -webkit-transform: translate(0,-50%); 
            -o-transform: translate(0,-50%);
            transform: translate(0,-50%);
            top: 20%;
            margin: 0 auto;
        }*/
    </style>

</head>
<body>
    <!-- header -->
    <header id="main-header" style="z-index: 200000;">
        <div id="logo-header" style="display:inline-block; width:100%;">
            @*<a href="#"></a>*@
            <img id="iconoHeader" src="http://scotiabankfiles.azureedge.net/scotiabank-chile/Attachments/NewItems/logo-scotiabank_20170710211136_0.jpg" />
            @*<img style="float: right; margin-top:20px; min-width:85px; max-width:85px;" id="nombreSistemaHeader" src="~/images/logo.png" />*@
            <br>
            <label style="font-size: 15px; color: black; float: right; position: relative; right: 10px; bottom: 27px;">
                <i class="far fa-user"></i><span style="font-weight:bold"> @usuario.NombreUsuario</span>
                <a id="btn-cerrar-session" asp-area="Login" asp-controller="Login" asp-action="Index" style="color:black;"><i class="fas fa-times-circle"></i></a>
            </label>
        </div>
    </header>
    <!-- /header -->
    <!--nuevo Menu-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #ed0722; position: fixed; width: 100%; z-index: 200000; ">
        <a class="navbar-brand" asp-area="Login" asp-controller="Login" asp-action="Home"><img style="height:30px" src="~/images/logo-blanco.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            @if (usuario.menusDTO != null && usuario.menusDTO.Any())
            {
                @foreach (var menuAbuelo in usuario.menusDTO.Where(x => !x.CodigoMenuPadre.HasValue))
                {
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @menuAbuelo.Descripcion
                            </a>

                            <div class="dropdown" aria-labelledby="navbarDropdown">
                                <ul class="dropdown-menu">
                                    @foreach (var menuPadre in usuario.menusDTO.Where(x => x.CodigoMenuPadre.Equals(menuAbuelo.Codigo)))
                                    {
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" tabindex="-1" asp-area="@menuPadre.Area" asp-controller="@menuPadre.Controller" asp-action="@menuPadre.Action">@menuPadre.Descripcion<span class="caret"></span></a>
                                            @if (usuario.menusDTO.Any(x => x.CodigoMenuPadre.Equals(menuPadre.Codigo))) 
                                            {
                                                <ul class="dropdown-menu">
                                                    @foreach (var menuHijo in usuario.menusDTO.Where(x => x.CodigoMenuPadre.Equals(menuPadre.Codigo)))
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" tabindex="-1" asp-area="@menuHijo.Area" asp-controller="@menuHijo.Controller" asp-action="@menuHijo.Action">@menuHijo.Descripcion</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                }
            }
        </div>
    </nav>
    <!--fin nuevo Menu-->
    

    <section id="main-content">
        <article>
            <header>
                <h1>@ViewBag.TituloModulo</h1>
            </header>

            <div class="content">
                @RenderBody()
            </div>

            <!-- Modal Confirmar -->
            <div class="modal fade" id="modal-confirmar" tabindex="-1" role="dialog" aria-labelledby="modal-confirmar" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo-modal-confirmar"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="cuerpo-modal-confirmar" style="margin: auto; text-align:center;">
                        </div>
                        <div class="modal-footer">
                            <button id="btn-cancelar-modal-confirmar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button id="btn-aceptar-modal-confirmar" type="button" class="btn btn-primary">Aceptar</button>
                            <button id="btn-aceptar-modal-cerrar-session" type="button" class="btn btn-primary d-none" >Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Mensajes-->
            <div class="modal fade" id="modal-mensaje" tabindex="-1" role="dialog" aria-labelledby="modal-mensaje" aria-hidden="true" style="z-index:200001">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo-modal-mensaje"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="cuerpo-modal-mensaje" style="margin: auto; text-align:center;">
                            <img style="" src="~/images/loading.gif" />
                        </div>
                        <div class="modal-footer">
                            <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Detalles-->
            <div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-labelledby="modal-detalle" aria-hidden="true" style="z-index:200001">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo-modal-detalle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="cuerpo-modal-detalle" style="text-align:center;">
                            <img style="" src="~/images/loading.gif" />
                        </div>
                        <div class="modal-footer">
                            <button id="btn-cerrar-modal-detalle" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal Loading-->
            <div class="modal fade" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="modal-loading" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:150px;">
                    <div class="modal-content">

                        <div class="modal-body" style="margin: auto; text-align:center;">
                            <img style="" src="~/images/loading.gif" />
                        </div>

                    </div>
                </div>
            </div>

            <!--Start Show Session Expire Warning Popup here -->
            <div class="modal fade" id="session-expire-warning-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Alerta de Expiración de Sesion</h4>
                        </div>
                        <div class="modal-body">
                            Tu sesion expirara en <span id="seconds-timer"></span> segundos. Desea extender el tiempo de la sesion?
                        </div>
                        <div class="modal-footer">
                            <button id="btnOk" type="button" class="btn btn-primario">Aceptar</button>
                            <button id="btnSessionExpiredCancelled" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button id="btnLogoutNow" type="button" class="btn btn-default">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Show Session Expire Warning Popup here -->
            <!--Start Show Session Expire Popup here -->
            <div class="modal fade" id="session-expired-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Session Expirada</h4>
                        </div>
                        <div class="modal-body">
                            Tu session ha expirado.
                        </div>
                        <div class="modal-footer">
                            <button id="btnExpiredOk" onclick="sessionExpiredRedirect()" type="button" class="btn btn-primary" data-dismiss="modal" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px; background-color: #428bca; color: #FFF;">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- This will init session -->

        </article>  <!-- / article -->

    </section><!-- / #main-content -->

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery/dist/jquery.dataTables.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap4.js"></script>
        <script src="~/lib/select2/dist/js/select2.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/sessionTimeout.js"></script>
        <script src="~/js/printThis.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/js/sessionTimeout.min.js"></script>
        <script src="~/js/printThis.js"></script>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
    </environment>

    <script type="text/javascript">
        initSessionMonitor();

        var languageDrop =
                {
                    noResults: function () {
                        return "No se han encontrado resultados.";
                    }
                };

        var theme = 'bootstrap4';

        var languageGrid =
                {
                    'processing': '<div class="odd gradeX"><img src="@Url.Content("~/images/loading.gif")" style="height:30px; width:30px;"></div>',
                    'lengthMenu': "Mostrando _MENU_ registros por página",
                    'zeroRecords': "Sin resultados",
                    'info': "Mostrando página _PAGE_ de _PAGES_",
                    'infoEmpty': "Sin resultados",
                    'infoFiltered': "(de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    'paginate': {
                        'previous': 'Anterior',
                        'first': 'Primera',
                        'last': 'Última',
                        'next': 'Siguiente'
                    },
                };

        $(document).ready(function () {

            $('#btn-cerrar-session').on("click", function (e) {
                e.preventDefault();

                $('#titulo-modal-confirmar').html('Confirmar Cerrar Sesión');
                $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea cerrar su sesión en el sistema ?');
                $('#btn-aceptar-modal-cerrar-session').removeClass('d-none');
                $('#btn-aceptar-modal-confirmar').addClass('d-none');
                $('#modal-confirmar').modal('show');
            });

            $('#btn-aceptar-modal-cerrar-session').on("click", function (e) {
                $("#modal-confirmar").modal('hide');

                var url = $('#btn-cerrar-session').attr("href");
                window.location.href = url;
            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

        });
        
    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>