﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.FacultadDTO

@{
    ViewData["Title"] = "Facultades";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="col-md-12">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID Facultades</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
    <hr />
    <p class="text-right">
        <a class="btn btn-primario" href=@Url.Action("Create", "Facultad")>Ingresar Registro</a>
    </p>
</div>
@section Scripts{
    <script type="text/javascript">

        $(function () {


            var exito = '@TempData["Exito"]';

            if( exito == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            //$("#exampleModal").on("show.bs.modal", function (e) {

            //    var button = $(e.relatedTarget); // Button that triggered the modal

            //    var url = button.attr("href");

            //    $(this).find(".modal-body").load(url);

            //});

            $('#modal-detalle').on('hidden.bs.modal', function (e) {

                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');

                // and empty the modal-content element
                $('#modal-detalle .modal-body').empty();
                $('#modal-detalle .modal-body').html('<img src="../images/loading.gif"/>');
            });

            $(document).on('click', '#example #btnDetalle', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal-detalle').html('Detalle Registro Tabla Facultad');

                //$.ajax({
                //    method: "GET",
                //    url: url
                //})
                //.done(function( msg ) {
                //    $('#modal-mensaje .modal-body').html(msg);
                //    setTimeout(function(){
                //        $('#modal-loading').modal('hide');
                //    }, 500);
                //});

                $('#modal-detalle .modal-body').load(url, function(data){
                    setTimeout(function(){
                        $('#modal-loading').modal('hide');
                        $('#modal-detalle').modal('show');
                    }, 500);
                });
            });

            @*$('#dropExample').select2({
                data: @Html.Raw(Model.listaDropDown),
                dataType: 'json',
                theme: 'bootstrap4'
            });*@


            @*$('#dropExample').select2({
                ajax: {
                    url: '@Url.Action("ListarDrop")',
                    dataType: 'json',
                    processResults: function (data) {
                        console.log(data);
                        // Tranforms the top-level key of the response object from 'items' to 'results'
                        return {
                            results: data
                        };
                    }
                }
            });*@


            $('#example').DataTable({
                'ajax': '@Url.Action("List")',
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type':'GET',
                'columns': [
                    {
                        'data': 'codigo',
                        'visible': false
                    },
                    { 'data': 'descripcion' }
                ],
                'columnDefs': [
                    {
                        'width': "130px",
                        'targets': [2],
                        'render': function (data, type, row) {
                            return '<a style="padding:0px;margin-left:10px;" class="btn btn-default" id="btnEditar" href="@Url.Action("Edit", "Facultad")/' + row.codigo + '"><div class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></div></a>'
                                    +'<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnDetalle" href="@Url.Action("Details", "Facultad")/' + row.codigo + '"><div class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Detalle"></div></a>'
                                    +'<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnEliminar" href="@Url.Action("Delete", "Facultad")/' + row.codigo + '"><div class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></div></a>';
                        }
                    }
                ]
            });

            $('[data-toggle="tooltip"]').tooltip();

        });

    </script>
}

