﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ConservadorDTO

@{
    Layout = null;
    <!-- ViewData["Title"] = "Detalle Registro Tabla Conservador"; -->
}

<dl class="dl-horizontal col-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
    <dt>
        <label asp-for="Descripcion" style="font-size:15px;"></label>                
    </dt>
    <dd>
        <input asp-for="Descripcion"  class="form-control" style="width:100%" readonly/>
    </dd>
</dl>

<script type="text/javascript">
    $(function (e) {
        $('#Codigo').val($('#Codigo').val().trim());
        $('#Descripcion').val($('#Descripcion').val().trim());
    });
</script>

