﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.SucursalBancoDTO

@{
    ViewData["Title"] = "Ingresar Registro Tabla Sucursal del Banco";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">                    
                    <label asp-for="Descripcion" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OficinaPartesCodigo" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <select asp-for="OficinaPartesCodigo" class="form-control" style="width:100%;">
                        <option></option>
                    </select>
                    <span asp-validation-for="OficinaPartesCodigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SucursalCodigoCuenta" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="SucursalCodigoCuenta" class="form-control" />
                    <span asp-validation-for="SucursalCodigoCuenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btn-registrar" class="btn btn-primario">
                        <i class="fa fa-plus"></i> Registrar
                    </button>
                    <button id="btn-limpiar" class="btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <a href='@Url.Action("Index", "SucursalBanco")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
                $('#OficinaPartesCodigo').val('Seleccionar').change();                
            });

            $('#btn-registrar').on("click", function (e) {
                e.preventDefault();
                
                var formulario = $('#formulario');
                
                if (formulario.valid()) {
                    $('#titulo-modal-confirmar').html('Confirmar Creación');
                    $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea crear el registro ?');
                    $('#modal-confirmar').modal('show');
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });
        });

        $('#OficinaPartesCodigo').on('change', function () {  // when the value changes
            console.log('PRUEBA');
            console.log($('#OficinaPartesCodigo').val());
            $(this).valid(); // trigger validation on this element
        });

        $('#OficinaPartesCodigo').select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: '@Url.Action("ListDropdown", "OficinaPartes")',
                dataType: 'json',
            })
            .done(function (data) {
                $('#OficinaPartesCodigo').select2({
                    data: data,
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Seleccionar'                    
                });
                })
            .fail(function () {
                $('#OficinaPartesCodigo').select2({
                    dataType: 'json',
                    theme: theme,
                    language: languageDrop,
                    placeholder: 'Ocurrio un error al obtener los valores.'
                });
            });

    </script>
}