﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.SucursalBancoDTO

@{
    Layout = null;
    <!-- ViewData["Title"] = "Detalle Registro Tabla SucursalBanco"; -->
}

<dl class="dl-horizontal" style="text-align:center;">
    <dt>
        <label asp-for="Descripcion" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="Descripcion" class="form-control" readonly />
    </dd>
    <dt>
        <label asp-for="OficinaPartesDescripcion" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="OficinaPartesDescripcion" class="form-control" readonly />
    </dd>
    <dt>
        <label asp-for="SucursalCodigoCuenta" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="SucursalCodigoCuenta" class="form-control" readonly />
    </dd>
</dl>

<script type="text/javascript">
    $(function (e) {
        $('#Descripcion').val($('#Descripcion').val().trim());
        $('#OficinaPartesDescripcion').val($('#OficinaPartesDescripcion').val().trim());
        $('#SucursalCodigoCuenta').val($('#SucursalCodigoCuenta').val().trim());
    });
</script>

