﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.SucursalBancoDTO

@{
    ViewData["Title"] = "Sucursales de Bancos";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="col-md-12">
    <table id="tablaRegistros" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID SucursalBancos</th>
                <th>Descripción</th>
                <th>Oficina de Partes</th>
                <th>Cuenta</th>    
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
    <hr />
    <p class="text-right">
        <a class="btn btn-primario" href=@Url.Action("Create", "SucursalBanco")>Ingresar Nuevo Registro</a>
    </p>
</div>
@section Scripts{
    <script type="text/javascript">

        $(function () {
        
            var exito = '@TempData["Exito"]';

            if( exito == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#modal-detalle').on('hidden.bs.modal', function (e) {

                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');

                // and empty the modal-content element
                $('#modal-detalle .modal-body').empty();
                $('#modal-detalle .modal-body').html('<img src="../images/loading.gif"/>');
            });

            $(document).on('click', '#tablaRegistros #btnDetalle', function (e) {
                e.preventDefault();

                var button = $(e.currentTarget);
                var url = button.attr('href');

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $('#titulo-modal-detalle').html('Detalle Registro Tabla Sucursal Banco');

                $('#modal-detalle .modal-body').load(url, function(data){
                    setTimeout(function(){
                        $('#modal-loading').modal('hide');
                        $('#modal-detalle').modal('show');
                    }, 500);
                });
            });
        
            $('#tablaRegistros').DataTable({
                'ajax': '@Url.Action("List")',
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                'type':'GET',
                'columns': [
                    {
                        'data': 'codigo',
                        'visible': false
                    },
                    { 'data': 'descripcion' },
                    { 'data': 'oficinaPartesDescripcion' },
                    { 'data': 'sucursalCodigoCuenta' }
                ],
                'columnDefs': [
                    { "width": "30%", "targets": 1 },
                    { "width": "30%", "targets": 2 },
                    {
                        'width': "130px",
                        'targets': [4],
                        'render': function (data, type, row) {
                            return '<a style="padding:0px;margin-left:10px;" class="btn btn-default" id="btnEditar" href="@Url.Action("Edit", "SucursalBanco")/' + row.codigo + '"><div class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></div></a>'
                                    +'<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnDetalle" href="@Url.Action("Details", "SucursalBanco")/' + row.codigo + '"><div class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Detalle"></div></a>'
                                    +'<a style="padding:0px;margin-left:20px;" class="btn btn-default" id="btnEliminar" href="@Url.Action("Delete", "SucursalBanco")/' + row.codigo + '"><div class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></div></a>';
                        }
                    }
                ]
            });

            $('[data-toggle="tooltip"]').tooltip();

        });

    </script>
}



