﻿@model List<CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.DatosSociedadDTO>

<style>
    .columna-dato {
        cursor: pointer;
        color: #1a62cf;
    }
</style>

<div>
    <form class="col-xl-12 col-md-12 col-sm-12" id="formulario">

        @if (Model[0].mensajeError != null)
        {
            <div style="text-align:center;">
                <h4 class="text-center card card-body d-inline-block">@Model[0].mensajeError</h4>
            </div>
        }
        else
        {
            <h4 class="text-center">Seleccione una Sociedad</h4>
            <table id="idRutPorNombre" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Rut</th>@*0*@
                        <th>Nombre</th>@*1*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="columna-dato">@item.Rut</td>
                            <td>@item.NombreSociedad</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
</div>

<script type="text/javascript">
    
    if ('@Model[0].mensajeError' != "")
    {
        $('.modal-content').removeAttr("style");
        $('#cuerpo-modal-rutxNombre').removeAttr("style");
    } else {
        //$('.modal-header').addClass("pl-3 pt-1");
        $('.modal-content').css("height", "80%");
        $('#cuerpo-modal-rutxNombre').css({ "height": "70%", "text-align": "center" });
    }

    $("#idRutPorNombre tbody tr").click(function () {
        var rutSociedad = $(this).find("td").eq(0).html();
        $("#idRutSociedad").val(rutSociedad);
        $("#modal-rutxNombre").modal('hide');
    });

    $("#btn-cerrar-modal-rutxNombre, .close").on('click', function () {
        $('#idNombreSociedad').val("");
    });

</script>