﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.IngresarSGLDTO
@{
    ViewData["Title"] = "Consultar Solicitud de Gestión Legal";
    Model.Entrada = "N";
}

<style>
    /*.control-label {
        margin-bottom: 0;
        justify-content: flex-start;
    }*/

    .form-inline {
        margin-top: 10px;
    }

        /*.inhabilitadoColor {
        background-color: #e9ecef !important;
    }*/

        .form-inline label {
            justify-content: flex-start;
        }
</style>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-controller="AsociarSociedadSGL" asp-action="Index" method="post" class="col-md-10 offset-lg-1" id="formulario">

                @Html.HiddenFor(model => model.CodigoGrupo)
                @Html.HiddenFor(model => model.CodigoPersona)
                <div class="form-group">
                    <input asp-for="Entrada" class="form-control" hidden />
                </div>
            <div class="row">

                <div class="form-group col-lg-6">
                    <div class="form-inline row">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">N° de SGL</label>
                        <input asp-for="IdSGL" class="form-control col-sm-6 col-md-7 col-lg-6 " type="text" id="idNumSgl" maxlength="9" />
                        <div class="col-sm-2  pl-0 pl-sm-2 pl-md-2 pl-lg-2 btn-buscar">
                            <button id="btnBuscarPorNumSGL" type="button" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="form-inline row">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4 pl-lg-4 text-nowrap">Rut Sociedad</label>
                        <input asp-for="Rut" class="form-control col-sm-6 col-md-7 col-lg-4" type="text" id="idRutSociedad" maxlength="12" />
                        <div class="col-sm-2  pl-0 pl-sm-2 pl-md-2 pl-lg-2 btn-buscar">
                            <button id="btnBuscarPorRutSociedad" type="button" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="form-inline row">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2">Nombre Sociedad</label>
                        <input class="form-control col-sm-6 col-md-7 col-lg-5" type="text" id="idNombreSociedad" maxlength="200" />
                        @*<div class="btn-buscar align-self-end ml-md-0 ml-3 mt-md-0 mt-2 col-lg-2">*@
                        <div class="col-sm-2 pl-0 pl-sm-2 pl-md-2 pl-lg-2 btn-buscar">
                            <button id="btnBuscarPorNomSociedad" type="button" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Fecha Solicitud</label>
                        <input class="form-control col-sm-6 col-md-7 col-lg-6" onkeydown="return false" id="idFechaSolicitud" name="idFechaSolicitud" placeholder="DD/MM/YYYY" />
                        <div class="col-sm-2 pl-0 pl-sm-2 pl-md-2 pl-lg-2 btn-buscar">
                            <button id="btnBuscarPorFechaSolicitud" type="button" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4 pl-lg-4">Rut Solicitante</label>
                        <input class="form-control col-sm-6 col-md-7 col-lg-6" type="text" id="idRutSolcitante" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2">Nombre Solicitante</label>
                        <input class="form-control col-sm-6 col-md-7 col-lg-9" type="text" id="idNombreSolcitante" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Sucursal</label>
                        <select class="form-control col-sm-6 col-md-7 col-lg-8" id="idSucursal">
                            <option></option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Materia:</label>
                        <select class="form-control inhabilitadoColor col-sm-6 col-md-7 col-lg-8" id="idMateria">
                            <option></option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Tipo Materia:</label>
                        <select class="form-control inhabilitadoColor col-sm-6 col-md-7 col-lg-8" id="idTipoMateria">
                            <option></option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-lg-6">
                    @*<fieldset readOnly>*@
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Estado:</label>
                        <select class="form-control inhabilitadoColor col-sm-6 col-md-7 col-lg-8" id="idEstado">
                            <option></option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group  col-lg-6">
                    <div class="row form-inline">
                        <label class="control-label col-sm-4 col-md-3 col-lg-4">Abogado a cargo:</label>
                        <select class="form-control col-sm-6 col-md-7 col-lg-8" id="idAbogado">
                            <option></option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row col-lg-12 btns-bajos pt-2 justify-content-center" hidden>
                <div class="form-group col-sm-3">
                    <div class="col-sm-2 pl-0 pl-sm-2 pl-md-2 pl-lg-2">
                        <button id="btnContinuar" type="button" class="btn btn-secondary">Continuar</button>
                    </div>
                </div>
                <div class="form-group col-sm-3 justify-content-lg-center">
                    <div class="col-sm-2 pl-0 pl-sm-2 pl-md-2 pl-lg-2">
                        <button id="btnSeguimiento" type="button" class="btn btn-secondary">Seguimiento</button>
                    </div>
                </div>
                @*<div class="col-lg-3 col-sm-2 mt-1">*@
                <div class="form-group col-sm-3 justify-content-lg-end">
                    <div class="col-sm-2 pl-0 pl-sm-2 pl-md-2 pl-lg-2">
                        <button id="btnConsultarOtraSGL" type="button" class="btn btn-secondary">Consultar otra</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal SGL por Rut Sociedad-->
<div class="modal fade" id="modal-sglxRutSociedad" tabindex="-1" role="dialog" aria-labelledby="modal-sglxRutSociedad" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:100%;">
        <div class="modal-content">
            <div class="modal-header" style="height:11%; z-index:1050000;">
                <h5 class="modal-title pl-3 pt-0" id="titulo-modal-sglxRutSociedad"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal" id="cuerpo-modal-sglxRutSociedad" style="text-align:center; height:70%; overflow-y: auto;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer p-2 pr-3" style="height:10%; z-index:1050000;">
                <button id="btn-cerrar-modal-sglxRutSociedad" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Rut por Nombre Sociedad-->
<div class="modal fade" id="modal-rutxNombre" tabindex="-1" role="dialog" aria-labelledby="modal-rutxNombre" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="modalDialogo" role="document" style="height:100%;">
        <div class="modal-content">
            <div class="modal-header" style="height:11%; z-index:1050000;">
                <h5 class="modal-title pl-3 pt-0" id="titulo-modal-rutxNombre"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal" id="cuerpo-modal-rutxNombre" style="text-align:center; height:70%; overflow-y: auto;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer p-2 pr-3" style="height:10%; z-index:1050000;">
                <button id="btn-cerrar-modal-rutxNombre" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Rut por Fecha-->
<div class="modal fade" id="modal-sglxFecha" tabindex="-1" role="dialog" aria-labelledby="modal-sglxFecha" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:100%;">
        <div class="modal-content">
            <div class="modal-header" style="height:11%; z-index:1050000;">
                <h5 class="modal-title pl-3 pt-0" id="titulo-modal-sglxFecha"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal" id="cuerpo-modal-sglxFecha" style="text-align:center; height:70%; overflow-y: auto;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer p-2 pr-3" style="height:10%; z-index:1050000;">
                <button id="btn-cerrar-modal-sglxFecha" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Seguimiento-->
<div class="modal fade" id="modal-seguimiento" tabindex="-1" role="dialog" aria-labelledby="modal-seguimiento" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:100%;">
        <div class="modal-content" style="height:80%;">
            <div class="modal-header" style="height:10%; z-index:1050000;">
                <h5 class="modal-title" id="titulo-modal-seguimiento" style="line-height:1"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal pt-0 pl-3" id="cuerpo-modal-seguimiento" style="text-align:center; height:70%; overflow-y: auto;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer" style="height:11%; z-index:1050000;">
                <button id="btn-cerrar-modal-seguimiento" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $('.modal').modal({
            backdrop: false,
            show: false,
            backdrop: 'static'
        });

    ////// Funciones

        function CargarCombo(idCombo, urlAction, dataAjax) {
            $(idCombo).select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: urlAction,
                dataType: 'json',
                data: dataAjax
            })
                .done(function (data) {
                    $(idCombo).empty();
                    $(idCombo).append($('<option>', { value: -1, text: 'Seleccione...' }));
                    $(idCombo).append('</option>');
                    $(idCombo).select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'
                    });
                })
                .fail(function () {
                    $(idCombo).select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });
        };

        function CargarComboConCampoSeleccionado(idCombo, urlAction, dataAjax, opcionSeleccionar) {
            $(idCombo).select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: urlAction,
                dataType: 'json',
                data: dataAjax
            })
                .done(function (data) {
                    $(idCombo).empty();
                    $(idCombo).append($('<option>', { value: -1, text: 'Seleccione...' }));
                    $(idCombo).append('</option>');
                    $(idCombo).select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'
                    });
                    $(idCombo).val($(idCombo + ' option')[opcionSeleccionar].value).change();
                })
                .fail(function () {
                    $(idCombo).select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });
        };

        function CargaFormularioPorSGL(sglId) {
            if (sglId!=0) {
                $('.btn-buscar').css("display", "none");
                $('#idNumSgl').attr("readOnly", true);
                $('#idRutSociedad').attr("readOnly", true);
                $('#idNombreSociedad').attr("readOnly", true);
                $('#idFechaSolicitud').attr("disabled", true);
                $('#idRutSolcitante').attr("readOnly", true);
                $('#idNombreSolcitante').attr("readOnly", true);

                @*var urlSucursal = '@Url.Action("ListDropdownSucursales", "ConsultarSGL")';
                var dataSucursal = { codigoSucursal: $('#idSucursal').val()};
                CargarCombo('#idSucursal', urlSucursal, dataSucursal);*@

                $.ajax({
                    method: "Get",
                    url: '@Url.Action("GetSGLPorNumSgl", "ConsultarSGL")',
                    dataType: 'json',
                    data: { numeroSgl: sglId }
                })
                    .done(function (data) {
                        if (data.data == "") {
                            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                            $('#cuerpo-modal-mensaje').html('SGL inexistente.');
                            $('#modal-mensaje').modal('show');

                            $('#btn-cerrar-modal-mensaje').click(function() {
                                var url = '@Url.Action("Index", "ConsultarSGL")';
                                window.location.href = url;
                            });
                        } else {
                            if (data.data.rut == "" || data.data.dv == "") {
                                    $('#idRutSociedad').val("");
                            } else {
                                var num = data.data.rut.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
                                num = num.split('').reverse().join('').replace(/^[\.]/, '');
                                $('#idRutSociedad').val(num + '-' + data.data.dv);
                            }

                            $('#idNumSgl').val(data.data.sglId);
                            $('#idNombreSociedad').val(data.data.nombrePersona + ' ' + data.data.apellidoPaternoPersona + ' ' + data.data.apellidoMaternoPersona);

                            var date = new Date(data.data.fechaInicioSGL);
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var fecha = (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                            $('#idFechaSolicitud').val(fecha);

                            var numRutSolicitante = data.data.rutPersonaSolicitante.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
                            numRutSolicitante = numRutSolicitante.split('').reverse().join('').replace(/^[\.]/, '');
                            $('#idRutSolcitante').val(numRutSolicitante + '-' + data.data.dvPersonaSolicitante);

                            $('#idNombreSolcitante').val(data.data.nombrePersonaSolicitante + ' ' + data.data.apellidoPaternoPersonaSolicitante + ' ' + data.data.apellidoMaternoPersonaSolicitante);

                            //console.log($('#idSucursal'));

                            var idOptionSucursal = data.data.sucursalId;
                            //console.log("IdSucursal: " + idOptionSucursal);

                            //$('#idSucursal').val($("#idSucursal"+ ' option')[idOptionSucursal].value).change();
                            setTimeout(function () {
                                $('#idSucursal').val(idOptionSucursal).change();
                                //console.log($('#idSucursal').val());
                            }, 500);

                            codigoAbogadoSgl = data.data.codigoPersonaAbogadoSGL;

                            $('#idSucursal').on('change', function () {
                                var urlAbogado = '@Url.Action("ListDropdownAbogado", "ConsultarSGL")';
                                var dataSucursal = { codigoSucursal: $('#idSucursal').val() };
                                //CargarComboConCampoSeleccionado('#idAbogado', urlAbogado, dataSucursal, 1);
                                CargarCombo('#idAbogado', urlAbogado, dataSucursal);
                            });
                            //console.log($('#idAbogado'));


                                //console.log($('#idAbogado').val());
                            $('#idAbogado').on('change', function () {
                                setTimeout(function () {
                                    $("#idAbogado option").each(function () {
                                        if ($(this).val() == codigoAbogadoSgl) {
                                            $('#idAbogado').val(codigoAbogadoSgl).change();
                                        }
                                    });
                                }, 100);
                            });


                            var urlMateriaSeleccionada = '@Url.Action("ListDropdownMateriasSeleccionada", "ConsultarSGL")';
                            var dataMateriaPadre = { codigoMateriaPadre: data.data.materiaPadre }
                            CargarComboConCampoSeleccionado("#idMateria", urlMateriaSeleccionada, dataMateriaPadre, 1);

                            var dataMateria = { materiaId: data.data.materiaId };
                            var urlTipoMateria = '@Url.Action("ListDropdownTipoMateriaSeleccionada", "ConsultarSGL")';
                            CargarComboConCampoSeleccionado("#idTipoMateria", urlTipoMateria, dataMateria, 1);
                            $('#idMateria').prop("disabled", true);
                            $('#idTipoMateria').prop("disabled", true);


                            //$('.inhabilitadoColor').css("background-color", "e9ecef")


                            var codigoEstado = data.data.estadoSGL;

                            $('#idEstado').empty();
                            $('#idEstado').select2({
                                placeholder: 'Cargando...',
                                theme: theme
                            });

                            if (codigoEstado == 11) {
                                    $('#idEstado').append($('<option>', { value: -1, text: 'Seleccione...' }));
                                    $('#idEstado').append('</option>');
                                    $('#idEstado').append($('<option>', { value: 11, text: "Ingresados poderes" }));
                                    $('#idEstado').append('</option>');
                                    $('#idEstado').append($('<option>', { value: 12, text: "SGL en Revisión" }));
                                    $('#idEstado').append('</option>');
                            } else {
                                $('#idEstado').append($('<option>', { value: codigoEstado, text: data.data.descripcionEstadoSGL }));
                                $('#idEstado').append('</option>');
                                $('#idEstado').prop("disabled", true);
                            }

                            $('.btns-bajos').attr("hidden", false);
                        }
                    })
                    .fail(function () {
                        $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                        $('#cuerpo-modal-mensaje').html('Ocurrió un error.');

                        $('#modal-mensaje').modal('show');

                        $('#btn-cerrar-modal-mensaje').on("click", function () {
                            var url = '@Url.Action("Index", "ConsultarSGL")';
                            window.location.href = url;
                        });
                    });

            } else {
                $('#idNumSgl').val("");
            }
        }


    ////// Fin Funciones


        $(function (e) {

            var error = '@TempData["Error"]';

            if (error == 'True') {

                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');

                 @{TempData["TituloMensaje"] = false; };
            } else {

                var fechaActual = new Date();
                var month = fechaActual.getMonth() + 1;
                var day = fechaActual.getDate();
                var fechaActualFormateada = (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + fechaActual.getFullYear();

                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                $('#idFechaSolicitud').datepicker({
                    onRender: function (date) {
                        var habilitado = '';
                        if (date.valueOf() > now.valueOf()) {
                            habilitado = 'disabled'
                        } else if (date.getDay() == 0) {
                            habilitado = 'disabled'
                        }
                        return habilitado;
                    }
                });

                $('#idFechaSolicitud').datepicker()
                    .on('changeDate', function (ev) {
                        $(this).datepicker('hide');
                    });

                $('#idRutSolcitante').attr("readOnly", true);
                $('#idNombreSolcitante').attr("readOnly", true);

                var codigoAbogadoSgl;

                var urlSucursal = '@Url.Action("ListDropdownSucursales", "ConsultarSGL")';
                var dataSucursal = { codigoSucursal: $('#idSucursal').val() };
                CargarCombo('#idSucursal', urlSucursal, dataSucursal);

                $('#idMateria').empty();

                $('#idTipoMateria').empty();

                $('#idAbogado').empty();
                //$('#idAbogado').append($('<option>', { value: 0, text: "" }));
                //$('#idAbogado').append('</option>');
                //$('#idAbogado').attr("readOnly", true);

                $('#idEstado').empty();

                $('#idFechaSolicitud').val(fechaActualFormateada);

                $('#idSucursal').on('change', function () {
                    var urlAbogado = '@Url.Action("ListDropdownAbogado", "ConsultarSGL")';
                    var dataSucursal = { codigoSucursal: $('#idSucursal').val() };
                    CargarComboConCampoSeleccionado('#idAbogado', urlAbogado, dataSucursal, 1);

                    $('#idAbogado').on('change', function () {
                        $("#idAbogado option").each(function () {
                            if ($(this).val() == codigoAbogadoSgl) {
                                $('#idSucursal').val(codigoAbogadoSgl).change();
                            }
                        });
                    });

                });

                $('#idRutSociedad').CampoTipoRut();
                $('#idRutSociedad').FormatearRut();
                $('#idRutSociedad').ValidarRut();


                //////////////////////// Validacion N° de SGL
                var boolNumSGL = true;

                $('#idNumSgl').blur(function () {
                    if ($('#idNumSgl').val().length > 9) {
                        boolNumSGL = false;
                        $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                        $('#cuerpo-modal-mensaje').html('Numero de SGL no puede ser de un largo mayor a 9.');
                        $('#modal-mensaje').modal('show');

                        $('#idNumSgl').val('');
                    } else {
                        var ERsoloNumeros = /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/

                        if (!$('#idNumSgl').val().match(ERsoloNumeros)) {
                            boolNumSGL = false;
                            $('#idNumSgl').val('');
                            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                            $('#cuerpo-modal-mensaje').html('SGL debe contener solo numeros.');
                            $('#modal-mensaje').modal('show');
                        } else {
                            boolNumSGL = true;
                        }
                    }
                });
                //////////////////////// Fin



                //////////// Carga formulario completo por SGLid proveniente de ListadoSGL

                var sglDeListar = @ViewBag.Message;
                CargaFormularioPorSGL(sglDeListar)

                /////////// Fin

            }

        //////////////////////// Eventos de botones Buscar

            $('#btnBuscarPorNumSGL').on("click", function () {
                if (!boolNumSGL || $('#idNumSgl').val() == "" ) {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Favor ingrese SGL valida.');
                    $('#modal-mensaje').modal('show');
                } else {
                    CargaFormularioPorSGL($('#idNumSgl').val());
                }
            });

            //Boton Buscar por Rut Sociedad
            $('#btnBuscarPorRutSociedad').on("click", function () {
                if ($('#idRutSociedad').val() == "" || $('#idRutSociedad').val() == "0") {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('El campo Rut Sociedad esta vacío.');

                    $('#modal-mensaje').modal('show');
                } else  {
                    var rutSociedad = $('#idRutSociedad').val().split('-');
                    var url='@Url.Action("ModalSglxRutSociedad", "ConsultarSGL")?ModalSglxRutSociedad=' + rutSociedad[0];

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    $('#titulo-modal-sglxRutSociedad').html('Busqueda de SGL');

                    $('#modal-sglxRutSociedad .modal-body').load(url, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');

                            $('#modal-sglxRutSociedad').modal('show');
                        }, 500);
                    });

                }
            });

            $('#btnBuscarPorNomSociedad').on("click", function () {
                if ($('#idNombreSociedad').val().trim() == "") {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('El campo Nombre Sociedad esta vacío.');
                    $('#modal-mensaje').modal('show');
                } else {
                    var nombreSociedad = $('#idNombreSociedad').val();
                    var url = '@Url.Action("BusquedaxNombreSociedad", "ConsultarSGL")?nombre=' + encodeURIComponent(nombreSociedad);

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    $('#titulo-modal-rutxNombre').html('Busqueda de Sociedades');
                    $('#modal-rutxNombre .modal-body').load(url, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal-rutxNombre').modal('show');
                        }, 500);
                    });
                }
            });

            $('#btnBuscarPorFechaSolicitud').on("click", function () {
                if ($('#idFechaSolicitud').val() == "") {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('El campo fecha Solicitud esta vacío.');

                    $('#modal-mensaje').modal('show');
                }
                else{
                    var fecha = $('#idFechaSolicitud').val();
                    var url = '@Url.Action("ModalBusquedaxFecha", "ConsultarSGL")?fechaBuscar=' + fecha;

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    $('#titulo-modal-sglxFecha').html('Busqueda de SGL');

                    $('#modal-sglxFecha .modal-body').load(url, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal-sglxFecha').modal('show');
                        }, 500);
                    });

                }
            });

        //////////////////////// Fin de eventos de botones Buscar

            //Boton Continuar
            $('#btnContinuar').on("click", function () {

                if ($('#idEstado').val() == 16 || $('#idEstado').val() == 104) {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('SGL en Estado Eliminada.');

                    $('#modal-mensaje').modal('show');
                } else if ($('#idRutSociedad').val() == "" && $('#idNombreSociedad').val() == "") {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Nombre Sociedad en blanco. Por favor corrija.');

                    $('#modal-mensaje').modal('show');

                    $('#btn-cerrar-modal-mensaje').on("click", function () {
                        $('#formulario').submit();
                    });
                } else {
                    $('#formulario').submit();
                }
            });


            //Boton Consultar otra
            $('#btnConsultarOtraSGL').on("click", function () {
                var url = '@Url.Action("Index", "ConsultarSGL")';
                window.location.href = url;
            });


            //Boton Seguimeinto
            $('#btnSeguimiento').on("click", function () {
                if ($('#idNumSgl').val() == "") {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('Favor ingresar N° de SGL.');

                    $('#modal-mensaje').modal('show');
                } else {
                    var numSGL = $('#idNumSgl').val();
                    var url = '@Url.Action("ModalSeguimientoConsultarSGL", "ConsultarSGL")?sgl=' + numSGL;

                    $('#modal-loading').modal({
                        backdrop: 'static',
                        keyboard: false,
                        show: true
                    });

                    $('#titulo-modal-seguimiento').html('Seguimiento');
                    $('#modal-seguimiento .modal-body').load(url, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal-seguimiento').modal('show');
                        }, 500);
                    });
                }
            });


        });



    </script>
}
