﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ListadoSGLDTO

<style>
    .control-label .form-inline {
        margin-bottom: 0;
        justify-content: flex-end;
    }
</style>

<div>
    <form class="col-xl-12 col-md-12 col-sm-12" id="formulario">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-2">
                            <label class="control-label form-inline" style="font-size: 15px;">N° de SGL</label>
                            <input asp-for="SglId" class="form-control campoInput" type="text" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label form-inline" style="font-size: 15px;">Fecha</label>
                            <input asp-for="FechaInicioSGL" class="form-control campoInput" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label form-inline" style="font-size: 15px;">Estado</label>
                            <input asp-for="DescripcionEstadoSGL" class="form-control campoInput" type="text" id="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-row">
                        <div class="col-md-4">
                            @Html.HiddenFor(model => model.RutPersonaSolicitante)
                            @Html.HiddenFor(model => model.DvPersonaSolicitante)
                            <label class="control-label form-inline" style="font-size: 15px;">Rut Solicitante</label>
                            <input class="form-control campoInput" type="text" id="RutPerSolicitante" />
                        </div>
                        <div class="col-md-8">
                            @Html.HiddenFor(model => model.NombrePersonaSolicitante)
                            @Html.HiddenFor(model => model.ApellidoPaternoPersonaSolicitante)
                            @Html.HiddenFor(model => model.ApellidoMaternoPersonaSolicitante)
                            <label class="control-label form-inline" style="font-size: 15px;">Solicitante</label>
                            <input class="form-control campoInput" type="text" id="NombrePerSolicitante" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-row">
                        <div class="col-md-4">
                            @Html.HiddenFor(model => model.Rut)
                            @Html.HiddenFor(model => model.Dv)
                            <label class="control-label form-inline" style="font-size: 15px;">Rut Razón Social</label>
                            <input class="form-control campoInput" type="text" id="RutRazonSocial" />
                        </div>
                        <div class="col-md-8">
                            <label class="control-label form-inline" style="font-size: 15px;">Razón Social</label>
                            <input asp-for="NombrePersona" class="form-control campoInput" type="text" id="" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Historial</h4>
                </div>
                <div class="col-md-12">
                    <table id="HistorialSGLs" class="table table-striped table-bordered" style="width:100%"></table>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    
    $('.campoInput').attr("disabled", true);

    //Rut Solicitante
    var numeroRutSolicitante = $('#RutPersonaSolicitante').val();
    var dvRutSolicitante = $('#DvPersonaSolicitante').val();

    if (dvRutSolicitante == "") {
        $('#RutPerSolicitante').val('');
    } else {
        var numSolicitante = numeroRutSolicitante.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
        numSolicitante = numSolicitante.split('').reverse().join('').replace(/^[\.]/, '');
        $('#RutPerSolicitante').val(numSolicitante + '-' + dvRutSolicitante);
    }

    //Rut Razon Social
    var numeroRutRazonSocial = $('#Rut').val();
    var dvRutRazonSocial = $('#Dv').val();

    if (dvRutRazonSocial == "") {
        $('#RutRazonSocial').val('');
    } else {
        var numRazonSocial = numeroRutRazonSocial.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
        numRazonSocial = numRazonSocial.split('').reverse().join('').replace(/^[\.]/, '');
        $('#RutRazonSocial').val(numRazonSocial + '-' + dvRutRazonSocial);
    }

    $('#NombrePerSolicitante').val($('#NombrePersonaSolicitante').val().trim() + ' ' + $('#ApellidoPaternoPersonaSolicitante').val().trim() + ' ' + $('#ApellidoMaternoPersonaSolicitante').val().trim());


    var fechaInicioSgl = $('#FechaInicioSGL').val();
    $('#FechaInicioSGL').val(fechaInicioSgl.substring(0, 2) + "/" + fechaInicioSgl.substring(3, 5) + "/" + fechaInicioSgl.substring(6, 10))

    
        $('#HistorialSGLs').DataTable({
            'language': languageGrid,
            "processing": true,
            "serverSide": false,
            "destroy": true,
            "ajax": {
                "url": "@Url.Action("ObtenerHistorialSGL", "ConsultarSGL")",
                "type": 'POST',
                "dataType": "json",
                'data': {
                    codigoSGL: $('#SglId').val()
                }
            },
            'columns': [
                {
                    'data': 'estadoDescripcionSGL',
                    sTitle: "Estado",
                },
                {
                    'data': 'fechaSeguimiento',
                    sTitle: "Fecha / Hora"
                },
                {
                    'data': 'responsable',
                    sTitle: "Responsable"
                }
            ],
            'columnDefs': [
                {
                    'targets': [1],
                    'render': function (data, type, row) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var segundos = date.getSeconds();
                        var minutos = date.getMinutes();
                        var day = date.getDate();
                        return (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear() + " " + date.getHours() + ":" + (minutos > 9 ? minutos : "0" + minutos) + ":" + (segundos > 9 ? segundos : "0" + segundos);
                    }
                }
            ]
        });
</script>