﻿@model List<CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.SglsxFechaDTO>

<style>
    .columna-dato {
        cursor: pointer;
        color: #1a62cf;
    }
</style>

<div>
    <form class="col-xl-12 col-md-12 col-sm-12" id="formulario">
        @if (Model[0].mensajeError != null)
        {
            <div style="text-align:center;">
                <h4 class="text-center card card-body d-inline-block">@Model[0].mensajeError</h4>
            </div>
        }
        else
        {
            <table id="idSGLsPorFecha" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>SGL</th>@*0*@
                        <th>Fecha</th>@*1*@
                        <th>Nombre</th>@*2*@
                        <th>Tipo Materia</th>@*3*@
                        <th>Estado</th>@*4*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.SGLId != "" && item.Fecha != "")
                        {
                            <tr>
                                <td class="columna-dato">@item.SGLId</td>
                                <td class="w-15">@item.Fecha</td>
                                <td>@item.Nombre</td>
                                <td>@item.TipoMateria</td>
                                <td>@item.Estado</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </form>
</div>

<script type="text/javascript">

    if ('@Model[0].mensajeError' != "")
    {
        $('.modal-content').removeAttr("style");
        $('#cuerpo-modal-sglxFecha').removeAttr("style");
    } else {
        $('.modal-header').addClass("p-3");
        $('.modal-content').css("height", "80%");
        $('#cuerpo-modal-sglxFecha').css({ "height": "70%", "text-align": "center" });
    }

    $("#idSGLsPorFecha").on('click', '.columna-dato', function () {
        var codSgl = $(this)[0].textContent;
        $("#idNumSgl").val(codSgl);
        $("#modal-sglxFecha").modal('hide');
    });

</script>
