﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ConstitucionYLegalizacionDTO
@{
    ViewData["Title"] = "ConstitucionYLegalizacion";
}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
    #modal-Generico {
        padding-top: 5%;
        overflow-y: initial !important
    }

    tr {
        font-size: 12px;
    }

    .select2-container--open {
        z-index: 200002
    }

</style>
<br />
<div class="form-group">
    <div class="col-md-12">
        <table id="LegalizacionDoc" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="0">#</th>@*0*@
                    <th class="1">Tipo Documento</th>@*1*@
                    <th class="2">Fecha Instrumento</th>@*2*@
                    <th class="3">Notaría</th>@*3*@
                    <th class="4">N° Rep.</th>@*4*@
                    <th class="5">Fecha Inscrp.</th>@*5*@
                    <th class="6">Año Inscrip.</th>@*6*@
                    <th class="7">Fojas</th>@*7*@
                    <th class="8">Número</th>@*8*@
                    <th class="9">Registro</th>@*9*@
                    <th class="10">Fecha Pub Extracto</th>@*10*@
                    <th class="11">Fecha Decreto</th>@*11*@
                    <th class="12">N° Decreto</th>@*12*@
                    <th class="13">Fecha Public. Decreto</th>@*13*@
                    <th class="14" style="display:none">Observaciones</th>@*14*@
                    <th class="15" style="display:none">CodigoDoc</th>@*15*@
                </tr>
            </thead>
        </table>
        <div class="form-group">
            <label style="font-size: 15px;">Observaciones:</label>
            <textarea id="textareaLegalizacion" class="form-control" readonly></textarea>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="agregar" type="button" class="btn btn-primario"><i class="fa fa-plus"></i> Agregar</button>
                <button id="editar" type="button" class="btn btn-primario"><i class="fa fa-edit"></i> Editar</button>
                <button id="borrar" type="button" class="btn btn-primario"><i class="fa fa-trash-alt"></i> Borrar</button>
                <button id="ver" type="button" class="btn btn-primario"><i class="fa fa-info-circle"></i> Ver</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal-->
<div class="modal fade bd-example-modal-lg" id="modal-Generico" tabindex="-1" role="dialog" aria-labelledby="modal-detalle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-Generico"></h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body" id="cuerpo-modal-Generico" style="text-align:center;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer">
                <button id="btn-registrar" class="btn btn-primary">Grabar</button>
                <button id="btn-registrar-cambioLeg" class="btn btn-primary">Grabar</button>
                <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btn-cerrar-modal-mensaje-cambioLeg" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    
    $('#modal-Generico').css("z-index", "200001");

    $('#modal-Generico').modal({
        backdrop: false,
        show: false,
        backdrop: 'static'
    });

    var exito = '@TempData["Exitoso"]';

    if( exito == 'True')
    {
        $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
        $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

        $('#modal-mensaje').modal('show');
    }

    var error = '@TempData["Error"]';

    if (error == 'True')
    {
        document.location.href = "/Login/Login/Home"
        @*$('#titulo-modal-confirmar').html('@TempData["TituloMensaje"]');
        $('#cuerpo-modal-confirmar').html('@TempData["CuerpoMensaje"]');

        $('#modal-confirmar').modal('show');*@
    }


    var tipoPersonaFLEG = @Model.TipoPersonaFLEG.Trim();
    var codTipoPersona = @Model.CodTipoPersona;
    //Oculta las columnas segun el tipo de persona Legal y el tipo de persona
    $(document).ready(function () {

        var codDoc = 0;
        CargaTablaDocumentos();

        $('#borrar').off('click').on("click", function (e) {
            //alert(codDoc);

            codDoc = RetornaRegistroSeleccionado();

            if (codDoc == 0) {
                mensaje = "¡No se ha seleccionado Documento!";
                titulo = "Eliminar Documento";
                MuestraMensajes(titulo, mensaje);
                return;
            } else {

                $('#modal-loading').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

                $.get('@Url.Action("ValidaEliminacion", "Entradacompleta")', { codDocumento: codDoc }, function (data) {
                    if (data == "") {

                        var url = '@Url.Action("ModalEliminaDocumento", "Entradacompleta")?codDocumento=' + codDoc;

                        $('#titulo-modal').html('Mensaje: Eliminar Documento');
                        $('#modal-confirmar .modal-body').load(url, function (response) {
                            setTimeout(function () {
                                $('#modal-loading').modal('hide');
                                $('#titulo-modal-confirmar').html('Eliminar Documento');
                                $('#modal-confirmar').modal('show');
                            }, 500);
                        });

                        $('#btn-aceptar-modal-confirmar').off('click').on("click", function (e) {

                            $("#modal-confirmar").modal('hide');

                            $.ajax({
                                url: "@Url.Action("EliminaDocumento", "Entradacompleta")",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify(codDoc)
                            }).done(function (data) {
                                titulo = "Eliminar Documento";
                                if (data.exitoso) {
                                    mensaje = data.mensaje;
                                    MuestraMensajes(titulo, mensaje);
                                } else {
                                    mensaje = data.mensaje;
                                    MuestraMensajes(titulo, mensaje);
                                }
                            }).fail(function (data) {
                                mensaje = data;                
                                MuestraMensajes(titulo, mensaje);
                            });

                            codDoc = 0;
                            setTimeout(function () {
                                $('#LegalizacionDoc').DataTable().ajax.reload();
                            }, 700);
                        });

                        $("#textareaLegalizacion").val('');

                    } else {
                        mensaje = data;
                        titulo = "Validacion Eliminar Documento";
                        MuestraMensajes(titulo, mensaje)
                        return;
                    }
                });
            }
        });       

        $('#btn-cancelar-modal-confirmar').on("click", function (e) {
            $("#modal-confirmar").modal('hide');
        });

        function MuestraMensajes(titulo, mensaje) {

            $('#titulo-modal-mensaje').html("Mensaje: " + titulo);
            $('#cuerpo-modal-mensaje').html(mensaje);
            $('#modal-mensaje').modal('show');

            $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                $("#modal-mensaje").modal('hide');
                return;
            });
        }

        //Levanta Modal Agregar
        $(document).on('click', "#agregar, #ver, #editar", function (e) {
            e.preventDefault();

            var idBtn = this.id;
            var cont = 0;
            var intCodEPV = 0;
            var intCodReg = 0;
            var CodigosDocumentos = "";
            //console.log("asdasd: " + codDoc)

            $('#LegalizacionDoc').DataTable().rows().data().each(function (value, index) {
                if (value.codigoTipoLegal == 2) {
                    intCodEPV = value.codigoDocumento;
                }

                if (value.codigoTipoLegal == 3 || value.codigoTipoLegal == 4 || value.codigoTipoLegal == 5 || value.codigoTipoLegal == 10) {
                    intCodReg = value.codigoConservador;
                }
                cont++;
            });

            $('#LegalizacionDoc').DataTable().rows().data().each(function (value, index) {
                CodigosDocumentos = CodigosDocumentos + value.codigoDocumento + ";";
            });

            codDoc = RetornaRegistroSeleccionado();

            var url = '@Url.Action("ModalAgregarLegalizacion", "EntradaCompleta")';
            var datosAgregar = {
                Sgl: @Model.Sgl,
                EstadoLegal: @Model.CodigoEstadoLegal,
                TipoSoc: @Model.CodTipoPersona,
                NumFilas: cont,
                CodDoctos: CodigosDocumentos,
                TipoSociedad: "3",
                FechaCons: '@Model.FechaConsulta',
                EscConst: @Model.intTipoLeg,
                TipoPod: tipoPersonaFLEG,
                CodEpv: intCodEPV,
                CodReg: intCodReg,
                PerId: @Model.IdPersona,
                CodDocumento: codDoc
            };
            //console.log(datosAgregar)
            var objeto = JSON.stringify(datosAgregar);

            $.ajax({
                url: "@Url.Action("EnviaDataVistaParcialAgregar", "EntradaCompleta")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: objeto

                //,
                //success: function (data) 
            })
                .done(function (data) {
                    if (data.exitoso) {
                        var url = "";
                        $('#btn-registrar').show();
                        if (idBtn == 'agregar') {
                            window.scrollTo(0, 0);
                            $('#modal-loading').modal({
                                backdrop: 'static',
                                keyboard: false,
                                show: true
                            });
                            titulo = "Agregar Legalización";
                            url = '@Url.Action("ModalAgregarLegalizacion", "EntradaCompleta")';
                        } else if (idBtn == 'ver' || idBtn == 'editar') {

                            if (idBtn == 'ver') {
                                titulo = "Ver Legalización";
                            } else {
                                titulo = "Editar Legalización";
                            }

                            //console.log(codDoc)
                            if (codDoc == 0) {
                                mensaje = "¡No se ha seleccionado Documento!";
                                MuestraMensajes(titulo, mensaje);
                            } else {

                                $('#modal-loading').modal({
                                    backdrop: 'static',
                                    keyboard: false,
                                    show: true
                                });

                                window.scrollTo(0, 0);                            
                                if (idBtn == 'ver') {
                                    $('#btn-registrar').hide();
                                    url = '@Url.Action("ModalVerLegalizacion", "EntradaCompleta")';
                                } else {                                  
                                    url = '@Url.Action("ModalEditarLegalizacion", "EntradaCompleta")';
                                }
                            }
                        }

                        if (url != "") {
                            $('#titulo-modal-Generico').html(titulo);
                            $('#modal-Generico .modal-body').load(url, data.data, function (data) {
                                setTimeout(function () {
                                    $('#modal-loading').modal('hide');   

                                    $('#btn-cerrar-modal-mensaje').show();
                                    $('#btn-cerrar-modal-mensaje-cambioLeg').hide();

                                    if (idBtn == 'agregar') {
                                        $("#tipoLega").prop("disabled", false);
                                        $('#btn-registrar').show();
                                        $('#btn-registrar-cambioLeg').hide();
                                    } else if (idBtn == 'ver') {
                                        $('#btn-registrar').hide();
                                        $('#btn-registrar-cambioLeg').hide();
                                    } else {                                  
                                        $('#btn-registrar').show();
                                        $('#btn-registrar-cambioLeg').hide();
                                    }

                                    $('#modal-Generico').modal('show');
                                }, 1000);
                            });
                                            
                        } else {
                            setTimeout(function () {
                                $('#modal-loading').modal('hide');
                            }, 500);
                        }  
                    } else {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                        }, 500);
                        titulo = " Error";
                        mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                        MuestraMensajes(titulo, mensaje);
                    }           
                })
                .fail(function () {
                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                    }, 500);
                    titulo = "Error";
                    mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                    MuestraMensajes(titulo, mensaje);
                });
        });


        $('#LegalizacionDoc tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $("#textareaLegalizacion").val("");
                codDoc = 0;
            }
            else {
                $('#LegalizacionDoc').DataTable().$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

                $('#LegalizacionDoc').DataTable().rows('.selected').data().each(function (value, index) {
                    codDoc = value.codigoDocumento;
                    //console.log("codDoc: " + codDoc)
                    $("#textareaLegalizacion").val(value.observaciones);
                });
            }
        }); 

    });

    function RetornaRegistroSeleccionado() {
        codDoc = 0;
        $('#LegalizacionDoc').DataTable().rows('.selected').data().each(function (value, index) {
            codDoc = value.codigoDocumento;
        });

        return codDoc;
    }
    function CargaTablaDocumentos() {

        $('#LegalizacionDoc').DataTable({
            'ajax': '/EntradaCompleta/EntradaCompleta/ListaDocumentos?codigoPersona=' + @Model.IdPersona,
            'type': 'GET',
            'destroy': true,
            'language': languageGrid,
            'dataType': "JSON",
            "processing": true,
            "serverSide": false,
            'columns': [
                { 'data': 'contador' },
                { 'data': 'descripcionTipoLegal'},
                { 'data': 'fechaDocumento' },
                { 'data': 'notaria', "width": "15%"},
                { 'data': 'numeroDocumento' },
                { 'data': 'fechaIncorporacion' },
                { 'data': 'anioIncorporacion' },
                { 'data': 'foja' },
                { 'data': 'fojaNumero' },
                { 'data': 'conservador' },
                { 'data': 'fechaPublicacion' },
                { 'data': 'fechaDecreto' },
                { 'data': 'numeroDecreto' },
                { 'data': 'fechaPublicacionDecreto' },
                { 'data': 'observaciones', visible: false  },
                { 'data': 'codigoDocumento', visible: false },
                { 'data': 'codigoTipoLegal', visible: false }
            ]
        });    

        OcultaCampos();
    } 

    function OcultaCampos() {

        switch (tipoPersonaFLEG) {
            case 0:

                $('#LegalizacionDoc').DataTable().column(6).visible(false);
                $('#LegalizacionDoc').DataTable().column(11).visible(false);
                $('#LegalizacionDoc').DataTable().column(12).visible(false);
                $('#LegalizacionDoc').DataTable().column(13).visible(false);

                switch (codTipoPersona) {
                    case 14:
                        $('#LegalizacionDoc').DataTable().column(7).visible(false);
                        $('#LegalizacionDoc').DataTable().column(8).visible(false);
                        $('#LegalizacionDoc').DataTable().column(9).visible(false);
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                    case 15:
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                    case 21:
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                    case 13:
                        $('#LegalizacionDoc').DataTable().column(5).visible(false);
                        $('#LegalizacionDoc').DataTable().column(7).visible(false);
                        $('#LegalizacionDoc').DataTable().column(8).visible(false);
                        $('#LegalizacionDoc').DataTable().column(9).visible(false);
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                }
                break;
            case 1:
                if (codTipoPersona == "9" || codTipoPersona == "11" || codTipoPersona == "12" || codTipoPersona == "4") {

                    $('#LegalizacionDoc').DataTable().column(6).visible(false);
                    $('#LegalizacionDoc').DataTable().column(10).visible(false);
                    $('#LegalizacionDoc').DataTable().column(11).visible(false);
                    $('#LegalizacionDoc').DataTable().column(12).visible(false);
                    $('#LegalizacionDoc').DataTable().column(13).visible(false);

                } else if (codTipoPersona == "5") {
                    $('#LegalizacionDoc').DataTable().column(6).visible(false);
                    $('#LegalizacionDoc').DataTable().column(8).visible(false);
                    $('#LegalizacionDoc').DataTable().column(10).visible(false);
                    $('#LegalizacionDoc').DataTable().column(11).visible(false);
                    $('#LegalizacionDoc').DataTable().column(12).visible(false);
                    $('#LegalizacionDoc').DataTable().column(13).visible(false);
                } else {
                    $('#LegalizacionDoc').DataTable().column(6).visible(false);
                    $('#LegalizacionDoc').DataTable().column(8).visible(false);
                    $('#LegalizacionDoc').DataTable().column(9).visible(false);
                    $('#LegalizacionDoc').DataTable().column(10).visible(false);
                    $('#LegalizacionDoc').DataTable().column(11).visible(false);
                    $('#LegalizacionDoc').DataTable().column(12).visible(false);
                    $('#LegalizacionDoc').DataTable().column(13).visible(false);
                }
                break;
            case 2:

                $('#LegalizacionDoc').DataTable().column(5).visible(false);
                $('#LegalizacionDoc').DataTable().column(6).visible(false);
                $('#LegalizacionDoc').DataTable().column(7).visible(false);
                $('#LegalizacionDoc').DataTable().column(8).visible(false);
                $('#LegalizacionDoc').DataTable().column(9).visible(false);
                $('#LegalizacionDoc').DataTable().column(10).visible(false);
                $('#LegalizacionDoc').DataTable().column(11).visible(false);
                $('#LegalizacionDoc').DataTable().column(12).visible(false);
                $('#LegalizacionDoc').DataTable().column(13).visible(false);
                break;

            case 3:
                switch (codTipoPersona) {
                    case 10:
                        $('#LegalizacionDoc').DataTable().column(5).visible(false);
                        $('#LegalizacionDoc').DataTable().column(6).visible(false);
                        $('#LegalizacionDoc').DataTable().column(7).visible(false);
                        $('#LegalizacionDoc').DataTable().column(8).visible(false);
                        $('#LegalizacionDoc').DataTable().column(9).visible(false);
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                    case 16:
                        $('#LegalizacionDoc').DataTable().column(5).visible(false);
                        $('#LegalizacionDoc').DataTable().column(6).visible(false);
                        $('#LegalizacionDoc').DataTable().column(7).visible(false);
                        $('#LegalizacionDoc').DataTable().column(8).visible(false);
                        $('#LegalizacionDoc').DataTable().column(9).visible(false);
                        $('#LegalizacionDoc').DataTable().column(11).visible(false);
                        $('#LegalizacionDoc').DataTable().column(12).visible(false);
                        $('#LegalizacionDoc').DataTable().column(13).visible(false);
                        break;
                    case 7:
                        $('#LegalizacionDoc').DataTable().column(5).visible(false);
                        $('#LegalizacionDoc').DataTable().column(6).visible(false);
                        $('#LegalizacionDoc').DataTable().column(7).visible(false);
                        $('#LegalizacionDoc').DataTable().column(8).visible(false);
                        $('#LegalizacionDoc').DataTable().column(9).visible(false);
                        $('#LegalizacionDoc').DataTable().column(10).visible(false);
                        break;
                    case 6:
                        $('#LegalizacionDoc').DataTable().column(6).visible(false);
                        $('#LegalizacionDoc').DataTable().column(11).visible(false);
                        $('#LegalizacionDoc').DataTable().column(12).visible(false);
                        $('#LegalizacionDoc').DataTable().column(13).visible(false);
                        break;
                    default:
                }
                break;
        };
    }

</script>
