﻿@model CL.Scotiabank.LegalPartner.ConsultaAPI.Transversal.DTO.ConsultaPersonaJuridicaDatosDTOResponse
@{
    Layout = null;
    ViewData["Title"] = "DatosEstatutos";
    string[] flujoNormal = { "2", "11", "4" };
    string[] flujo1 = { "16", "22", "23", "13" };
    string[] flujo8 = { "3", "9", "12" };
}
<style>
    .table thead th {
        vertical-align: top;
    }

    .modal-xl {
        max-width: 1140px;
    }

    @@media print {
        table {
            page-break-after: auto;
            page-break-inside: auto;
        }

        .modal {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            overflow: visible !important;
        }
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: white;
        opacity: 1;
    }
</style>
<div class="col-md-12">
    <br />
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th><label asp-for="NombreFantasia">Nombre Fantasia</label></th>
                <th> <input asp-for="NombreFantasia" id="NombreFantasia" class="form-control" maxlength="150" /></th>
            </tr>
            <tr>
                <th><label asp-for="Objeto">Objeto</label></th>
                <th><input asp-for="Objeto" id="objeto" class="form-control" maxlength="6450" /></th>
            </tr>
            <tr>
                <th><label asp-for="Domicilio">Domicilio</label></th>
                <th><input asp-for="Domicilio" id="domicilio" class="form-control" maxlength="250" /></th>
            </tr>
            @if (flujoNormal.Contains(Model.CodigoTipoPersona) || flujo1.Contains(Model.CodigoTipoPersona) || flujo8.Contains(Model.CodigoTipoPersona) || Model.CodigoTipoPersona == "7")
            {
                <tr>
                    <th><label asp-for="Duracion">Duracion</label></th>
                    <th> <input asp-for="Duracion" id="duracion" class="form-control" value="Indefinida." maxlength="6450" /></th>
                </tr>
            }
            @if (flujoNormal.Contains(Model.CodigoTipoPersona) || Model.CodigoTipoPersona == "6")
            {
                <tr>
                    <th><label>Capital y Acciones</label></th>
                    <th><button id="InformeCapital" class="btn btn-primario">Ir a</button></th>
                </tr>
            }
            @if (Model.CodigoTipoPersona == "10" || Model.CodigoTipoPersona == "21" || Model.CodigoTipoPersona == "7")
            {
                <tr>
                    <th><label class="form-control">Patrimonio</label></th>
                    <th><button id="InformeCapital" class="btn btn-primario">Ir a</button></th>
                </tr>
            }
            @if (flujo1.Contains(Model.CodigoTipoPersona) || flujo8.Contains(Model.CodigoTipoPersona))
            {
                <tr>
                    <th> <label>Capital y Socios</label></th>
                    <th><button id="InformeCapital" class="btn btn-primario">Ir a</button></th>
                </tr>
            }
            @if (flujoNormal.Contains(Model.CodigoTipoPersona) || flujo1.Contains(Model.CodigoTipoPersona) || flujo8.Contains(Model.CodigoTipoPersona) || Model.CodigoTipoPersona == "7" || Model.CodigoTipoPersona == "5")
            {
                <tr>
                    <th><label asp-for="Administracion"></label></th>
                    <th style="width:70%"><textarea asp-for="Administracion" id="administracion" class="form-control">El Directorio está compuesto por * miembros titulares, los que durarán * años en sus funciones, pudiendo ser reelegidos indefinidamente. No se requerirá la calidad de accionista para ser elegido Director. El quórum para que el Directorio pueda funcionar válidamente será de * miembros y los acuerdos se adoptarán por la mayoría absoluta de los Directores asistentes, decidiendo en caso de empate, quien presida la reunión.</textarea></th>
                </tr>
            }
            @if (Model.CodigoTipoPersona == "6")
            {
                <tr>
                    <th><label asp-for="Administracion"></label></th>
                    <th style="width:70%"><textarea asp-for="Administracion" id="administracion" class="form-control">El Directorio está compuesto por * miembros titulares, los que durarán * años en sus funciones, pudiendo ser reelegidos indefinidamente. No se requerirá la calidad de accionista para ser elegido Director. El quórum para que el Directorio pueda funcionar válidamente será de * miembros y los acuerdos se adoptarán por la mayoría absoluta de los Directores asistentes, decidiendo en caso de empate, quien presida la reunión.</textarea></th>
                </tr>
            }
            @if (Model.CodigoTipoPersona == "10")
            {
                <tr>
                    <td class="align-top"><label asp-for="Administracion"></label></td>
                    <th style="width:70%"><textarea asp-for="Administracion" id="administracion" class="form-control">La Corporación será administrada por un Directorio compuesto de * miembros, elegidos en Asamblea General de fecha * , los que durarán en sus funciones un periodo de * años, pudiendo ser reelegidos. El quorum para que el Directorio pueda funcionar válidamente será de * miembros y los acuerdos se adoptarán por la mayoría absoluta de los Directores asistentes, decidiendo en caso de empate quien presida la reunión. El Presidente, el Vicepresidente, el Secretario General y el Tesorero serán designados en * y durarán * años en sus funciones. El Presidente del Directorio lo será de la Corporación y la representa judicial y extrajudicialmente.</textarea></th>
                </tr>
            }
            <tr>
                <th><label asp-for="Observaciones">Observaciones a la sociedad</label></th>
                <th><input asp-for="Observaciones" id="Observaciones" class="form-control" maxlength="6450" /></th>

                @if (flujoNormal.Contains(Model.CodigoTipoPersona) || flujo8.Contains(Model.CodigoTipoPersona) || Model.CodigoTipoPersona == "7" || Model.CodigoTipoPersona == "5")
                {
                    <th>
                        <select id="cboPredefinido" class="custom-select-lg form-control">
                            @foreach (var item in ViewBag.FormatoPredefinido)
                            {
                                <option>@item</option>
                            }
                        </select>
                    </th>
                }
            </tr>

            <tr>
                <th><label asp-for="FechaActualizacion">Fecha Actualizacion</label></th>

                @if (ViewBag.FechaActualiacion.Contains("3000") || ViewBag.FechaActualiacion.Contains("1900"))
                {
                    <th><input readonly="readonly" class="form-control" value="" id="fechaUltimoEstudio" /></th>
                }
                else
                {
                    <th><input readonly="readonly" id="fechaUltimoEstudio" class="form-control" value="@ViewBag.FechaActualiacion" /></th>
                }
            </tr>
        </thead>
    </table>

    <button id="Grabar" type="button" class="btn btn-primario">Grabar</button>
    <button id="VerInforme" type="button" class="btn btn-primario"><i class="fa fa-info-circle"></i> Ver Informe</button>

</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal-Responder">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body" id="cuerpo-modal-Responder" style="text-align:center;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer">
                <button id="imprimir" type="button" class="btn btn-secondary">Imprimir</button>
                <button id="GrabaCapital" class="btn btn-primario">Grabar</button>
                <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="GrabaInforme" class="btn btn-primario">Grabar</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    $('#modal-Responder').css("z-index", "300000");

    $(function () {

    $('#fechaUltimoEstudio').datepicker();

        $('#VerInforme').on('click', function (e) {
            document.getElementById("GrabaInforme").style.visibility = "visible"
            document.getElementById("GrabaCapital").style.visibility ="hidden"
        EnviarInforme();
        });

        $('#InformeCapital').on('click', function (e) {
            document.getElementById("GrabaCapital").style.visibility = "visible"
            document.getElementById("GrabaInforme").style.visibility = 'hidden';
        InformeCapital();
    });

    $('#cboPredefinido').change(function (e) {
        if ($('select[id=cboPredefinido]').val() == "Sociedad Constituida")
        {
            $('#Observaciones').val('Sociedad legalmente constituída')
        }
        else if ($('select[id=cboPredefinido]').val() == "Fundación Constituida")
        {
            $('#Observaciones').val('Fundación legalmente constituída')
        }
        else if ($('select[id=cboPredefinido]').val() == "Sociedad Cerrada Constituida")
        {
            $('#Observaciones').val('Sociedad Anonima cerrada legalmente constituida')
        }
        else if ($('select[id=cboPredefinido]').val() == "Sociedad Abierta Constituida")
        {
            $('#Observaciones').val('Sociedad Anonima abierta legalmente constituida');
        }
        else if ($('select[id=cboPredefinido]').val() == "Informe Pendiente")
        {
            $('#Observaciones').val('Faltan antecedentes para concluir el informe')
        }
        else if ($('select[id=cboPredefinido]').val() == "Texto Libre")
        {
            $('#Observaciones').val('');
        }
    });


    $('#Grabar').on("click", function (e) {
        e.preventDefault();
        $('#modal-detalle .modal-body').html('<img src="../images/loading.gif"/>');

        var NombreFantasia = $('#NombreFantasia').val()
        var Objeto = $('#objeto').val()
        var Duracion = '@Model.Duracion'
        var Domicilio = $('#domicilio').val()
        var FechaUltimoEstudio = $('#fechaUltimoEstudio').val()
        var CodigoPersona = parseInt('@Model.CodigoPersona')
        var EstadoLegal = '@Model.CodigoEstadoLegal'
        var NombreLegalAnterior = '@Model.NombreLegalAnterior'
        var Administracion = $('#administracion').val()
        var Fuente = '@Model.Fuente'
        var Conclusion = $('#Observaciones').val()
        var FechaPrxVigencia = '@Model.FechaActualizacion'
        var indicadorInforme = 1


        var estatuto = {
            NombreFantasia: NombreFantasia,
            Objeto: Objeto,
            Domicilio: Domicilio,
            FechaUltimoEstudio: FechaUltimoEstudio,
            CodigoPersona: CodigoPersona,
            EstadoLegal: EstadoLegal,
            NombreLegalAnterior: NombreLegalAnterior,
            Duracion: Duracion,
            Administracion: Administracion,
            Fuente: Fuente,
            Conclusion: Conclusion,
            IndicadorInforme: indicadorInforme
        };

        if (NombreFantasia.length == 0)
        {
            $('#titulo-modal-mensaje').html('Mensaje: Error');
            $('#cuerpo-modal-mensaje').html("El nombre famtasia no puede ser vacio");
            $('#modal-mensaje').modal('show');
        }
        else
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: estatuto,
                url: "@Url.Action("EnviarDatoEstatuto", "EntradaCompleta")",
                success: function (data) {
                    if (data.code === 1)
                    {
                        $('#titulo-modal-mensaje').html('Mensaje: Error');
                        $('#cuerpo-modal-mensaje').html("Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.");
                        $('#modal-mensaje').modal('show');
                    }
                    else
                    {
                        $('#titulo-modal-mensaje').html('Aviso: Informacion');
                        $('#cuerpo-modal-mensaje').html("Capital de Socio Actualizado");
                        $('#modal-mensaje').modal('show');
                        $('#modal-mensaje').css('z-index', '400000')
                    }
                }
            });
        }
    });
    });


    function InformeCapital() {
        document.getElementById('imprimir').style.visibility = 'hidden';
        $('#titulo-modal-Responder').html('Ver Informe');
        var infoCapital = {
            Rut: '@Model.Rut',
            CodigoPersona: '@Model.CodigoPersona'
        };

        var enviar = JSON.stringify(infoCapital);

        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: enviar,
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("EnviaDatosInforme","EntradaCompleta")',
            success: function (data) {
                if (data.code === 1)
                {
                    $('#titulo-modal-mensaje').html('Mensaje: Error');
                    $('#cuerpo-modal-mensaje').html("Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.");
                    $('#modal-mensaje').modal('show');
                }
                else
                {
                $('#modal-Responder .modal-body').load('@Url.Action("InformeCapitalSocio", "EntradaCompleta")', data, function (data) {
                    setTimeout(function () {
                        $("#modal-loading").modal('hide');
                        $('#modal-Responder').modal({
                            backdrop: 'static',
                            show: true,
                            keyboard: false
                        });
                    }, 500);
                });
                }
           }
        });
    }

    function printData() {
        $('#modal-Responder').printThis({
            importCSS: true,
            importStyle: true
        });
    }

    function EnviarInforme() {
        document.getElementById('imprimir').style.visibility = 'visible';
        $('#titulo-modal-Responder').html('Ver Informe');

        var tipoSeleccionado = $('#tipoPersona').select2('data')[0].text;

        var info = {
            Rut: '@Model.Rut',
            SGL: '@ViewBag.SGL',
            CodigoPersona: parseInt('@Model.CodigoPersona'),
            TipoPersonaJuridica: tipoSeleccionado,
            NombreFantasia : '@Model.NombreFantasia',
            Duracion : '@Model.Duracion',
            Domicilio : '@Model.Domicilio',
            Objeto : '@Model.Objeto',
            Administracion : '@Model.Administracion',
            Conclusion : '@Model.Observaciones'
        };

        var dto = JSON.stringify(info);

        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: dto,
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("EnviaDatosInforme","EntradaCompleta")',
            success: function (data) {
                if (data.code === 1) {
                    $('#titulo-modal-mensaje').html('Mensaje: Error');
                    $('#cuerpo-modal-mensaje').html("Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.");
                    $('#modal-mensaje').modal('show');
                } else {
                    $('#modal-Responder .modal-body').load('@Url.Action("VerInforme", "EntradaCompleta")', data, function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                            $('#modal-Responder').modal({
                                backdrop: 'static',
                                show: true,
                                keyboard: false
                            });
                        }, 500);
                    });
                }
            }
        });
        }

</script>





