﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ConsultaPersonaDatosDTO
@{
    ViewData["Title"] = "Entrada Completa";

}
<meta charset="utf-8" />
<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right">
                <form method="post" id="formulario">
                    <button id="btnMenu" type="button" class="btn btn-secondary">Menú Principal</button>
                    <button id="cambiarEstado" type="button" class="btn btn-secondary">Cambiar Estado</button>
                    <button id="btn-terminado" type="button" class="btn btn-secondary">Terminado</button>
                    <input asp-for="Rut" type="text" id="rutH" class="d-none form-control" readonly />
                    <input asp-for="IdSgl" value="@ViewBag.Sgl" class="d-none form-control" readonly />
                    <button id="btn-EntradaCompleta" class="btn btn-secondary" asp-area="CabeceraSGL" asp-controller="AsociarSociedadSGL" asp-action="Index">
                        Volver
                    </button>
                    <button id="btnCerrar" type="button" class="btn btn-primary">Cerrar Sesion</button>
                    <button id="btn-Reload" class="btn btn-secondary d-none" asp-area="EntradaCompleta" asp-controller="EntradaCompleta" asp-action="Index">
                        Reload
                    </button>
                </form>
                @*<button id="volver" type="button" class="btn btn-secondary">Volver</button>*@

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Rut" style="font-size: 15px;">Rut:</label>
                    <input asp-for="Rut" type="text" id="rut" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @if (@Model.CodigoTipoPersona != "0")
                    {
                        <label asp-for="CodigoPersona" class="control-label" style="font-size: 15px;">Estado:</label>
                        <select class="form-control" id="estado"></select>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NombrePersona" id="nombrePersona" class="control-label" style="font-size: 15px;">Nombre o Razón Social:</label>
                    <input asp-for="NombrePersona" value="@Model.NombrePersona" id="NombrePersona" class="form-control" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @if (@Model.CodigoTipoPersona != "0")
                    {
                        <label asp-for="CodigoTipoPersona" class="control-label" style="font-size: 15px;">Tipo Persona Juridica:</label>
                        @*<input asp-for="CodigoTipoPersona" value="@Model.CodigoTipoPersona" class="form-control" readonly />*@
                        <select class="form-control" id="tipoPersona"></select>
                    }
                    else
                    {
                        <label class="control-label" style="font-size: 15px;">Tipo Poder:</label>
                        <input value="Poder Persona Natural" class="form-control" readonly />
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @if (@Model.CodigoTipoPersona != "0")
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="modLeg-tab" data-toggle="tab" href="#modLeg" role="tab" aria-controls="home" aria-selected="true">Constitución y Legalización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="estatutos-tab" data-toggle="tab" href="#estatutos" role="tab" aria-controls="profile" aria-selected="false">Datos Estatutos</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" id="poder-tab" data-toggle="tab" href="#poder" role="tab" aria-controls="contact" aria-selected="false">Poderes y Revocaciones</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                @if (@Model.CodigoTipoPersona != "0")
                {
                    <div class="tab-pane fade show active" id="modLeg" role="tabpanel" aria-labelledby="modLeg-tab">
                        @*Vista Partial ConstitucionYLegalizacion*@
                    </div>
                    <div class="tab-pane fade" id="estatutos" role="tabpanel" aria-labelledby="estatutos-tab">
                        @*Vista Partial DatosEstatutos*@
                    </div>
                    <div class="tab-pane fade" id="poder" role="tabpanel" aria-labelledby="estatutos-tab">
                        @*SI ES PERSONA NATURAL SOLO MOSTRAR ESTE TAB*@
                        @*Vista Partial PoderesYRevocaciones*@
                    </div>
                }
                else
                {
                    <div class="tab-pane fade show active" id="poder" role="tabpanel" aria-labelledby="estatutos-tab">
                        @*SI ES PERSONA NATURAL SOLO MOSTRAR ESTE TAB*@
                        @*Vista Partial PoderesYRevocaciones*@
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<!-- Modal Estados SGL-->
<div class="modal fade" id="modal-estadosSGL" tabindex="-1" role="dialog" aria-labelledby="modal-estadosSGL" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document" style="height:100%;">
        <div class="modal-content" style="height:80%;">
            <div class="modal-header" style="height:11%; z-index:1050000;">
                <h5 class="modal-title" id="titulo-modal-estadosSGL"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal" id="cuerpo-modal-estadosSGL" style="text-align:center; height:20%;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer" style="height:10%; z-index:1050000;">
                <button id="btnmodal-cambiarEstado" type="button" class="btn btn-primary" disabled>Aceptar</button>
                <button id.="btn-cerrar-modal-estadosSGL" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Mensaje personalizado-->
<div class="modal fade" id="modal-mensaje-EntradaCom" tabindex="-1" role="dialog" aria-labelledby="modal-mensaje" aria-hidden="true" style="z-index:200001">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-mensaje-EntradaCom"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cuerpo-modal-mensaje-EntradaCom" style="margin: auto; text-align:center;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer">
                <button id="btn-cerrar-modal-mensaje-1" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btn-cerrar-modal-mensaje-2" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmar personalizado-->
@*<div class="modal fade" id="modal-confirmar" tabindex="-1" role="dialog" aria-labelledby="modal-confirmar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo-modal-confirmar"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cuerpo-modal-confirmar" style="margin: auto; text-align:center;">
                </div>
                <div class="modal-footer">
                    <button id="btn-cancelar-modal-confirmar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn-aceptar-modal-confirmar" type="button" class="btn btn-primary">Aceptar</button>
                    <button id="btn-aceptar-modal-cerrar-session" type="button" class="btn btn-primary d-none">Aceptar</button>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#modal-confirmar, #modal-mensaje').modal({
            backdrop: false,
            show: false,
            backdrop: 'static'
        });

        $(document).ready(function () {

            var error = '@TempData["Error"]';

            console.log(error)
            if (error == 'True')
            {
                //alert("Entro")
                var tituloError = "@TempData["TituloMensaje"]";
                var mensajeError = "@TempData["CuerpoMensaje"]";
                MuestraMensajes(tituloError, mensajeError);
            }

            $("#btnCerrar").click(function () {
                $("#btn-cerrar-session").trigger("click");
            });

            $("#btnMenu").click(function () {
                document.location.href = "/Login/Login/Home"
            });

            //var codDocumento = 0;
            var codSgl = @ViewBag.Sgl;
            var rut = @Model.Rut;
            var codigoPersona = @Model.CodigoPersona;
            @*var usuario = @Model.Usuario*@
            var codigoTipoPersona = @Model.CodigoTipoPersona;
            //var codigoRevocacion =
           // console.log('codigo tipo persona entrada completa: ' + codigoTipoPersona)

                var datosModal = {
                    Rut: rut,
                    Sgl: codSgl,
                    CodigoPersona: codigoPersona,
                    CodigoTipoPersona: codigoTipoPersona,
                    Entrada: '@ViewBag.Entrada'
                };

            var objeto = JSON.stringify(datosModal);

            $.ajax({
                url: "@Url.Action("EnviaDataVistaParcial", "EntradaCompleta")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: objeto
            })
                .done(function (data) {
                    if (data.exitoso == true) {
                         if (@Model.CodigoTipoPersona != 0) {
                            //Cargo Tab Constitucion y Legalizacion como vista partial pasando parametros
                            $("#modLeg").load('/EntradaCompleta/EntradaCompleta/ConstitucionYLegalizacion', data.data);

                            //Cargo Tab Constitucion y Legalizacion como vista partial pasando parametros
                            $("#estatutos").load('/EntradaCompleta/EntradaCompleta/CrearDatoEstatuto', data.data);
                        }

                        //Cargo Tab Constitucion y Legalizacion como vista partial pasando parametros
                        $("#poder").load('/EntradaCompleta/DocumentoPoder/Index', data.data);
                    } else {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                        }, 500);
                        titulo = "Mensaje: Error";
                        mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                        MuestraMensajes(mensaje);
                    }
            })
            .fail(function () {
                setTimeout(function () {
                    $('#modal-loading').modal('hide');
                }, 500);
                titulo = "Mensaje: Error";
                mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                MuestraMensajes(mensaje);
            });                

            var urlCargaCombo = '@Url.Action("CargaComboEstado", "Entradacompleta")';
            var dataCombo = { codEstadoLegal: @ViewBag.CodigoEstadoLegal };
            CargarCombo('#estado', urlCargaCombo, dataCombo);

            var urlCargaCombo = '@Url.Action("CargaComboTipoPersona", "Entradacompleta")';
            var dataCombo = { codEstadoLegal: @ViewBag.CodigoEstadoLegal };
            CargarCombo('#tipoPersona', urlCargaCombo, dataCombo);

            $("#tipoPersona").change(function () {
                var codTipoPer = @Model.CodigoTipoPersona;
                var codEstado = $("#estado").val();

                if (codEstado != 1 && $("#tipoPersona").val() != codTipoPer) {
                    //alert("Para realizar esta acción la sociedad debe estar VIGENTE");
                    $('#titulo-modal-mensaje').html('Mensaje: Tipo Persona Juridica');
                    $('#cuerpo-modal-mensaje').html('Para realizar esta acción la sociedad debe estar VIGENTE');
                    $('#modal-mensaje').modal('show');

                    $('#btn-cerrar-modal-mensaje').on("click", function (e) {
                        $("#tipoPersona").val(@Model.CodigoTipoPersona).change();
                        $("#modal-mensaje").modal('hide');
                        return;
                    });
                } else if (codEstado == 1 && $("#tipoPersona").val() != codTipoPer) {

                    $('#titulo-modal-confirmar').html('Mensaje: Tipo Persona Juridica');
                    $('#cuerpo-modal-confirmar').html('¿Desea Realmente Transformar esta Sociedad?');
                    $('#modal-confirmar').modal('show');

                    //btn-cancelar-modal-confirmar
                    $('#btn-cancelar-modal-confirmar').off('click').on("click", function (e) {
                        $("#tipoPersona").val(@Model.CodigoTipoPersona).change();
                        $("#modal-mensaje").modal('hide');                        
                    });

                    $('#btn-aceptar-modal-confirmar').off('click').on("click", function (e) {
                        $("#modal-confirmar").modal('hide');

                        //$("#btn-registrar-cambioLeg").show();
                        $("#agregar").trigger("click");
                        setTimeout(function () {
                            $("#tipoLega").prop("disabled", true);
                            $('#btn-registrar').hide();
                            $('#btn-registrar-cambioLeg').show();
                            $('#btn-cerrar-modal-mensaje').hide();
                            $('#btn-cerrar-modal-mensaje-cambioLeg').show();
                        }, 2000);

                        $('#btn-registrar-cambioLeg').off('click').on("click", function (e) {
                            $("#btn-registrar").trigger("click");

                            setTimeout(function () {
                                $('#btn-cerrar-modal-mensaje-1').hide();
                                $('#btn-cerrar-modal-mensaje-2').show();
                            }, 500);
                        });

                        //btn-cerrar-modal-mensaje-cambioLeg
                        $('#btn-cerrar-modal-mensaje-cambioLeg').on("click", function (e) {
                            $("#tipoPersona").val(@Model.CodigoTipoPersona).change();
                            $("#modal-confirmar").modal('hide');
                            return;
                        });


                        $('#btn-cerrar-modal-mensaje-2').off('click').on("click", function (e) {
                            $("#modal-mensaje").modal('hide');
                            $('#titulo-modal-confirmar').html('Mensaje: Tipo Persona Juridica');
                            $('#cuerpo-modal-confirmar').html('Se ha seleccionado TRANSFORMACIÓN de Sociedad ¿Desea REVOCAR automáticamente todos los PODERES vigentes?');
                            $('#modal-confirmar').modal('show');


                            $('#btn-aceptar-modal-confirmar').off('click').on("click", function (e) {
                                $("#modal-confirmar").modal('hide');
                                $('#modal-loading').modal({
                                    backdrop: 'static',
                                    keyboard: false,
                                    show: true
                                });
                                //alert(window.codDocumento);

                                var paramCambTipoLeg = {
                                    IdSgl: @ViewBag.Sgl,
                                    CodPer: @Model.CodigoPersona,
                                    Texto: "Modificacíon",
                                    CodDocu: window.codDocumento
                                };

                                var objeto = JSON.stringify(paramCambTipoLeg);

                                $.ajax({
                                    url: "@Url.Action("GrabaRevocGral", "Entradacompleta")",
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: objeto
                                    }).done(function (data) {

                                        setTimeout(function () {
                                            $('#modal-loading').modal('hide');
                                        }, 500);
                                        TransformaSociedad(); 
                                        if (!data.exitoso) {
                                            titulo = "Mensaje: Error";
                                            mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                                            MuestraMensajes(mensaje);
                                        }                                   

                                        }).fail(function (data) {
                                            setTimeout(function () {
                                                $('#modal-loading').modal('hide');
                                            }, 500);
                                            titulo = "Mensaje: Error";
                                            mensaje = "Ha ocDFSDFSFDFFFFuevo más tarde o conéctese con el administrador del sistema.";
                                            MuestraMensajes(mensaje);
                                    });
                            });

                            //btn-cancelar-modal-confirmar
                            $('#btn-cancelar-modal-confirmar').off('click').on("click", function (e) {                             
                                TransformaSociedad(); 
                            });
                        });

                    });
                }
            });

            //btn-registrar



            // Cambiar Estado SGL
            $("#cambiarEstado").click(function () {
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("GetSGLPorId", "Entradacompleta")',
                    dataType: 'json',
                    data: { codigoSGL: codSgl}
                })
                .done(function (data) {
                    var codigoEstado = data.codigoEstadoSGL;
                    if (codigoEstado == 15 || codigoEstado == 27 || codigoEstado == 103) {
                        $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                        $('#cuerpo-modal-mensaje').html('No se puede cambiar el estado una vez que la SGL ya ha sido terminada.');
                        $('#modal-mensaje').modal('show');
                    } else {

                        var url = '@Url.Action("ModalCambiarEstadoSGL", "Entradacompleta")?codigoEstado=' + codigoEstado + '&idSgl=' + codSgl;

                        $('#modal-loading').modal({
                            backdrop: 'static',
                            keyboard: false,
                            show: true
                        });

                        $('#titulo-modal-estadosSGL').html('Cambiar Estado SGL');

                        $('#modal-estadosSGL .modal-body').load(url, function (data) {
                            setTimeout(function () {
                                $('#modal-loading').modal('hide');
                                $('#modal-estadosSGL').modal('show');

                            }, 500);

                        });

                    }

                })
                .fail(function () {
                    titulo = "Mensaje: Error";
                    mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                    MuestraMensajes(titulo, mensaje);
                    });
            })

            //Fin Cambiar Estado SGL

        });

        function TransformaSociedad() {
            var paramTransforma = {
                CodPer: @Model.CodigoPersona,
                EliminaSoc: 1,
                TipoPer: $("#tipoPersona").val(),
                NombrePer: '@ViewBag.NombreLegal'
            };

            var objetoTrans = JSON.stringify(paramTransforma);

            $.ajax({
                url: "@Url.Action("TransformaSoc", "Entradacompleta")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: objetoTrans
                }).done(function (data) {

                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                    }, 500);

                    if (!data.exitoso) {
                        titulo = "Mensaje: Error";
                        mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                        MuestraMensajes(mensaje);
                    } else {

                        $('#titulo-modal-mensaje-EntradaCom').html("Mensaje: Tipo Persona Juridica");
                        $('#cuerpo-modal-mensaje-EntradaCom').html("RECUERDE: Reformar Estatutos.");
                        $('#modal-mensaje-EntradaCom').modal('show');

                        $('#btn-cerrar-modal-mensaje-2').off("click").on("click", function (e) {
                            $("#btn-Reload").trigger("click");
                            $("#modal-mensaje-EntradaCom").modal('hide');
                            return;
                        });
                        
                    }                              

                    }).fail(function (data) {
                        setTimeout(function () {
                            $('#modal-loading').modal('hide');
                        }, 500);
                        titulo = "Mensaje: Error";
                        mensaje = "Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.";
                        MuestraMensajes(mensaje);
                });
        }

        function TipoPersonaConfirmacion() {

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#tipoPersona").val(@Model.CodigoTipoPersona).change();
                $("#modal-confirmar").modal('hide');
                return;
            });

            $('#btn-aceptar-modal-confirmar').off('click').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
                $("#agregar").trigger("click");

                $('#titulo-modal-confirmar').html('Mensaje: Tipo Persona Juridica');
                $('#cuerpo-modal-confirmar').html('Se ha seleccionado TRANSFORMACIÓN de Sociedad ¿Desea REVOCAR automáticamente todos los PODERES vigentes?');
                $('#modal-confirmar').modal('show');
                //alert(codDocumento);

                $('#btn-cerrar-modal-mensaje').off('click').on("click", function (e) {
                    $("#modal-confirmar").modal('hide');
                });
            });
        }


        function CargarCombo(idCombo, urlAction, dataAjax) {
            $(idCombo).select2({
                placeholder: 'Cargando...',
            });

            $.ajax({
                method: "GET",
                url: urlAction,
                dataType: 'json',
                data: dataAjax
            })
                .done(function (data) {
                    $(idCombo).empty();
                    //$(idCombo).append($('<option>', { value: @ViewBag.CodigoEstadoLegal, text: "" }));
                    $(idCombo).select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        //placeholder: 'Seleccionar'
                    });

                    if (idCombo == '#estado') {
                        $(idCombo).val(@ViewBag.CodigoEstadoLegal).change();
                    } else if (idCombo == '#tipoPersona') {

                        if (@Model.CodigoTipoPersona != 0) {
                            $(idCombo).val(@Model.CodigoTipoPersona).change();

                            $("#tipoPersona > option").each(function () {
                                //alert(this.text + ' ' + this.value);
                                if (this.value > 2 && this.value < 22 && this.value != @Model.CodigoTipoPersona) {
                                    ('option[value=' + this.value + ']', this).remove();
                                }
                            });
                        }
                    }
                })
                .fail(function () {
                    $(idCombo).select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });
        };

        function MuestraMensajes(titulo, mensaje) {

            $('#titulo-modal-mensaje').html(titulo);
            $('#cuerpo-modal-mensaje').html(mensaje);
            $('#modal-mensaje').modal('show');

            $('#btn-cerrar-modal-mensaje').html("Cerrar");

            $('#btn-cerrar-modal-mensaje').off("click").on("click", function (e) {
                $("#modal-mensaje").modal('hide');
                return;
            });
        }


        function SeteaCodDocumento(codDoc) {
            window.codDocumento = codDoc;

            console.log("1:" + window.codDocumento)
            //alert(codDocumento);
        }

          @*var rutUsuario = '@Model.Rut' + '@Model.Dv';
            console.log(rutUsuario)
            $('#rut').val(rutUsuario).change();
        $('#rut').FormatearRut();*@


        /*Poderes y Revocaciones*/

        $('#poder-tab').on("click", function (e) {
           $('#contenerdorListaDoc').css('display', 'block');
           $('#contenedorPoderesyRevocaciones').css('display', 'none');

        });

        //TODO: mostrar modals pidiendo confirmaciones de terminar la sgl.
        //  redirigir al menu principal en exito.
        $('#btn-terminado').on("click", function (e) {
            $('#titulo-modal-confirmar').html('Mensaje: Alerta');
            $('#cuerpo-modal-confirmar').html('Desea dejar los documentos de poder disponibles para consulta y terminar la SGL?');
            $('#btn-aceptar-modal-cerrar-session').prop('hidden', true);
            $('#modal-confirmar').modal('show');
            $('#btn-aceptar-modal-confirmar').off('click').on('click', function (e) {
                $('#titulo-modal-confirmar').html('Mensaje : Alerta');
                $('#cuerpo-modal-confirmar').html('NO OLVIDE!!: \nGrabar el informe de poder. Si termina la SGL en este momento sin grabar el informe de poder, no podrá consultarlo más tarde.\n¿Desea continuar? ');                
                $('#modal-confirmar').modal('show');
                $('#btn-aceptar-modal-confirmar').off('click').on('click', function (e) {
                    var entrada = '@ViewBag.Entrada';
                    var idSgl = @ViewBag.Sgl;
                    var rut = @Model.Rut;
                    var ingresarSGL = {
                        IdSGL : idSgl,
                        Entrada : entrada,
                        Rut : rut
                    };
                    $.ajax({
                        url: "@Url.Action("TerminarSGL", "EntradaCompleta")",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ingresarSGL
                        }
                    );
                    //mostrar alerta despues de llamado a controlador
                });
            });
           
        });

    </script>
}


