﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.VerInformeCapitalDTO
@{
    Layout = null;
    ViewData["Title"] = "InformeCapitalSocio";
}
<h2>Informe Capital</h2>

<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #contenido {
        font-weight: normal;
    }

    #MontoChileno {
        font-weight: normal;
    }

    #MontoExtranjero {
        font-weight: normal;
    }
    #MontoSocioChileno {
        font-weight: normal;
    }
    #MontoSocioExtranjero {
        font-weight: normal;
    }
</style>
<div class="table-wrapper-scroll-y">
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="form-group">
                <label asp-for="MontoCapital" style="font-size:15px">Monto Capital</label>
                <input asp-for="MontoCapital" class="form-control" value="@Model.MontoCapital" type="text" maxlength="11" />
                <span id="valida">No puede ser vacio</span>
            </div>
        </div>
        <div class="col-md-6 text-left">
            <div class="form-group">
                <label style="font-size:15px">Moneda</label>
                <select class="form-control" id="moneda">
                    @foreach (var item in Model.listaMoneda)
                    {
                        if (item.Codigo == Model.CodigoMoneda)
                        {
                            <option value="@Model.CodigoMoneda" selected>@Model.DescripcionMoneda</option>
                        }
                        else
                        {
                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    }
                </select>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="form-group">
                Cantidad Total Acciones
                <input asp-for="CantidadTotalAcciones" class="form-control" value="@Model.CantidadTotalAcciones" maxlength="13" type="text" />
            </div>
        </div>
        <div class="col-md-6 text-left">
            <div class="form-group">
                Valor Nominal Acciones
                <input asp-for="ValorNominalAccion" class="form-control" value="@Model.ValorNominalAccion" maxlength="13" type="text" />
            </div>
        </div>
    </div>


    <table class="table  table-bordered" style="width:100%" id="Socios">
        <thead class="thead-light">
            <tr>
                <th>Rut Socio</th>
                <th>Nombre</th>
                <th>Aporte</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        @if (Model.listaParticipantes != null)
        {
            @foreach (var item in Model.listaParticipantes)
            {
                <tr>
                    <th><label id="contenido">@item.Rut</label></th>
                    <th><label id="contenido">@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</label></th>
                    @if (Model.CodigoMoneda == "999")
                    {
                        <th><label id="MontoSocioChileno">@item.MontoAporte</label></th>
                    }
                    else
                    {
                        <th><label id="MontoSocioExtranjero">@item.MontoAporte</label></th>
                    }
                    <th><label id="contenido">@item.PorcentajeAporte%</label></th>
                </tr>
            }
        }
    </table>
    <br />


    <table class="table table-striped table-bordered">
        <tr>
            <th>Observaciones</th>
        </tr>
        <tr>
            <th>
                <textarea id="descripcion" class="form-control">@Model.Descripcion</textarea>
            </th>
        </tr>
    </table>
    <br />
</div>
<script>

    $("#CantidadTotalAcciones").keypress(function () {
        $("#CantidadTotalAcciones").val(this.value.match(/[0-9]*/));

    });

    $("#ValorNominalAccion").keypress(function () {
        $("#ValorNominalAccion").val(this.value.match(/[0-9]*/));
    });

    $('#volver').on('click', function (e) {
        e.preventDefault();
        window.history.back();
    });

    $(document).ready(function () {
        document.getElementById("valida").style.visibility = 'hidden';
        $('#MontoSocio')
    });

    $("#MontoCapital,#CantidadTotalAcciones,#ValorNominalAccion ").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 44)
        {
            $("#errmsg").html("Solo Números").show().fadeOut("slow");
            return false;
        }
    });

    $("#CantidadTotalAcciones").keypress(function (e) {
        if (e.which == 44)
        {
            return false;
        }
    });

    $("#ValorNominalAccion").keypress(function (e) {
        if (e.which == 44)
        {
            return false;
        }
    });

    $(document).ready(function () {
        console.log('-1')
        $('select option:contains(' +@Model.CodigoMoneda+')').prop('selected', true).val()
        console.log('1')
        var select = $('#moneda').val();
         var Monto = $('#MontoCapital').val()
        if (Monto == 0)
        {
             $('#titulo-modal-mensaje').html('Mensaje: Error');
             $('#cuerpo-modal-mensaje').html("no puede ser vacio")
             $('#modal-mensaje').modal('show')
             $('#modal-mensaje').css('z-index', '400000')
             $('#MontoCapital').val(1)
         }
         else
         {
             if (select != "999")
             {
                 if (Monto.indexOf(',') < 1)
                 {
                     console.log('no tiene coma')
                     Monto = $('#MontoCapital').val().replace(/[,\/]/g, '').replace(/[.\/]/g, '').trim()
                     var convert = parseInt(Monto)
                     var rnd = Math.round(convert)
                     var chilena = new Intl.NumberFormat().format(rnd);
                     $("#MontoCapital").val(rnd + ',00')
                 }
             }
             else
             {
                 if (Monto.indexOf(',') > 1)
                 {
                     //var convertido = Monto.substr(0, Monto.lastIndexOf(','));
                     //var convert = parseInt(convertido)
                     //var chilena = new Intl.NumberFormat().format(convert);
                     $("#MontoCapital").val(new Intl.NumberFormat().format(parseInt(Monto.substr(0, Monto.lastIndexOf(',')))));
                 }
                 else
                 {
                     //var convert = parseInt(Monto)
                     //var convertido = new Intl.NumberFormat().format(convert);
                     $("#MontoCapital").val(new Intl.NumberFormat().format(parseInt(Monto)));
                 }
             }
         }
    });


    $('#MontoCapital').focusout(function (e){
        var Monto = $('#MontoCapital').val()
        var Moneda = $('#moneda').val()
        console.log(Monto.indexOf(','))
        console.log(Monto.split(','))

        if (Monto.length == 0)
        {
            document.getElementById("valida").style.visibility = 'visible';
            document.getElementById("valida").style.color = 'red';
        }
        else
        {
            if (Moneda == "999")
            {
                console.log('parte 1')
                //Monto = Monto.replace(/[.\/]/g, '')
                //Monto = Monto.replace(/,/g, '')
                $('#MontoCapital').val(Monto.replace(/[.\/]/g, '').replace(/,/g, '').replace(/(?!^)(?=(?:\d{3})+(?:\.|$))/gm, '.'))
                document.getElementById("valida").style.visibility = 'hidden';
            }
            else
            {
                if (!(Monto.indexOf(',')) == '-1')
                {
                    $('#MontoCapital').val(Monto + ",00")
                    document.getElementById("valida").style.visibility = 'hidden';
                }

                if (Monto.length > 10)
                {

                    if (Monto.split(',')[0].length > 10)
                    {
                        Monto = Monto.substr(-8, Monto.length)
                    }
                    else if (Monto.split(',')[1].length > 10)
                    {
                        Monto = Monto.substr(-8, Monto.length)
                    }
                }

                if ((Monto.split(",").length - 1) > 1)
                {
                    
                    Monto = Monto.replace(/,/g, '')
                    Monto = Monto + ","
                    Monto1 = Monto.split(',')[0]

                    

                    if (Monto1.length > 0)
                    {
                       
                        $('#MontoCapital').val(Monto + "00")
                    }
                    else
                    {
                       
                        $('#MontoCapital').val(Monto1 + "0,00")
                    }

                    document.getElementById("valida").style.visibility = 'visible';
                    document.getElementById("valida").style.color = 'red';
                }
                else
                {
                    if (!(Monto.indexOf(',') == '-1'))
                    {
                        if (Monto.indexOf(',') == 0)
                        {
                            if (Monto.split(',')[1].length == 0)
                            {
                                $('#MontoCapital').val("0,00")
                            }
                            else
                            {
                                $('#MontoCapital').val("0" + Monto)
                            }
                        }
                        if (Monto.split(',')[1].length == 0)
                        {
                            Monto = $('#MontoCapital').val(Monto + "00")
                        }

                        if (Monto.split(',')[1].length > 2)
                        {
                            var Monto1 = Monto.split(',')[0]
                            var Monto2 = Monto.split(',')[1]

                            Monto2 = Monto2.substr(-Monto2.length, 2)

                            $('#MontoCapital').val(Monto1 + ',' + Monto2)
                        }
                    }
                    else
                    {
                        if (Moneda == "999")
                        {
                            Monto = Monto.replace(/[.\/]/g, '')
                            Monto = Monto.replace(/,/g, '')
                            $('#MontoCapital').val(Monto.replace(/(?!^)(?=(?:\d{3})+(?:\.|$))/gm, '.'))
                        }
                        else
                        {
                            if (Monto.split(',')[0].length == 0 && Monto.split(',')[1].length == 0) {
                                $('#MontoCapital').val("0,00")
                            }

                            if (Monto.indexOf(",") == -1) {
                                $('#MontoCapital').val(Monto + ",00")

                            }
                        }
                    }
                }
                document.getElementById("valida").style.visibility = 'hidden';
            }
        }
    });

    $("#moneda").change(function (e) {
        var Monto = $('#MontoCapital').val()
        console.log(Monto.indexOf(','))
        if (Monto == '' || Monto.indexOf('') > 1)
        {
            document.getElementById("valida").style.visibility = 'visible';
            document.getElementById("valida").style.color = 'red';
        }
        else
        {
            var opcion = $(this).val();
            if (opcion != "999") {
                if (Monto.indexOf(',') < 1) {
                    //Monto = $('#MontoCapital').val().replace(/[,\/]/g, '').replace(/[.\/]/g, '').trim()
                    //var convert = parseInt(Monto)
                    //var rnd = Math.round(convert)

                    $("#MontoCapital").val((parseInt(Math.round(Monto.replace(/[,\/]/g, '').replace(/[.\/]/g, '').trim()))) + ',00')
                }
            }
            else
            {
                if (Monto.indexOf(',') != -1) {
                    console.log(Monto)
                    $("#MontoCapital").val(new Intl.NumberFormat().format(parseInt(Monto.substr(0, Monto.lastIndexOf(',')))));
                }
            }
        }
    });


    $('#GrabaCapital').on('click', function (e) {
        if ($('#MontoCapital').val() == '' && $('#CantidadTotalAcciones').val() == '' && $('#ValorNominalAccion').val()=='') {
            $('#MontoCapital').val('0')
        };

        if ($('#CantidadTotalAcciones').val() == 0)
        {
            $('#titulo-modal-mensaje').html('Mensaje:Error');
            $('#cuerpo-modal-mensaje').html("La cantidad de acciones no puede ser menor a 0");
            $('#modal-mensaje').modal('show');
            $('#modal-mensaje').css('z-index', '400000')
            $('#CantidadTotalAcciones').val(1)
            e.preventDefault();
        }
        else
        {
            if ($('#ValorNominalAccion').val().length==0) {
                $('#titulo-modal-mensaje').html('Mensaje:Error');
                $('#cuerpo-modal-mensaje').html("El valor nominal de las acciones no puede ser vacio");
                $('#modal-mensaje').modal('show');
                $('#modal-mensaje').css('z-index', '400000')
                $('#CantidadTotalAcciones').val(1)
                e.preventDefault();
            }
            else {


                var grabaCapital = {
                    CodigoPersona: '@Model.CodigoPersona',
                    MontoCapitalIngresa: $('#MontoCapital').val(),
                    CodigoMoneda: $('#moneda').val(),
                    CantidadTotalAccionesIngresa: $('#CantidadTotalAcciones').val(),
                    ValorNominalAccionIngresa: $('#ValorNominalAccion').val(),
                    Descripcion: $('#descripcion').val()
                };


                if ($('#MontoCapital').val().length == 0) {
                    $('#titulo-modal-mensaje').html('Mensaje: Error');
                    $('#cuerpo-modal-mensaje').html("Monto no puede ser vacio");
                    $('#modal-mensaje').modal('show');
                    $('#modal-mensaje').css('z-index', '400000')
                }
                else {
                    var enviar = JSON.stringify(grabaCapital);
                    console.log('envia')
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        data: enviar,
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("AgregarCapitalSocio","EntradaCompleta")',
                        success: function (data) {
                            if (data.code === 1) {
                                $('#titulo-modal-mensaje').html('Aviso: Error');
                                $('#cuerpo-modal-mensaje').html("Error al Grabar, contactese con el administrador");
                                $('#modal-mensaje').modal('show');
                                $('#modal-mensaje').css('z-index', '400000')
                            }
                            else {
                                $('#titulo-modal-mensaje').html('Aviso: Informacion');
                                $('#cuerpo-modal-mensaje').html("Capital de Socio Actualizado");
                                $('#modal-mensaje').modal('show');
                                $('#modal-mensaje').css('z-index', '400000')
                            }
                        }
                    });
                }
            }
        }
    });
</script>


