﻿@model List<CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.EstadoSGLDTO>
<div>
    <form class="col-xl-12 col-md-12 col-sm-12" id="formulario" align="center">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    @foreach (var item in Model)
                    {
                        <div class="custom-control custom-radio pl-0">
                            <input type="radio" class="custom-control-input radioEstado" id="@item.CodigoEstadoSGL"  name="RadioEstados">
                            <label class="custom-control-label" for="@item.CodigoEstadoSGL">@item.DescripcionEstadoSGL</label>
                        </div>
                    }
                </div>
            </div>
    </form>
    @*<div class="mt-3">
        <button id="btnmodal-cambiarEstado" type="button" class="btn btn-primary" disabled>Aceptar</button>
    </div>*@
</div>

<script type="text/javascript">

    if (@Model.Count>2) {
        $('.modal-content').css("height", "80%");
    } else {
        console.log("2 estados");
        $('.modal-content').removeAttr("style");
    }

    var codEstado = 0;

    $(".radioEstado").click(function () {
        codEstado = this.id;
        $("#btnmodal-cambiarEstado").attr("disabled", false);;
    });

    $("#btnmodal-cambiarEstado").click(function () {
        if (codEstado > 0) {
            $("#modal-estadosSGL").modal('hide')
            $.ajax({
                method: "POST",
                url: '@Url.Action("ModificarEstadoSGL", "EntradaCompleta")',
                dataType: 'json',
                data: {
                        codigoSGL: @Model[0].CodigoSGL,
                        codigoEstado: codEstado
                    }
                })
                .done(function (data) {

                    if (data.exitoso) {
                        mensaje = data.mensaje;
                        titulo = "Mensaje: Cambio de Estado";
                        MuestraMensajes(titulo, mensaje);
                    } else {
                        mensaje = data.mensaje;
                        titulo = "Mensaje: Cambio de Estado";
                        MuestraMensajes(titulo, mensaje);
                    }
                })
                .fail(function () {
                    $("#modal-estadosSGL").modal('hide')
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('La eliminación no se realizó correctamente.');

                    $('#modal-mensaje').modal('show');
                });
        } else {
            $("#modal-estadosSGL").modal('hide')
            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
            $('#cuerpo-modal-mensaje').html('No ha seleccionado un estado para modificar el registro.');

            $('#modal-mensaje').modal('show');
        }
    })

</script>