﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.EliminarDocumentoDTO
@{
    ViewData["Title"] = "EliminarDocumento";
}

<div class="row" style="text-align:center; position:center; ">
    <hr />
    <div class="input-group">
        <div class="col-md-12">
            <form asp-action="EliminaDocumento" class="col-xl-12" id="formularioEliminarDocumento">
                @Html.HiddenFor(model => model.CodigoDocumento)

                <label class="control-label col-md-12" style="font-size: 15px;"> ¿Esta seguro que desea eliminar el Documento?'</label>
            </form>
        </div>
    </div>
</div>



