﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.VerInformeCapitalDTO
@{
    Layout = null;
    ViewData["Title"] = "VerInforme";
    string[] flujo1 = { "1", "3", "9", "12", "13", "14", "16", "17", "18", "19", "20", "22", "23" };
    string[] flujo2 = { "2", "4", "6", "11" };
    string[] flujo3 = { "7", "10", "21" };
    string[] flujo4 = { "8", "15", "18" };
    string[] flujo5 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "14", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo6 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo7 = { "0", "1", "2", "4", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo8 = { "0", "1", "3", "2", "4", "5", "6", "8", "9", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo9 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo10 = { "0", "1", "8", "17", "18", "19", "20" };
    string[] flujo11 = { "2", "6", "16", "22", "23" };
    string[] flujo12 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "14", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo13 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo14 = { "0", "1", "2", "4", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo15 = { "0", "1", "2", "3", "4", "5", "6", "8", "9", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo16 = { "0", "1", "2", "4", "5", "6", "8", "9", "11", "12", "15", "17", "18", "19", "20", "21", "22", "23" };
    string[] flujo17 = { "0", "1", "2", "6", "8", "16", "17", "18", "19", "20", "22", "23" };
}
<meta charset="utf-8" />

<h4>DOCUMENTO ELECTRÓNICO</h4>

<style>
    table th {
        text-align: left;
    }

    #th_NombreFantasia {
        width: 60%;
    }

    #Objeto {
        width: 60%;
    }

    hr {
        padding: 0px;
        margin: 0px;
    }

    #first {
        margin-right: 100px;
    }

    #Monto {
        font-weight: normal;
    }

    #contenido {
        font-weight: normal;
    }

    #Rut {
        font-weight: normal;
    }
    #MontoAporte {
        font-weight: normal;
    }
</style>
<div id="areaImprimir" class="table-wrapper-scroll-y">
    <div class="card card-body" style="width:100%">
        <table id="informe" class="table  table-bordered" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Informe Legal de Persona Juridica</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <th><img src="~/images/Logo.gif" alt="Alternate Text" /></th>
                <th>SGL</th>
                <th><label id="contenido">@Model.SGL</label></th>
            </tr>
            <tr>
                <th>Rut</th>
                <th colspan="2"><label id="Rut">@Model.Rut</label></th>
            </tr>
            <tr>
                <th>Razon Social</th>
                <th colspan="2"><label id="contenido">@Model.NombreCompleto</label></th>
            </tr>
            <tr>
                <th>Tipo Persona Juridica</th>
                <th colspan="2"><label id="contenido">@Model.TipoPersonaJuridica</label></th>
            </tr>
            <tr>
                <th>Nombre de Fantasia</th>
                <th id="th_NombreFantasia" colspan="2"><label id="contenido">@Model.NombreFantasia</label></th>
            </tr>
            <tr>
                <th>Domicilio</th>
                <th colspan="2"><label id="contenido">@Model.Domicilio</label></th>
            </tr>

        </table>
        <br />
        <table class="table table-bordered" style="width:100%" id="administracion">
            <thead class="thead-light">
                <tr>
                    <th>Administracion</th>
                </tr>
            </thead>
            <tr>
                <th><label id="contenido">@Model.Administracion</label></th>
            </tr>
        </table>
        <br />
        <table class="table table-bordered" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th id="Objeto">Objeto</th>
                </tr>
            </thead>
            <tr>
                <th><label id="contenido">@Model.Objeto</label></th>
            </tr>
        </table>
        <table class="table table-bordered" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Duración</th>
                </tr>
            </thead>
            <tr>
                <th><label id="contenido">@Model.Duracion</label></th>
            </tr>
        </table>
        <br />
        @if (flujo1.Contains(Model.CodigoPersonaJuridica))
        {
            <table class="table table-bordered" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>Capital</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <th>Monto</th>
                    <th><label id="Monto">@Model.MontoCapital</label></th>
                    <th>Moneda</th>
                    <th><label id="contenido">@Model.DescripcionMoneda</label></th>
                </tr>
            </table>
            <table class="table table-bordered" style="width:100%">
                <thead>
                    <tr class="thead-light">
                        <th>Nombre Socio</th>
                        <th>Capital Aportado</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.listaParticipantes.Count() != 0)
                    {
                        @foreach (var item in Model.listaParticipantes)
                        {
                            <tr>
                                <td><label id="contenido">@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</label></td>
                                <td><label id="MontoAporte">@item.MontoAporte.Split(',')[0]</label></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan='2'>
                                Sin Socios
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (flujo2.Contains(Model.CodigoPersonaJuridica))
        {
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Capital y Acciones</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <th>Monto:</th>
                    <th><label id="monto" style="font-weight:normal;">@Model.MontoCapital</label></th>
                    <th>Descripcion Moneda</th>
                    <th><label id="contenido" style="font-weight:normal;">@Model.DescripcionMoneda</label></th>
                </tr>
                <tr>
                    <th>Cantidad Total Acciones</th>
                    <th><label id="acciones" style="font-weight:normal;">@Model.CantidadTotalAcciones</label></th>
                    <th>Valor Nominal Acciones</th>
                    <th><label id="contenido">@Model.ValorNominalAccion</label></th>
                </tr>
            </table>
        }
        else if (Model.TipoPersonaJuridica == "8")
        {
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Comuneros</th>
                </tr>
            </table>
        }
        else if (flujo3.Contains(Model.CodigoPersonaJuridica))
        {
            <table class="table  table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Patrimonio</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <th>Monto:</th>
                    <th> <label id="monto" style="font-weight:normal;">@Model.MontoCapital</label></th>
                    <th>Moneda:</th>
                    <th><label id="moneda">@Model.DescripcionMoneda</label></th>
                </tr>
            </table>
        }
        <br />
        <br />
        @if (!flujo3.Contains(Model.CodigoPersonaJuridica))
        {
            <div class="row">
                <div class="col-md-12">
                    <label><b>Observaciones Capital</b></label>
                    <textarea disabled="disabled" class="form-control" id="contenido">@Model.Descripcion</textarea>
                </div>
            </div>
            <br />
        }
            <div class="row">
                <div class="col-md-12 ">
                    <label><b>Constitucion Social</b></label>
                    <table class="table table-bordered" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th>Tipo Legalizacion</th>
                                <th>Fec Ins</th>
                                <th>Notaria</th>
                                <th style="border-right-width: 2px;padding-right: 50px;">N° Rep</th>
                                @if (flujo5.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th style="border-right-width: 2px;padding-right: 50px;">Fec Inscr</th>
                                }
                                @if (flujo6.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th style="border-right-width: 2px;padding-right: 50px;">Fojas</th>
                                }
                                @if (flujo7.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th style="border-right-width: 2px;padding-right: 50px;">Nro</th>
                                }
                                @if (!flujo8.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th>Fec Decreto</th>
                                    <th>N° Decreto</th>
                                    <th style="border-right-width: 2px;padding-right: 50px;">Fecha Publicacion Decreto</th>
                                }
                                @if (flujo9.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th>Registro</th>
                                }
                                @if (flujo10.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th>Fecha Publicacion</th>
                                }
                                @if (flujo11.Contains(Model.CodigoPersonaJuridica))
                                {
                                    <th>Fecha Publicacion Extracto</th>
                                }
                            </tr>
                        </thead>
                        @if (Model.ListaDocumentos == null)
                        {
                            <tr>
                                <th>Sin Documentos</th>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.ListaDocumentos)
                            {
                                <tr>
                                    @if (item.CodigoTipoLegal != 2 && item.CodigoTipoLegal != 16)
                                    {
                                        <th><label id="contenido">@item.DescripcionTipoLegal</label></th>

                                        @if (item.CodigoTipoLegal == 13)
                                        {
                                            @if ( item.FechaResolucionQuiebraString == null || item.FechaResolucionQuiebraString.Contains("3000") || item.FechaResolucionQuiebraString.Contains("1900"))
                                            {
                                                <th><label id="contenido"></label></th>
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.FechaResolucionQuiebraString</label></th>
                                            }
                                        }
                                        else
                                        {
                                            @if (item.FechaDocumentoString == null || item.FechaDocumentoString.Contains("3000") || item.FechaDocumentoString.Contains("1900"))
                                            {
                                                <th></th>
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.FechaDocumentoString</label></th>
                                            }
                                        }
                                        @if (item.CodigoTipoLegal == 13)
                                        {
                                            <th><label id="contenido">@item.Juzgado</label></th>
                                        }
                                        else
                                        {
                                            <th><label id="contenido">@item.Notaria</label></th>
                                        }
                                        <th><label id="contenido">@item.NumeroDocumento</label></th>

                                        @if (flujo12.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            @if (item.FechaIncorporacionString == null || item.FechaIncorporacionString.Contains("3000") || item.FechaIncorporacionString.Contains("1900"))
                                            {
                                                <th></th>
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.FechaIncorporacionString</label></th>
                                            }
                                        }
                                        @if (flujo13.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            <th><label id="contenido">@item.Foja</label></th>
                                        }
                                        @if (flujo14.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            <th><label id="contenido">@item.FojaNumero</label></th>
                                        }
                                        @if (!flujo15.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            if (@item.FechaDocumentoString.Contains("3000") || @item.FechaDocumentoString.Contains("1900"))
                                            {
                                                <th><label id="contenido"></label></th>
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.FechaDocumentoString</label></th>
                                            }

                                            <th><label id="contenido">@item.NumeroDocumento</label></th>

                                            @if (item.FechaPublicacionDecretoString == "31/12/3000")
                                            {
                                                <th><label id="contenido">@item.FechaPublicacionQuiebraString</label></th>
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.FechaPublicacionString</label></th>
                                            }
                                        }
                                        @if (flujo16.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            @if (item.CodigoTipoLegal == 13)
                                            {
                                                @if (item.Conservador == null || item.Conservador == "sin información")
                                                {
                                                    <th></th>
                                                }
                                            }
                                            else
                                            {
                                                <th><label id="contenido">@item.Conservador</label></th>
                                            }
                                        }
                                        @if (flujo17.Contains(Model.CodigoPersonaJuridica))
                                        {
                                            @if (item.FechaPublicacionString == "31/12/3000")
                                            {
                                                <th><label id="contenido"></label></th>
                                            }
                                            else
                                            {
                                                @if (item.FechaPublicacionString == null || item.FechaPublicacionString.Length == 0)
                                                {
                                                    <th></th>
                                                }
                                                else
                                                {
                                                    <th><label id="contenido">@item.FechaPublicacionString</label></th>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <th>Observaciones</th>
                                    <th colspan="8"><label id="contenido">@item.Observaciones</label></th>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        <br />
        <table class="table table-bordered" style="width:100%">
            <tr>
                <th style="background-color:#e9ecef">Fecha de proxima actualizacion informe legal de sociedad</th>
                @if (Model.FechaActualizacionString.Contains("1900"))
                {
                    <th><label id="contenido"></label></th>
                }
                else
                {
                    <th><label id="contenido">@Model.FechaActualizacionString</label></th>
                }
            </tr>
        </table>
        <br />
        <table class="table table-bordered" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Observaciones a la sociedad</th>
                </tr>
            </thead>
            <tr>
                <th><label id="contenido">@Model.Observaciones</label></th>
            </tr>
        </table>
        <br />
        <br />
        <div class="row">
            <div class="col-sm">
                <span id="first"><label id="contenido">@Model.FechaActual</label></span>
            </div>
            <div class="col-sm">
                <label id="contenido">@Model.NombreAbogado </label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <span id="first"><label><strong>Fecha</strong></label></span>
            </div>
            <div class="col-sm">
                <label><strong>Nombre y Firma Abogado</strong></label>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#imprimir').on('click', function () {
        printData();
    });
    console.log('hola')
    $("#Rut").FormatearRut();

    $(document).ready(function (e) {

        console.log(document.getElementById("modal-Responder").innerHTML)
        var monto = '@Model.MontoCapital'
        var acciones = '@Model.CantidadTotalAcciones'
        var tipo = '@Model.CodigoMoneda'

        $("#Monto").text(monto.split(',')[0].replace(/(?!^)(?=(?:\d{3})+(?:\.|$))/gm, '.'))
    });

   

    $('#GrabaInforme').on('click', function () {
       
        var html = document.getElementById("modal-Responder").innerHTML
        var Fecha = '@Model.FechaActual'
        var IdSgl = '@Model.SGL'
        var TipoDocumentoLegal = '1'
        var CodigoDocumneto = '0'

      
        var informe = {
            Fecha: Fecha,
            IdSgl: IdSgl,
            DocumentoHtml: html,
            TipoDocumentoLegal: TipoDocumentoLegal,
            CodigoDocumneto: CodigoDocumneto
        };
        
        //var enviar = JSON.stringify(informe)

        $.ajax({
            type: "POST",
            dataType: "json",
            data: informe,
            //contentType: "application/json; charset=utf-8",
            url: '@Url.Action("IngresarInforme","EntradaCompleta")',
            success: function (data) {
                if (data.code === 1)
                {
                    $('#titulo-modal-mensaje').html('Mensaje: Error');
                    $('#cuerpo-modal-mensaje').html("Ha ocurrido un error inesperado, inténtelo de nuevo más tarde o conéctese con el administrador del sistema.");
                    $('#modal-mensaje').modal('show');
                    $('#modal-mensaje').css('z-index', '500000')
                }
                else
                {
                    $('#titulo-modal-mensaje').html('Mensaje: Informacion');
                    $('#cuerpo-modal-mensaje').html("Informe Ingresado");
                    $('#modal-mensaje').modal('show');
                    $('#modal-mensaje').css('z-index', '500000')
                }
            }    
        })
    });

    
</script>
