﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.GrupoFacultadDTO

@{
    Layout = null;
    <!-- ViewData["Title"] = "Detalle Registro Tabla Facultad"; -->
}

<dl class="dl-horizontal" style="text-align:center;">
    <dt>
        <label asp-for="Codigo" style="font-size:15px;"></label>
    </dt>
    <dd>
        <input asp-for="Codigo" class="form-control" readonly/>
    </dd>
    <dt>
        <label asp-for="Descripcion" style="font-size:15px;"></label>                
    </dt>
    <dd>
        <input asp-for="Descripcion"  class="form-control" readonly/>
    </dd>
</dl>

<script type="text/javascript">
    $(function (e) {
        $('#Codigo').val($('#Codigo').val().trim());
        $('#Descripcion').val($('#Descripcion').val().trim());
    });
</script>

