﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.GrupoFacultadDTO

@{
    ViewData["Title"] = "Editar Registro Tabla Grupo Facultad";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                @Html.HiddenFor(model => model.Codigo)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btn-editar" class="btn btn-primario">
                        <i class="fa fa-pen"></i> Editar
                    </button>
                    <button id="btn-limpiar" class="btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <a href='@Url.Action("Index", "GrupoFacultad")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function (e) {

            var error = '@TempData["Error"]';

            if( error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#btn-limpiar').on("click", function () {
                $('#formulario input[type="text"]').val('');
            });

            $('#btn-editar').on("click", function (e) {
                e.preventDefault();

                var formulario = $('#formulario');

                if (formulario.valid()) {
                    $('#titulo-modal-confirmar').html('Confirmar Edición');
                    $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea editar el registro ?');
                    $('#modal-confirmar').modal('show');
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });

            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });
        });


    </script>
}