/*.formulario {
    background-color:red;
    align-items:center;
    align-content:center;
    align-self:center;
    text-align:center;
}*/

.selected {
    background-color: #007bff !important;
    color: #FFF !important;
}

#MandaVigentes td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

#Facultades td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.titulo {
    text-align:center;
    align-content:center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.btn-primario {
    color: #fff;
    background-color: #da3030;
    border-color: #dc3545;
}

    .btn-primario:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-primario:focus, .btn-primario.focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }

    .btn-primario.disabled, .btn-primario:disabled {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-primario:not(:disabled):not(.disabled):active, .btn-primario:not(:disabled):not(.disabled).active,
    .show > .btn-primario.dropdown-toggle {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
    }

        .btn-primario:not(:disabled):not(.disabled):active:focus, .btn-primario:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primario.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }

.btn-secundario {
    color: #fff;
    background-color: #da3030;
    border-color: #dc3545;
}

    .btn-secundario:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-secundario:focus, .btn-secundario.focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }

    .btn-secundario.disabled, .btn-secundario:disabled {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-secundario:not(:disabled):not(.disabled):active, .btn-secundario:not(:disabled):not(.disabled).active,
    .show > .btn-secundario.dropdown-toggle {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
    }

        .btn-secundario:not(:disabled):not(.disabled):active:focus, .btn-secundario:not(:disabled):not(.disabled).active:focus,
        .show > .btn-secundario.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }

/*.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 280px;
    overflow-y: auto;
}*/