﻿@{
    ViewData["Title"] = "Inicio";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<h2 class="text-center">Bienvenido al Sistema SCOLEG</h2>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {

            var error = '@TempData["Error"]';

            if (error == 'True') {

                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');

                 @{TempData["TituloMensaje"] = false; };
            }
            

        });

    </script>
}