﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.LoginDTO

@{
    Layout = null;
    ViewData["Title"] = "Log In";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGL</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awasome/css/all.css">
        <link rel="stylesheet" href="~/css/login.css">
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awasome/css/all.min.css">
        <link rel="stylesheet" href="~/css/login.min.css">
    </environment>

</head>
<body style="background-color:#FAF5F4">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first" style="background-color:red; height:80px; border-radius:10px 10px 0px 0px;">
                <img style="margin-top:5px" src="~/images/logo-scotiabank-blanco.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->
            <form asp-action="Index" style="margin-top:25px" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Rut" type="text" id="Rut" class="fadeIn second" placeholder="Rut usuario">
                    <br />
                    <span asp-validation-for="Rut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" id="Password" class="fadeIn third" placeholder="Password">
                    <br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                    <input id="btn-login" type="button" class="fadeIn fourth" value="Log In">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Olvido su password?</a>
            </div>
        </div>
    </div>

    <!-- Modal Mensajes-->
    <div class="modal fade" id="modal-mensaje" tabindex="-1" role="dialog" aria-labelledby="modal-mensaje" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo-modal-mensaje"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cuerpo-modal-mensaje" style="margin: auto; text-align:center;">
                    <img style="" src="~/images/loading.gif" />
                </div>
                <div class="modal-footer">
                    <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        
        $(function () {

            var error = '@TempData["Error"]';

            if (error == 'True')
            {
                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');
            }

            $('#Rut').CampoTipoRut();

            $('#Rut').FormatearRut();

            $('#Rut').ValidarRut();

            $('#btn-login').on("click", function (e) {
                e.preventDefault();

                var formulario = $('#formulario');

                if (formulario.valid()) {
                    $('#formulario').submit();
                }
            });

        });

    </script>

</body>
</html>
