﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.LoginDTO

@{
    ViewData["Title"] = "Modificar Clave Usuario";
    var modelo = Model;
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ModificarClavePost" class="col-xl-8 offset-xl-2 col-md-8 offset-md-2" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="CadenaPasswordsAnteriores" class="d-none" readonly />
                </div>
                <div class="form-group">
                    <input asp-for="Codigo" class="d-none" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Rut" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Rut" class="form-control" readonly />
                    <span asp-validation-for="Rut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Nombre" class="form-control" readonly />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoPaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoPaterno" class="form-control" readonly />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoMaterno" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ApellidoMaterno" class="form-control" readonly />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordAnterior" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="PasswordAnterior" type="password" class="form-control" />
                    <span asp-validation-for="PasswordAnterior" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmacionPassword" class="control-label col-md-6" style="font-size: 15px;"></label>
                    <input asp-for="ConfirmacionPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmacionPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btn-modificar" class="btn btn-primario">
                        <i class="fa fa-pen"></i> Modificar
                    </button>
                    <button id="btn-limpiar" class="btn btn-default">
                        <i class="fa fa-brush"></i> Limpiar
                    </button>
                    <a href='@Url.Action("Index")' class="btn btn-secondary">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {

            var error = '@TempData["Error"]';

            if (error == 'True') {

                $('#titulo-modal-mensaje').html('@TempData["TituloMensaje"]');
                $('#cuerpo-modal-mensaje').html('@TempData["CuerpoMensaje"]');

                $('#modal-mensaje').modal('show');

                 @{TempData["TituloMensaje"] = false; };
            }


            $('#btn-modificar').on('click', function (event) {
                
                event.preventDefault();

                var formulario = $('#formulario');

                if ($('#Password').val() != $('#ConfirmacionPassword').val()) {

                    $('#titulo-modal-mensaje').html('Error - Coincidencia de Password');
                    $('#cuerpo-modal-mensaje').html('El campo password y su confirmación no coinciden.');

                    $('#modal-mensaje').modal('show');
                }
                else {

                    if (formulario.valid()) {
                        $('#titulo-modal-confirmar').html('Confirmar Modificacion Clave');
                        $('#cuerpo-modal-confirmar').html('¿ Está seguro que desea crear el registro ?');

                        $('#modal-confirmar').modal('show');
                    }
                }
            });

            $('#btn-aceptar-modal-confirmar').on("click", function (e) {

                $('#formulario').submit();
                $("#modal-confirmar").modal('hide');

                $("#modal-loading").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            });

            $('#btn-cancelar-modal-confirmar').on("click", function (e) {
                $("#modal-confirmar").modal('hide');
            });

            ///la contraseña no puede ser igual al rut.

            ///La clave debe ser alfanumerica.

        });

    </script>
}