﻿@model CL.Scotiabank.LegalPartner.SGL.Transversal.DTO.ListadoSGLDTO

@{
    ViewData["Title"] = "Listado de Solicitud de Gestión Legal";
}

<style>
    .form-inline label {
        justify-content: flex-start;
    }
</style>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row">
    @*<div class="col-md-12">*@

    <form class="col-md-12">

        <div class="row">
            <div class="form-group col-lg-6">
                @Html.HiddenFor(model => model.Usuario)
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Usuario*:</label>
                    <select class="form-control col-sm-9" id="idUsuario"></select>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Sucursal:</label>
                    <select class="form-control col-sm-9" id="idSucursal"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Fecha Inicio*:</label>
                    <input class="form-control col-sm-5" onkeydown="return false" id="idFechaInicio" name="date" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Fecha Fin*:</label>
                    <input class="form-control col-sm-5" onkeydown="return false" id="idFechaFin" name="date" placeholder="DD/MM/YYYY" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Abogado:</label>
                    <select class="form-control col-sm-9" id="idAbogado"></select>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="control-label col-sm-2">Estado:</label>
                    <select class="form-control col-sm-9" id="idEstado"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row form-inline">
                    <label class="col-sm-2">Nombre:</label>
                    <input class="form-control col-sm-9" type="text" id="idNombrePersona" maxlength="30"/>
                </div>
            </div>
            <div class="form-group col-lg-6 form-inline">
                <div class="col-sm-8">
                    <label>* Criterios de búsqueda por defecto</label>
                </div>
                <div class="col-sm-3">
                    <button id="btnBuscar" type="button" class="btn btn-secondary">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />

    <div class="col-md-12 tablasSGL pt-5">
        <div style="overflow-x: auto; width:100%">
            <form asp-area="CabeceraSGL" asp-controller="ConsultarSGL" asp-action="Index" method="post" id="formulario" class="col-md-12">
                <input asp-for="SglId" class="d-none" id="idSgl" value="" />
                <table id="ListaSGLs" class="table table-striped table-bordered text-center w-100"></table>
            </form>
        </div>
        <h4 class="text-center" id="mensjae-no-encuentra-sgl" hidden>No se han encontrado SGL que cumplan con los criterios de búsqueda especificados.</h4>
    </div>

    <div class="modal fade" id="modal-cantidad" tabindex="-1" role="dialog" aria-labelledby="modal-cantidad" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo-modal-cantidad"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cuerpo-modal-cantidad" style="margin: auto; text-align:center;">
                </div>
                <div class="modal-footer">
                    <button id="btnmodal-cancelar-cantidad" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnmodal-aceptar-cantidad" type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Seguimiento-->
<div class="modal fade" id="modal-seguimiento" tabindex="-1" role="dialog" aria-labelledby="modal-seguimiento" aria-hidden="true" style="z-index:1050000; height:100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height:100%;">
        <div class="modal-content" style="height:80%;">
            <div class="modal-header pl-3" style="height:10%; z-index:1050000;">
                <h5 class="modal-title" id="titulo-modal-seguimiento" style="line-height:1"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cuerpo-modal pt-0 pl-3" id="cuerpo-modal-seguimiento" style="text-align:center; height:70%; overflow-y: auto;">
                <img style="" src="~/images/loading.gif" />
            </div>
            <div class="modal-footer" style="height:11%; z-index:1050000;">
                <button id="btn-cerrar-modal-mensaje" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        var fechaActual;
        var fechaInicioFormateada;

        cargaCalendario(1);
        
       
        //var dp = $('#idFechaInicio').datepicker();
        //dp.val(fechaInicioFormateada);
        
        ///////////////Fin Funciones


        $(function (e) {

            //console.log("obtiene cantidad")
            var obtCantidadSGLs = {
                Usuario: $('#Usuario').val(),
                FechaInicial: $('#idFechaInicio').val(),
                FechaFinal: $('#idFechaFin').val(),
                Abogado: -1,
                Estado: -1,
                Persona: "",
                Sucursal: -1
            };

            ConsultarCantidadSGL(obtCantidadSGLs);
            
            $('#idFechaInicio, #idFechaFin').datepicker().on('changeDate', function (ev) {
                
                var idSeleccionado = this.id;

                if ($('#idFechaInicio').val() != "" && $('#idFechaFin').val() != "") {
                    var start = $('#idFechaInicio').val().split("/");
                    var end = $('#idFechaFin').val().split("/");

                    var startDay = new Date(start[2], start[1], start[0]);
                    var endDay = new Date(end[2], end[1], end[0]);

                    var millisecondsPerDay = 1000 * 60 * 60 * 24;

                    var millisBetween = endDay.getTime() - startDay.getTime();
                    var days = millisBetween / millisecondsPerDay;

                    //console.log("Days: "+days)

                    if (days < 0) {

                        if (idSeleccionado == "idFechaInicio") {
                            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                            $('#cuerpo-modal-mensaje').html('Fecha Inicio debe ser menor o igual a la de hoy y no puede ser mayor que Fecha Fin.');
                            $('#modal-mensaje').modal('show');

                            $('#idFechaInicio').datepicker('setValue', fechaInicioFormateada); 

                        } else {
                            $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                            $('#cuerpo-modal-mensaje').html('Fecha fin debe ser menor a la de hoy y mayor que Fecha Inicio.');
                            $('#modal-mensaje').modal('show');

                            $('#idFechaFin').datepicker('setValue', fechaActual); 
                            //console.log($('#idFechaFin').val());
                        }
                    }
                }
            });
            

            var urlSucursal = '@Url.Action("ListDropdownSucursales", "ListadoSGL")';
            var dataSucursal = { codigoSucursal: $('#idSucursal').val()};
            CargarCombo('#idSucursal', urlSucursal, dataSucursal);

            var urlEstado = '@Url.Action("ListDropdownEstados", "ListadoSGL")';
            CargarCombo('#idEstado', urlEstado, {});

            CboLimpio(-1, 'Ninguno...', '#idAbogado')
            CboLimpio(-1, 'Ninguno...', '#idUsuario')

            $('#idSucursal').on("change", function () {
                if ($('#idSucursal').val() > 0) {
                    var urlUsuarioPorSucursal = '@Url.Action("ListDropdownUsuarioPorSucursal", "ListadoSGL")';
                    var dataSucursal = { idSucursal: $('#idSucursal').val() };
                    CargarCombo('#idUsuario', urlUsuarioPorSucursal, dataSucursal);

                    var urlAbogado = '@Url.Action("ListDropdownAbogados", "ListadoSGL")';
                    var dataAbogado = { codigoSucursal: $('#idSucursal').val() };
                    CargarCombo('#idAbogado', urlAbogado, dataAbogado);
                } else //if ($('#idSucursal').val() == 0) {
                 {   CboLimpio(-1, 'Ninguno...', '#idAbogado')
                    CboLimpio(-1, 'Ninguno...', '#idUsuario')
                }
            });

            ///// Funciones
            function CargarCombo(idCombo, urlAction, dataAjax) {
                $(idCombo).select2({
                    placeholder: 'Cargando...',
                });

                $.ajax({
                    method: "GET",
                    url: urlAction,
                    dataType: 'json',
                    data: dataAjax
                })
                .done(function (data) {
                    $(idCombo).empty();
                    $(idCombo).append($('<option>', { value: -1, text: 'Seleccione...' }));
                    $(idCombo).append('</option>');
                    $(idCombo).select2({
                        data: data,
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Seleccionar'
                    });
                })
                .fail(function () {
                    $(idCombo).select2({
                        dataType: 'json',
                        theme: theme,
                        language: languageDrop,
                        placeholder: 'Ocurrio un error al obtener los valores.'
                    });
                });
            };

            function CboLimpio(valueCbo, textCbo, idCombo) {
                $(idCombo).empty();
                $(idCombo).select2({
                    theme: theme,
                    language: languageDrop
                });

                $(idCombo).append($('<option>', { value: valueCbo, text: textCbo }));
                $(idCombo).append('</option>');
            }
            ///// Fin Funciones
        });

        $('#btnBuscar').on("click", function () {
            var obtCantidadSGLs = {
                Usuario: $('#idUsuario').val(),
                FechaInicial: $('#idFechaInicio').val(),
                FechaFinal: $('#idFechaFin').val(),
                Abogado: $('#idAbogado').val(),
                Sucursal: $('#idSucursal').val(),
                Estado: $('#idEstado').val(),
                Persona: $('#idNombrePersona').val()
            };

            ConsultarCantidadSGL(obtCantidadSGLs)
        });

        $(document).on('click', '#ListaSGLs #btnSeguimiento', function (e) {
            e.preventDefault();

            var button = $(e.currentTarget);
            var url = button.attr('href');

            $('#modal-loading').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            $('#titulo-modal-seguimiento').html('Seguimiento');

            $('#modal-seguimiento .modal-body').load(url, function (data) {

                setTimeout(function () {
                    $('#modal-loading').modal('hide');
                    $('#modal-seguimiento').modal('show');
                }, 500);
            });
        });

        ////////////////////Funciones
        function ConsultarCantidadSGL(ObjDTORequest) {

            $('#modal-loading').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            $.ajax({
                method: "Post",
                url: '@Url.Action("BuscarCantidadSGLs", "ListadoSGL")',
                dataType: 'json',
                data: { listadoSglDTO : ObjDTORequest },
                success: function (data) {
                    if (data > 1000) {
                        $('#titulo-modal-cantidad').html('Mensaje: Advertencia de exceso de registros');
                        $('#cuerpo-modal-cantidad').html('Los datos proporcionados para la búsqueda arrojarán como resultado un número demasiado elevado de SGL para ser listadas. (Total de SGL encontradas: ' + data + ') ¿Desea continuar?');
                        $('#modal-cantidad').modal('show');

                        $('#btnmodal-aceptar-cantidad').on("click", function (e) {
                            $("#modal-cantidad").modal('hide');
                            CargarTablaSGLs(ObjDTORequest);
                        });

                        $('#btnmodal-cancelar-cantidad').on("click", function (e) {
                            $("#modal-cantidad").modal('hide');
                        });
                    } else {
                        if (data == "Na") {
                            console.log("Na")
                            $('#formulario').attr("hidden", true);
                            $('#mensjae-no-encuentra-sgl').attr("hidden", false);
                        }

                        if (data >= 0) {
                            $('#mensjae-no-encuentra-sgl').attr("hidden", true);
                            $('#formulario').attr("hidden", false);
                            console.log("data " + data)
                            CargarTablaSGLs(ObjDTORequest);
                        }

                    }

                    setTimeout(function () {
                        $('#modal-loading').modal('hide');
                    }, 500);
                }
            })
        }


        function CargarTablaSGLs(objetosFiltro) {

            $('#ListaSGLs').DataTable({
                'language': languageGrid,
                "processing": true,
                "serverSide": false,
                "destroy": true,
                "ajax": {
                    "url": "@Url.Action("BuscarSGLs", "ListadoSGL")",
                    "type": 'POST',
                    "dataType": "json",
                    'data': objetosFiltro
                },
                'columns': [
                    {'data': 'idSgl', sTitle: "N° de SGL"},
                    {'data': 'fechaInicial', sTitle: "Fecha "},
                    {'data': 'nombreSociedad', sTitle: "Nombre o razón social"},
                    { 'data': 'nombreAbogado', sTitle: "Abogado a cargo" },
                    { 'data': 'idAbogado', visible: false },
                    { 'data': 'estadoSGL', visible: false  }
                ],
                'columnDefs': [
                    {
                        'targets': [0],
                        'render': function (data, type, row) {
                            return '<button id="btnConsultarSGL" onclick="EnviarSGL(' + row.idSgl + ')" class="btn btn-primary">' + row.idSgl +'</button>';
                        }
                    },
                    {
                        'targets': [1],
                        'render': function (data, type, row) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            return (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    {
                        'targets': [6],
                        sTitle: "Estado",
                        'render': function (data, type, row) {
                            if (row.estadoSGL == 11) {
                                return '<a id="idEvaluaAbogado" class="stretched-link" onclick="EvaluaAbogado(' + row.idSgl + ', ' + row.idAbogado + ', ' + row.estadoSGL + ')">' + row.descripcionEstadoSGL + '</a>';
                            } else {
                                return row.descripcionEstadoSGL;
                            }
                        }
                    },
                    {
                        sTitle: ".",
                        'targets': [7],
                        'render': function (data, type, row) {
                            return '<a id="btnSeguimiento" type="button" class="btn btn-primary" href="@Url.Action("ModalSeguimiento", "ListadoSGL")?sgl=' + row.idSgl +'">Seguimiento</a>';
                        }
                    }
                ]
            });
        }

        function EnviarSGL(sgl) {
            $("#idSgl").val(sgl);
            $("#formulario").submit();
        }

        function EvaluaAbogado(idSgl, idAbogado, idEstado) {
            if (idAbogado != 0) {
                if (idEstado == 11) {
                    EnviarSGL(idSgl)
                } else {
                    $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                    $('#cuerpo-modal-mensaje').html('No puede cambiar al estado SGL en Revisión');
                    $('#modal-mensaje').modal('show');
                }
            } else {
                $('#titulo-modal-mensaje').html('Mensaje: Advertencia');
                $('#cuerpo-modal-mensaje').html('No ha sido asignado un abogado, no se puede cambiar a SGL en Revisión');
                $('#modal-mensaje').modal('show');
            }
        }


        function cargaCalendario(tipoCarga) {

            var d = new Date();
            var month = d.getMonth();
            var day = d.getDate();

            if (tipoCarga == 1 || tipoCarga == 2) {
                console.log("tipoCarga 1 o 2");
                fechaInicioFormateada = (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + d.getFullYear();
                $('#idFechaInicio').val(fechaInicioFormateada);
                console.log($('#idFechaInicio'))
                console.log($('#idFechaInicio').val())
            }

            if (tipoCarga == 1 || tipoCarga == 3) {
                console.log("tipoCarga 1 o 3");
                var month = d.getMonth() + 1;
                fechaActual = (parseInt(day) > 9 ? day : "0" + day) + "/" + (month.length > 1 ? month : "0" + month) + "/" + d.getFullYear();
                $('#idFechaFin').val(fechaActual);
                console.log($('#idFechaFin'))
                console.log($('#idFechaFin').val())

            }

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            $('#idFechaInicio').datepicker({
                onRender: function (date) {
                    var habilitado = '';
                    if (date.valueOf() > now.valueOf()) {
                        habilitado = 'disabled'
                    } else if (date.getDay() == 0) {
                        habilitado = 'disabled'
                    }
                    return habilitado;
                }
            });

            $('#idFechaInicio').datepicker()
                .on('changeDate', function (ev) {
                    $(this).datepicker('hide');
                });


            $('#idFechaFin').datepicker({
                onRender: function (date) {
                    var habilitado = '';
                    if (date.valueOf() > now.valueOf()) {
                        habilitado = 'disabled'
                    } else if (date.getDay() == 0) {
                        habilitado = 'disabled'
                    }
                    return habilitado;
                }
            });

            $('#idFechaFin').datepicker()
                .on('changeDate', function (ev) {
                    $(this).datepicker('hide');
                });
        };


    </script>
}
